<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <title>ANDрејевићи</title>
    <meta name="description" content="">
    <meta name="theme-color" content="#3F51B5">
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="ANDS">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="ANDS">
    <meta name="google-site-verification" content="ct5R3S5NpEh8aBWgqK0HBq-il5YnGIUIlympBbp6rTU">
    <meta name="keywords" content="gae, google appengine, google app engine, webapp2, vue, vue2, python, html5, andrejevic">
    <link rel="icon" sizes="192x192" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest/icon-192x192.png">
    <meta name="msapplication-TileImage" content="/images/manifest/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#212121">
    <meta name="msapplication-tap-highlight" content="no">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8994922-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8994922-1');
    </script>
  </head>
  <body>
    <div id="app"></div>
    <noscript>Please enable JavaScript to view this website.</noscript>
  </body>
</html>
