# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.git
.gitignore
.gcloudignore
.editorconfig
.idea/
.vscode/

ands
*.pyc

docs/
tests/
graphql/
views/
vue2/

vue3/README.md
vue3/proxy.js
vue3/index.html
vue3/AppIcon.*
vue3/jsconfig.json
vue3/postcss.config.js

api/__pycache__/
api/test_*.py
functions/

**/.*
**/src/
**/src-pwa/
**/public/
**/node_modules/
**/package.json
**/babel.config.js
**/vue.config.js
**/vite.config.js
**/quasar.config.js
**/yarn*

# gcloud meta list-files-for-upload
