ExifRead==2.3.2
Flask==1.1.2
google-cloud-datastore==2.1.0
google-cloud-storage==1.35.0
Pillow==8.0.1
Unidecode==1.1.2
#autopep8==1.5.4
#gunicorn==20.0.4

# pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U
