ExifRead==2.1.2
Flask==1.1.2
google-cloud-datastore==1.13.0
google-cloud-storage==1.29.0
Pillow==7.2.0
Unidecode==1.1.1

# pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U
