Flask==2.2.2
ExifRead==3.0.0
google-cloud-datastore==2.8.1
google-cloud-storage==2.5.0
# autopep8==1.5.4
# gunicorn==20.1.0
# -- functions --
# functions-framework==3.2.0
# Pillow==9.2.0
# firebase-admin==6.1.0

# pip list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip install -U
