{% for comment in object.comment_list %}
	<div class="white">
		<time class="when" datetime='{{ comment.date|date:"Y-m-d\TH:i:sO" }}'>
			<span class="day">{{ comment.date|date:"d" }}</span>
			<span class="time">{{ comment.date|date:"H:i" }}</span>
			<span class="monthyear">{{ comment.date|date:"m 'y" }}</span>
		</time>
		{% if user == comment.author %}
			<a class="delete confirm right" href="/comments/{{ comment.key.urlsafe }}/delete"
				title="{{ _('Delete') }}"><img src="/static/images/delete.png" alt=""/></a>
		{% endif %}
		<div class="body">{{ comment.body|safe }}</div>
		<p class="posted">
			{{ comment.author }},
{#			{% trans with comment.date|timesince as since %}{{ since }} ago{% endtrans %}#}
		</p>
	</div>
{% endfor %}
