{% for comment in object.comment_list() %}
	<div class="white">
		<time class="when" datetime='{{ comment.date|format_datetime }}'>
			<span class="day">{{ comment.date|format_datetime("%d") }}</span>
			<span class="time">{{ comment.date|format_datetime("%H:%M") }}</span>
			<span class="monthyear">{{ comment.date|format_datetime("%m '%y") }}</span>
		</time>
		{% if user == comment.author %}
			<a class="delete confirm right" href="/comments/{{ comment.key.urlsafe }}/delete"
				title="{{ _('Delete') }}"><img src="/static/images/delete.png" alt=""/></a>
		{% endif %}
		<div class="body">{{ comment.body|safe }}</div>
		<p class="posted">
			{{ comment.author }},
{#			{% trans with comment.date|timesince as since %}{{ since }} ago{% endtrans %}#}
		</p>
	</div>
{% endfor %}
