{% import "snippets/macros.html" as m %}
{% for comment in object.comment_list() %}
	<div class="white">
        {{ m.time(comment.date) }}
		{% if user == comment.author %}
			<a class="delete confirm right" href="{{ uri_for('delete', safekey=comment.key.urlsafe()) }}"
				title="{{ _('Delete') }}"><img src="/static/images/delete.png" alt=""/></a>
		{% endif %}
		<div class="body">{{ comment.body|safe }}</div>
		<p class="posted">{{ comment.author }},
            {% trans since=comment.date|timesince %}{{ since }} ago{% endtrans %}
		</p>
	</div>
{% endfor %}
