{% extends "comment/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}
	{{ super() }} - {{ _('Comments') }}
{% endblock %}

{% block subnav %}&nbsp;{% endblock %}

{% block contents %}
    <h2>
        <a href="{{ uri_for('comment_all') }}">{{ _('Comments') }}</a>
        {% if filter and filter.forkind == 'Photo' %}/ {{ _('for photos') }}{% endif %}
        {% if filter and filter.forkind == 'Entry' %}/ {{ _('for blogs') }}{% endif %}
        {% if page != 1 %} [{{ page }}]{% endif %}
    </h2>

	<div id="container">
		{% for object in objects %}
	    	{% if object.is_message %}
	    		<section class="third brick">
                    {{ m.time(object.date) }}
                    <h3>{{ _('message') }}</h3>
                    <div class="body">{{ object.body|safe }}</div>
                    <p class="details">{{ object.author }},
                        {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                    </p>
				</section>
	        {% else %}
	    		<section class="third brick">
                    {{ m.time(object.date) }}
                    {% with refkey=object.key.parent() %}
                        <h3><a href="{{ uri_for(refkey.kind().lower(), slug=refkey.string_id()) }}#comments">
                            {{ refkey.get().headline }}</a></h3>
                        <div class="body">{{ object.body|safe }}</div>
                        <p class="details">{{ object.author }},
                            {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                        </p>
                    {% endwith %}
				</section>
	        {% endif %}
        {% else %}
            <section class="third brick">
                <div class="box orange">
                    <h3>{{ _('No comments sent') }}, {{ _('or filter has no results') }}.</h3>
                </div>
            </section>
		{% endfor %}
	</div>
{% endblock %}
