{% extends "comment/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}
	{{ super() }} - {{ _('Comments') }}
{% endblock %}

{% block subnav %}&nbsp;{% endblock %}

{% block contents %}
    <h2>
        <a href="{{ uri_for('comment_all') }}">{{ _('Comments') }}</a>
        {% if filter %}
            {% if filter.field == 'forkind' and filter.value == 'Photo' %}/ {{ _('for photos') }}{% endif %}
            {% if filter.field == 'forkind' and filter.value == 'Entry' %}/ {{ _('for blogs') }}{% endif %}
            {% if filter.field == 'forkind' and filter.value == 'Application' %}/ {{ _('messages') }}{% endif %}
            {% if filter.field == 'date' %}/ {{ filter.value }}{% endif %}
            {% if filter.field == 'author' %}/ {{ filter.value }}{% endif %}
        {% endif %}
        {% if page != 1 %} [{{ page }}]{% endif %}
    </h2>

	<div id="container">
		{% for object in objects %}
	    	{% if object.is_message %}
	    		<section class="third brick">
                    {{ m.time(object.date) }}
                    <div class="body">
                        <h3>{{ _('message') }}</h3>
                        <div class="para">{{ object.body|safe }}</div>
                        <p class="details">{{ object.author }},
                            {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                        </p>
                    </div>
				</section>
	        {% else %}
	    		<section class="third brick">
                    {{ m.time(object.date) }}
                    {% with refkey=object.key.parent() %}
                        <div class="body">
                            <h3><a href="{{ uri_for(refkey.kind().lower(), slug=refkey.string_id()) }}">
                                {{ refkey.get().headline }}</a></h3>
                            <div class="para">{{ object.body|safe }}</div>
                            <p class="details">{{ object.author }},
                                {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                            </p>
                        </div>
                    {% endwith %}
				</section>
	        {% endif %}
        {% else %}
            <section class="third brick">
                <div class="box">
                    <h3>{{ _('No comments sent') }}, {{ _('or filter has no results') }}.</h3>
                </div>
            </section>
		{% endfor %}
	</div>
{% endblock %}
