@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic,latin);
@import "mixins.less";
@import "font-awesome.less";
@import "jquery.autocomplete.less";

@default_font: "PT Sans", sans-serif;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@google_blue: #0048f1;
@google_red: #ea2434;
@google_orange: #f8a912;
@google_green: #01a514;

@paper: #aaa;
@text: #333;
@neutral: #666;
@light: (@neutral + 2 * @text);
@lighter: (@neutral + @text);
@darker: (@neutral - @text);

@gap: 3%;
@inn: (@gap * 100 / (100% - @gap)); // inner gap
@dashed: 1px dashed @neutral;

.clearing { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
.main_title {
	float: left;
	font-size: 3.2em;
	@media only screen and (max-width: 480px) { display: none; }
	a { color: white; text-decoration: none; }
}
.title_hover {
	a {
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}
.default_button {
	border: none;
	padding: 0.4em 0.8em;
	color: black;
	background-color: white;
	font-size: 1em;
	line-height: 100%;
	.box-sizing(border-box);
	.border-radius(4px);
	&:hover { background-color: @google_orange; text-decoration: none; }
}
.left { float: left; margin-right: 0.5em; }
.right { float: right; margin-left: 0.5em; }

* { margin: 0; padding: 0; }
header, nav, aside, section, article, footer, figure { display: block; }
html, body { height: 100%; }
body {
	background: url(/static/images/bg.jpg) @paper;
	color: @text;
	font-family: @default_font;
    font-size: 14px;
}
a { color: black; outline: none; }
a img { border: none; vertical-align: middle; }
h1, h2, h3 { font-weight: normal; }
h1 { .main_title; }
h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table { margin: 0 0 0.5em; }
h2 { font-size: 1.6em; .title_hover; }
h3 { font-size: 1.3em; .title_hover; }
h4, h5, h6 { font-size: 1em; }
blockquote { padding-left: 1em; border-left: 1em solid white; font-style: italic; }
ul li { list-style: square; }
li { margin-left: 2em; }
ol li { margin-left: 3em; list-style: decimal; }
fieldset { border: none; float: left; clear: left; margin-right: @gap; }
input, textarea, select, option, button {
	color: black;
	background: white;
	font-family: @default_font;
	font-size: 1em;
}
dl {
	border-bottom: @dashed;
	&:last-child { border-bottom: none; }
	&:after { .clearing; }
	dt { float: left; width: 6em; padding: 0.3em 0; font-weight: bold; }
	dd {
		border-left: @dashed;
		margin-left: 6em;
		padding: 0.3em 0 0.3em 0.5em;
		span { padding-left: 0.3em; font-weight: normal; }
	}
	a {
		text-decoration: none;
		&:hover { text-decoration: underline; background: @google_orange; }
		&.selected { background: @google_orange; }
	}
}
pre {
	font-family: @monospaced;
	font-size: 1em;
	overflow: auto;
}
button {
	.default_button;
	&:focus { outline: none; }
	&[disabled], &[disabled]:hover {
		background: @paper;
		color: @neutral;
	}
	&.disabled, &.disabled:hover, &[name$=delete] {
		border-left: 4px solid @neutral;
		border-right: 4px solid @neutral;
	}
	&[name$=delete] {
		border-left: 4px solid @google_red;
		border-right: 4px solid @google_red;
	}
}
button::-moz-focus-inner { border:0; padding:0; }

.form_label {
	margin: 0.5em 0.5em 1em 0;
	width: 10em;
	float: left;
	font-weight: bold;
	text-align: right;
}
.form_input { width: 20em; margin: 0.2em 0; padding: 0.2em; border: 1px solid @lighter; }
.form_focus { border: 1px solid @google_orange; outline: none; }

fieldset {
	p { clear: left; }
	label {
		.form_label;
		&:after { content: ":"; }
	}
	input { .form_input;
		&:focus { .form_focus; }
		&[type=file] { width: 20.5em; padding: 0; border: none; }
		&[disabled] { background: @paper; color: @neutral; }
	}
	select { .form_input; width: 20.5em; padding: 0;
		&:focus { .form_focus; }
		option { padding: 0.2em; }
	}
	textarea { font-family: @monospaced; .form_input; }
	.error {
		display: block;
		font-size: 90%;
		line-height: 100%;
	}
	p.upload {
		margin-bottom: 1px;
		background-repeat: no-repeat;
		background-position: left;
		input { margin-right: 0.5em; width: auto; }
	}
}
.required:before { content: "*\00A0"; /* \00A0 &nbsp; */ }

table {
	font-size: 0.9em; border-collapse: collapse;
	tr {
		border-bottom: @dashed;
		&:last-child { border-bottom: none; }
	}
	th {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.3em;
		border-bottom: 1px solid @neutral;
		font-size: 1.2em;
		text-align: left;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
	}
	td {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.3em;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
		a { text-decoration: underline; }
	}
	&.zebra {
		width: 100%;
		tbody tr:hover { background-color: @light; }
	}
}

.body {
	margin: 0 0 0.5em 5.5em;
	dt { width: 33%; }
	dd { margin-left: 35%; }
	.para { margin-bottom: 0.5em; }
}

// layout
#header {
	position: fixed;
	top: 0;
	width: (100% - 2* @gap);
	height: 5em;
	padding: 1em @gap 0;
	background: fade(@google_blue, 80%);
	z-index: 20;
	.drop-shadow(0, 1px, 10px, 0.5);
	a.icon-home {
		display: none; color: white;
		&:hover { color: @google_orange; }
	}
	@media only screen and (max-width: 480px) {
		padding: 1em @gap 1.5em;
		height: 3.5em;
		a.icon-home { float: left; display: block; }
	}
}
#tools { float: right; }
#footer {
	position: absolute;
	bottom: 8em;
	color: @lighter;
	@media only screen and (max-width: 1024px) { display: none; }
}
#forms {
	float: left;
	width: 100%;
	margin: 1em 0;
	white-space: nowrap;
	&:after { .clearing; }
}
#main {
	padding: 7em 0 0 @gap;
	position: relative;
	min-height: 25em;
	background: url(../images/front.png) no-repeat;
	@media only screen and (max-width: 480px) { background: none; }
}
#container { position: relative; }
.plain { margin-right: @gap; }
#aside {
	width: (100% / 3 - @gap);
	margin-right: @gap;
	float: right;
	@media only screen and (max-width: 1024px) { width: 37%; }
	@media only screen and (max-width: 800px) { width: (100% / 2 - @gap); }
	@media only screen and (max-width: 480px) { display: none; }
}
#port {
	margin: 0 @gap 2em 0; width: 63.66%;
	@media only screen and (max-width: 1024px) { width: 57%; }
	@media only screen and (max-width: 800px) { width: (50% - @gap); }
	@media only screen and (max-width: 480px) { width: (100% - @gap); }
	img {
		max-width: 100%;
		.border-radius(4px);
	}
}
.subtitle {
	margin: 1em 0;
	.title_hover;
	@media only screen and (max-width: 480px) { display: none; }
}

.paginator {
	float: left;
	a {
		.left;
		color: white;
		&:hover { color: @google_orange; }
	}
	span {
		.left;
		color: white;
		&.na { color: fade(black, 70%); }
	}
}

#menu {
	float: right;
    color: white;
	&:hover { color: @google_orange; }
}
.menu {
	display: none;
	position: fixed;
	top: 6em;
	left: 0;
	width: (50% - 2 * @gap);
	height: 100%;
	background: fade(black, 70%);
	padding: 1em @gap 0;
	z-index: 10;
	.menu_item {
		display: block;
		clear: both;
		padding-bottom: 0.5em;
		font-size: 1.8em;
		text-transform: lowercase;
	}
	@media only screen and (max-width: 480px) { width: (100% - 2 * @gap); }
	a {
		color: white;
		text-decoration: none;
		&.Photo, &.Entry, &.News { .menu_item; }
		&.Admin, &.Logout, &.Login { .menu_item;
			@media only screen and (max-width: 800px) { display: none; }
		}
		&.Comment { .menu_item;
			@media only screen and (max-width: 480px) { display: none; }
		}
	}
}

#filters {
	margin-left: 2em;
	a {
		display: inline;
		&.collapse {
			display: block;
			font-size: 1.2em;
			padding-bottom: 0.5em;
			text-transform: lowercase;
		}
		&.graph {
			float: right; text-transform: lowercase;
			@media only screen and (max-width: 480px) { display: none; }
		}
	}
}

.submenu {
	@media only screen and (max-width: 480px) { display: none; }
	a {
		padding-right: 0.3em; border-right: 0.1em solid white;
		&:last-child { padding-right: 0; border-right: none; }
	}
}

#langs {
	float: right;
	@media only screen and (max-width: 800px) {  display: none; }
	button {
		float: left;
		margin-left: 1em;
		padding: 0 0.5em;
		height: 2em;
		color: white;
		background: transparent;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		&.current { background: @google_orange; }
		&:hover { background-color: @neutral; color: white; }
	}
}

#searchForm {
	width: 78%;
	position: relative;
	@media only screen and (max-width: 1024px) { width: 72%; }
	@media only screen and (max-width: 800px) { width: 100%; }
	button {
		position: absolute;
		right: 0;;
		height: 2.4em;
		background: @google_orange;
		.rounded_left_reset;
		&:hover { background-color: @neutral; color: white; }
	}
	input {
		width: 100%;
		padding: 0.1em 4em 0.1em 0.2em;
		border: none;
		background: white;
		color: black;
		font-size: 1.2em;
		height: 2em;
		.box-sizing(border-box);
		.border-radius(4px);
		&:focus { outline: none; }
	}
}

.admin {
	margin-bottom: 1em;
	h4 { margin-bottom: 0.3em; padding: 0.4em 0; line-height: 100%; }
	button { float: right; width: 5em; margin-left: 0.5em; }
	dl {
		margin-right: 5.5em;
		&.w65em {
			dt { width: 6.5em; }
			dd { margin-left: 6.5em; }
		}
	}
	dt { width: 75%; }
	dd { margin-left: 80%; }
	a { text-decoration: underline; }
}

.buttons {
	clear: both;
	margin: 1em 0;
	text-align: right;
	span { float: left; }
}
.error { color: white; }
.required { color: white; }
.errorcode {
    position: absolute;
    top: 1em;
    width: (100% -  @gap);
    font-size: 16em;
    color: fade(black, 30%);
    text-align: center;
	z-index: -1;
	@media only screen and (max-width: 480px) { font-size: 10em; }
}
.formerrors {
	margin: 1em 0;
	padding: 1em;
	width: 29em;
	color: white;
	background: fade(@google_red, 70%);
	min-height: 3em;
	.border-radius(4px);
}

#palette {
	float: right; width: 18em;
	@media only screen and (max-width: 1024px) { display: none; }
	th, td { border: none; }
}

/* markItUp! */
.editor {
	label { margin-top: 0; }
	.defailt_editor {
		padding: 1%;
		width: 98%;
		border: none;
		font-family: @monospaced;
		line-height: normal;
		height: auto;
	}
	.big {
		margin-left: 10.5em;
		.markItUp { width: 100%; }
		.markItUpEditor { .defailt_editor; }
	}
	.small {
		margin-left: 0;
		.markItUp { width: 100%; }
		.markItUpEditor { .defailt_editor; }
	}
}
.markItUpPreviewFrame { border: 1px solid @google_red; padding: 0; }
.markItUpFooter { clear: both; }

#addcommentForm {
	fieldset { margin: 0; float: none; width: inherit; }
	.editor {
		label { display: none; }
		.error { margin-left: 0; }
	}
}

figure {
	p.legend { padding: 0.5em; text-align: center; }
	&.thumbnail {
		// subpixel fix
		margin: 0 @inn 2em 0;
		width: (100% /6 - @inn - 0.01);
		background: fade(white, 50%);
		.border-radius(4px);
		.drop-shadow(0, 0, 2px, 0.3);
		@media only screen and (max-width: 1024px) { width: (100% /4 - @inn - 0.05); }
		@media only screen and (max-width: 800px) { margin: 0 @inn 1.5em 0; width: (100% /3 - @inn - 0.1); }
		@media only screen and (max-width: 480px) { margin: 0 @inn 1em 0; width: (100% /2 - @inn - 0.1); }
		img {
			display: block;
			max-width: 100%;
			.rounded_top;
		}
		p.legend {
			margin: 0;
			line-height: 110%;
		}
		a { text-decoration: none; }
		&:hover { background: @google_orange; }
	}
}

.cloud {
	@size: 1.0em;
	@weight: 200;
	line-height: 135%;
	font-size: @size;
	font-weight: @weight;
	a { color:  white; text-decoration: none;
		&:hover, &.selected { background: @google_orange; color: black; }
	}
	a.t1 { font-size: @size; font-weight: @weight; }
	a.t2 { font-size: @size + 0.1; font-weight: @weight + 100; }
	a.t3 { font-size: @size + 0.2 ; font-weight: @weight + 200; }
	a.t4 { font-size: @size + 0.3; font-weight: @weight + 300; }
	a.t5 { font-size: @size + 0.4; font-weight: @weight + 400; }
	a.t6 { font-size: @size + 0.6; font-weight: @weight + 500; }
	a.t7 { font-size: @size + 0.7; font-weight: @weight + 600; }
	a.t8 { font-size: @size + 0.8; font-weight: @weight + 700; }
}

.story {
	h1, h2, h3, h4 {
		top: auto;
		position: relative;
		border: none !important;
		clear: both;
		font-family: @default_font;
		font-size: 1.4em;
		line-height: normal;
	}
	img { float: left; margin-right: 0.5em; max-width: 100%; height: auto; }
	td img { display: none; }
	dt { float: none; margin-bottom: 0.5em; padding: 0; width: auto; }
	dd { border: none; margin: 0; padding: 0; }
	blockquote { border-left: 1em solid white; }
	pre { font-size: 0.8em; }
}

#comments, #exif { clear: both; margin-top: 2em; }
.when {
	width: 2.2em;
	float: left;
    color: white;
	font-size: 2.2em;
	position: relative;
	.day {
		position: absolute;
		top: -0.25em;
		left: 0;
	}
	.year, .month { display: block; font-size: 42%; line-height: 100%; text-align: right; }
}

.details {
	clear: both;
	margin: 0.5em 0;
	padding-top: 0.2em;
	border-top: @dashed;
	font-size: 91%;
	text-align: right;
}
#spectra {
	@media only screen and (max-width: 800px) { display: none; }
	.item { float: left; width: 0.8em; height: 1.2em; margin: 0 1px 1px 0; }
}
.slider { float: left; width: 20em; }

.front {
	color: white;
	@media only screen and (max-width: 800px) { display: none; }
	a { color: white; }
}
.box {
    padding: 1em;
    background: fade(white, 50%);
	.border-radius(4px);
	.drop-shadow(0, 0, 2px, 0.3);
}
.third {
	float: left;
	margin: 0 @gap 2em 0;
	width: (100% /3 - @gap);
	@media only screen and (max-width: 1024px) { margin: 0 @gap 1em 0; width: (100% /2 - @gap); }
	@media only screen and (max-width: 480px) { width: (100% - @gap); }
}

@hilite: #ffe657;
.hilite1 { color: black; background: @hilite; }
.hilite2 { color: black; background: spin(@hilite, 60); }
.hilite3 { color: black; background: spin(@hilite, 120); }
.hilite4 { color: black; background: spin(@hilite, 180); }

#overlay, .modal {
	width: 100%;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
	opacity: 0.3;
}
.modal {
	display:none;
	background: transparent;
	opacity: 1;
	z-index: 1020;
	.popup {
		width: 440px;
		margin-left: -220px;
		position: absolute;
		background: @lighter;
		color: black;
		top: 150px;
		left: 50%;
		z-index: 1030;
		.border-radius(4px);
		@media only screen and (max-width: 480px) {
			width: 280px;
			margin-left: -140px;
			top: 40px;
		}
		h4 {
			margin: 0;
			padding: 0 0.6em;
			color: white;
			background: @darker;
			font-size: 1.6em;
			line-height: 200%;
			border-top-left-radius: 4px;
			.rounded_top;
		}
		a.close { position: absolute; top: 0.3em; right: 0.5em; color: @neutral; &:hover { color: white; }}
		.content { padding: 1em; min-height: 32px; &:after { .clearing; }}
		.buttons { margin: 0; line-height: normal; }
	}
}

.dot {
	display: inline-block !important;
	border-style: solid;
	border-width: 1em;
	text-decoration: none;
	line-height: 0;
	.border-radius(1em);
}

#spinner {
	margin: -50px 0 0 -50px;
	width: 100px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	height: 100px;
	z-index: 1010;
	div {
		width: 12%;
		background: white;
		height: 26%;
		position: absolute;
		left: 44.5%;
		top: 37%;
		opacity: 0;
		.border-radius(50px);
		.animation(fade 1s linear infinite);
	}
	@iterations: 12;
	.loop (@index) when (@index > 0) {
		(~".bar@{index}") {
			@delay: (1s * @index / @iterations - 1);
			.transform(rotate(0deg + @index * 30) translate(0, -142%));
			.animation-delay(@delay);
		}
		.loop (@index - 1);
	}
	.loop (0) {}
	.loop (@iterations);
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

.masonry {
	.transition-duration(0.7s);
	.transition-property(height, width);
	.masonry-brick {
		.transition-duration(0.7s);
		.transition-property(top, left);
	}
}

#chart + p { margin: 0.5em 0 0; font-size: 0.9em; }
.collapse, .ff, .ss { cursor: pointer; }
.remove { color: white; &:hover { color: @darker; }}
.delete { color: white; &:hover { color: @google_red; }}
.nowrap { white-space: nowrap; }
.hide { display: none; }
.clear { clear: both; }
.last { margin-right: 0 !important; padding-right: 0 !important; }