@import url(http://fonts.googleapis.com/css?family=PT+Sans:regular,bold&subset=cyrillic,latin);
@import url(jquery.autocomplete.css);
* { margin: 0; padding: 0; }
header, nav, aside, section, article, footer, figure { display: block; }
body {
	background: url(/static/images/bg.jpg) #aaa;
    height: 100%;
	color: #222;
	font-family: "PT Sans", sans-serif;
    font-size: 13px;
}
a { color: #000; outline: none; }
a img { border: none; vertical-align: middle; }
h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table { margin: 0 0 0.5em; }
h1 {
	position: absolute;
	top: 0.5em;
	left: 0;
	font-size: 3.2em;
	font-weight: normal;
}
h1 a { color: #000; text-decoration: none; }
h2 { font-size: 1.8em; font-weight: normal; }
h2 a { text-decoration: none; }
h2 a:hover { text-decoration: underline; }
h3 { font-size: 1.4em; }
h3 a { text-decoration: none; }
h3 a:hover { text-decoration: underline; }
h4, h5, h6 { font-size: 1em; }
blockquote { padding-left: 1em; border-left: 1em solid #c00; font-style: italic; }
ul li { list-style: square; }
li { margin-left: 2em; }
ol li { margin-left: 3em; list-style: decimal; }
fieldset { border: none; float: left; clear: left; margin-right: 3%; }
input, textarea, select, option, button {
	color: #000;
	background: #fff;
	font-family: "PT Sans", sans-serif;
	font-size: 1em;
}
button::-moz-focus-inner { border:0; padding:0; }
dl { border-bottom: 1px dashed #666; }
dl:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
dl:last-child { border-bottom: none; }
dt { width: 6em; float: left; padding: 0.5em 0; font-weight: bold; }
dd {
	border-left: 1px dashed #666;
	margin-left: 6em;
	padding: 0.5em 0 0.5em 0.5em;
}
dt span { padding-left: 0.3em; font-weight: normal; }
dl a { text-decoration: none; }
dl a:hover { text-decoration: underline; }
dl a:hover, dl a.selected { background: orange; }
.admin { margin-bottom: 1em; }
.admin dl { margin-right: 5.5em; color: #000; }
.admin dt { width: 75%; }
.admin dd { margin-left: 80%; }
.admin a { text-decoration: underline; }
.body dt { width: 33%; }
.body dd { margin-left: 35%; }
.w65em dt { width: 6.5em; }
.w65em dd { margin-left: 6.5em; }
pre {
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
	font-size: 1em;
	overflow: auto;
}
/* layout */
#max { margin: 0 auto; max-width: 1680px; min-height: 25em; background: url(../images/front.png) no-repeat; }
#header { position: relative; height: 6em; margin: 0 3%; padding-top: 1.5em; }
#tools { position: relative; float: right; width: 31.33%; }
#footer { position: absolute; bottom: 2em; color: #999; }
#forms { margin-bottom: 1em; }
#main { margin-left: 3%; padding-bottom: 1px; position: relative; }
.plain { margin-right: 3%; }
.nomargin { margin: 0; }
#aside { width: 30.33%; margin-right: 3%; float: right; }
#port { margin: 0 3% 2em 0; width: 63.66%; }
.subtitle { margin: 1em 0; }
.subtitle a { text-decoration: underline; }
.copyright { color: #fff; }
/* paginator */
.paginator { float: left; }
.paginator span, .paginator a {
	float: left;
	display: inline-block;
	margin-right: 0.4em;
	width: 1em;
	font-size: 4em;
	height: 1em;
	line-height: 80%;
	background: rgba(255,255,255,0.5);
    color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.paginator .na { color: #666; }
/* menu */
#menu {
	float: right;
	display: inline-block;
    width: 1em;
    font-size: 4em;
    font-weight: bold;
    height: 1em;
    line-height: 100%;
	background: rgba(255,255,255,0.5);
    color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.paginator a:hover, a#menu:hover { background-color: orange; }
.menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 44%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	padding: 0 3%;
	z-index: 10;
}
.menu h1 { position: relative; margin-bottom: 1em; }
.menu a { color: #fff; text-decoration: none; }
.menu a.Photo, .menu a.Entry, .menu a.Comment, .menu a.News, .menu a.Admin, .menu a.Logout, .menu a.Login {
	display: block;
    padding-bottom: 0.5em;
	font-size: 1.8em;
	text-transform: lowercase;
}
#filters { margin-left: 2em; }
#filters a { display: inline; }
#filters a.collapse {
	display: block;
    font-size: 1.2em;
    padding-bottom: 0.5em;
	text-transform: lowercase;
}
#filters a.graph { float: right; text-transform: lowercase; }
.submenu a { padding-right: 0.3em; border-right: 0.1em solid #fff; }
.submenu a:last-child { padding-right: 0; border-right: none; }
/* pullquote */
.pullquote {
	padding-bottom: 1em;
	background: url(../images/quote_left.png) no-repeat top left;
}
.pullquote p { padding-left: 2.5em; }
.pullquote p.quote {
	margin-bottom: 0;
	background: url(../images/quote_right.png) no-repeat bottom left;
	min-height: 1.3em;
}
/* forms */
button, a.button {
	border: none;
	padding: 0.4em 0.8em;
	color: #000;
	background-color: #fff;
	font-size: 1em;
	line-height: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
button:hover, a.button:hover { background-color: orange; color: #fff; text-decoration: none; }
button:focus { outline: none; }
button.disabled, button.disabled:hover,
button[disabled], button[disabled]:hover { background: #aaa; color: #666; }
fieldset p { clear: left; }
fieldset label {
	margin: 0.5em 0.5em 1em 0;
	width: 10em;
	float: left;
	font-weight: bold;
	text-align: right;
}
label:after { content: ":"; }
.required:before { content: "*\00A0"; /* \00A0 &nbsp; */ }
fieldset input, fieldset textarea, fieldset select { width: 20em; margin: 0.2em 0; padding: 0.2em; border: 1px solid #ccc; }
fieldset input:focus, fieldset textarea:focus, fieldset select:focus { border: 1px solid #000; outline: none; }
fieldset textarea { font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace; }
fieldset input[type=file] { width: 20.5em; padding: 0; border: none; }
fieldset select { width: 20.5em; padding: 0; }
fieldset option { padding: 0.2em; }
fieldset input[disabled] { background: #aaa; color: #666; }
fieldset .error {
	display: block;
	font-size: 90%;
	line-height: 100%;
}
.buttons { clear: both; margin: 1em 0; text-align: right; }
.buttons span { float: left; }
.error { color: #fff; }
.required { color: #fff; }
.errorcode {
    position: absolute;
    top: 0.5em;
    width: 97%;
    font-size: 16em;
    color: rgba(0,0,0,0.3);
    text-align: center;
}
.formerrors {
	margin: 1em 0;
	padding: 1em 1em 1em 4em;
	width: 26em;
	color: #fff;
	background: url(../images/message_error.png) #666 no-repeat 1em 1em;
	min-height: 32px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
fieldset p.upload {
	margin-bottom: 1px;
	background-repeat: no-repeat;
	background-position: left;
}
fieldset p.upload input { margin-right: 0.5em; width: auto; }
.choices:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
.choices p { margin: 0; }
.choices ul { margin-left: 140px; }
.choices li { float: left; margin: 5px; list-style: none; }
.choices label { width: auto; margin: 0; }
.choices label:after { content: ""; }
.choices input { width: auto; }
#palette { float: right; }
#palette th, #palette td { border: none; }
#langs { float: right; }
#langs button {
	float: left;
	display: inline-block;
	margin-left: 1em;
	padding: 0 0.5em;
    height: 2em;
	color: #fff;
	background: transparent;
    font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
#langs button.current { background: orange; }
#searchForm { margin-right: 8em; position: relative; }
#searchForm button {
	position: absolute;
	top: 0;
	right: 0;
	height: 2.4em;
	background: orange;
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
}
#searchForm button:hover, #langs button:hover { background-color: #666; color: #fff; }
#searchForm input {
	width: 100%;
	padding: 0.1em 4em 0.1em 0.2em;
	border: none;
	background: #fff;
	color: #000;
	font-size: 1.2em;
	height: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#searchForm input:focus { outline: none; }
#addcommentForm input { width: 21em; }
#addcommentForm .editor .error { margin-left: 0; }
.admin button { float: right; width: 5em; margin-left: 0.5em; }
button[name$=delete], button[name$=feed], button[name$=rating] { box-sizing: border-box; border-left: 4px solid #c00; border-right: 4px solid #c00; }
/* markItUp! */
.editor label { margin-top: 0; }
#addcommentForm .editor label { display: none; }
.big { margin-left: 10.5em; }
.small { margin-left: 0; }
.big .markItUp, .small .markItUp { width: 100%; }
.big .markItUpEditor, .small .markItUpEditor {
	padding: 0.2em;
	border: 1px solid #ccc;
	font-family: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;
	line-height: normal;
	height: auto;
}
.small .markItUpEditor { width: 412px; }
.markItUpPreviewFrame { border: 1px solid #c00; padding: 0; }
.markItUpFooter { clear: both; }
/* tables */
table { font-size: 1em; border-collapse: collapse; }
.fix { width: 100%; table-layout: fixed; }
tr { border-bottom: 1px dashed #666; }
tr:last-child { border-bottom: none; }
th {
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
	padding: 0.3em;
	border-bottom: 1px solid #666;
	font-size: 1.2em;
	text-align: left;
}
td {
	border-left: 1px dashed #666;
	border-right: 1px dashed #666;
	padding: 0.3em;
}
td a { text-decoration: underline; }
th:first-child, td:first-child { border-left: none; }
th:last-child, td:last-child { border-right: none; }
th:first-child, td:first-child { padding-left: 0; }
th:last-child, td:last-child { padding-right: 0; }
.nowrap { white-space: nowrap; }
.alignright { border-right: none; text-align: right; }
.w100p { width: 100%; }
.zebra tbody tr:hover, .odd:hover, .even:hover { background-color: #ddd; }
/* figure  */
figure p.legend { padding: 0.5em; text-align: center; }
.thumbnail {
	position: relative;
	margin: 0 3% 2em 0;
	width: 13.66%;
	/*float: left;*/
	background: rgba(255,255,255,0.5);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.thumbnail img {
	display: block;
	/*background-position: center center;*/
	/*background-repeat: no-repeat;*/
	max-width: 100%;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
}
.thumbnail .legend {
	margin: 0;
	height: 2em;
	line-height: 100%;
}
.thumbnail a { text-decoration: none; }
#port img {
	max-width: 100%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* tag cloud */
.cloud { line-height: 135%; }
.cloud a.t1 { font-size: 1.0em; font-weight: 200; }
.cloud a.t2 { font-size: 1.1em; font-weight: 300; }
.cloud a.t3 { font-size: 1.2em; font-weight: 400; }
.cloud a.t4 { font-size: 1.3em; font-weight: 500; }
.cloud a.t5 { font-size: 1.4em; font-weight: 600; }
.cloud a.t6 { font-size: 1.5em; font-weight: 700; }
.cloud a.t7 { font-size: 1.6em; font-weight: 800; }
.cloud a.t8 { font-size: 1.7em; font-weight: 900; }
.cloud a:hover, .cloud a.selected { background: orange; color: #000; }
/* story, news and entry content */
.story h1, .story h2, .story h3, .story h4 {
	top: auto;
	position: relative;
	border: none !important;
	clear: both;
	font-family: "PT Sans", sans-serif;
	font-size: 1.4em;
	line-height: normal;
}
.story img { max-width: 97%; }
.story td img { display: none; }
.story dt { float: none; margin-bottom: 5px; padding: 0; width: auto; }
.story dd { border: none; margin: 0; padding: 0; }
.story blockquote { border-left: 1em solid #fff; }
.icon {
	padding-left: 2.5em;
	background-repeat: no-repeat;
	background-position: top left;
}
#main .Application { background-image: url(../images/message.png); }
#main .Comment { background-image: url(../images/comment.png); }
#main .Entry { background-image: url(../images/entry.png); }
#main .Photo { background-image: url(../images/picture.png); }
#main .News { background-image: url(../images/news.png); }
/* comments */
#comments, #exif { clear: both; margin-top: 2em; }
.when {
	margin: 0 0.5em 0.2em 0;
	width: 2.5em;
	float: left;
    color: #fff;
	font-size: 2.2em;
	position: relative;
}
.when .day {
	position: absolute;
	top: -0.25em;
	left: 0;
}
.when .time, .when .monthyear { display: block; font-size: 42%; line-height: 100%; text-align: right; }
.when .day, .when .time { font-weight: bold; }
.body { margin-bottom: 0.5em; }
/* misc */
.details {
	clear: both;
	margin: 0.5em 0;
	padding-top: 0.2em;
	border-top: 1px dashed #666;
	font-size: 91%;
	text-align: right;
}
.left { float: left; margin-right: 1em; }
.right { float: right; margin-left: 1em; }
.collapse, .ff, .ss { cursor: pointer; }
.admin h4 { padding: 2px 0; font-size: 1.1em; }
#spectra .item { float: left; width: 1.2em; height: 1.2em; margin: 0 1px 1px 0; }
.slider { float: left; width: 20em; }
.box {
	padding: 1em;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.dark { background: rgba(255,255,255,0.5); color: #000; }
.orange { background: orange; color: #000; }
.half { margin: 0 3% 2em 0; width: 47%; display: inline-block; vertical-align: top; }
.third {
	margin: 0 3% 2em 0;
	width: 30.33%;
	float: left;
}
.hide { display: none; }
.last { margin-right: 0 !important; padding-right: 0 !important; }
/* search highlighting */
.hilite1 { color: #000; background: #ffe657; }
.hilite2 { color: #000; background: #c1fe5f; }
.hilite3 { color: #000; background: #5fc0fe; }
.hilite4 { color: #000; background: #fe9b5f; }
/* modals */
#overlay, .modal {
	width: 100%;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
	opacity: 0.2;
}
.modal { display:none; background: transparent; opacity: 1; z-index: 1020; }
.popup {
	width: 440px;
	margin-left: -220px;
	position: absolute;
	background: #aaa;
	top: 150px;
	left: 50%;
	z-index: 1030;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.popup h4 {
	margin: 0;
	padding: 0 0.6em;
	color: #fff;
	background: #666;
	font-size: 1.6em;
	line-height: 200%;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
}
.popup .buttons { margin: 0; }
.popup a.button { display: block; position: absolute; top: 0.5em; right: 0.8em; text-decoration: none; line-height: normal; }
.popup a.close { cursor: pointer; }
.popup .buttons { line-height: normal; }
.popup .content { padding: 1em; min-height: 32px; }
.popup .content:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
#chart + p { margin: 0.5em 0 0; font-size: 0.8em; }
.info .content, .warning .content, .error .content {
	padding-left: 4.5em;
	background-position: 1em 1em;
	background-repeat: no-repeat;
}
.info .content { background-image: url(../images/message_info.png); }
.warning .content { background-image: url(../images/message_warning.png); }
.error .content { background-image: url(../images/message_critical.png); }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
.alignjustify { text-align: justify; }
.last-child { border-bottom: none; margin-bottom: 5px; }
.dot {
	display: inline-block !important;
	border-style: solid;
	border-width: 1em;
	text-decoration: none;
	line-height: 0;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}
.thumbnail:hover { background: orange; }
.clear { clear: both; }
#spinner {
	margin: -50px 0 0 -50px;
	width: 100px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	height: 100px;
	z-index: 1010;
}
#spinner div {
	width: 12%;
	background: #fff;
	height: 26%;
	position: absolute;
	left: 44.5%;
	top: 37%;
	opacity: 0;
	-webkit-animation: fade 1s linear infinite;
	-webkit-border-radius: 50px;
	-moz-animation: fade 1s linear infinite;
	-moz-border-radius: 50px;
}
#spinner div.bar1 {
	-webkit-transform: rotate(0deg) translate(0, -142%);
	-webkit-animation-delay: 0s;
	-moz-transform: rotate(0deg) translate(0, -142%);
	-moz-animation-delay: 0s;
}
#spinner div.bar2 {
	-webkit-transform: rotate(30deg) translate(0, -142%);
	-webkit-animation-delay: -0.9167s;
	-moz-transform: rotate(30deg) translate(0, -142%);
	-moz-animation-delay: -0.9167s;
}
#spinner div.bar3 {
	-webkit-transform: rotate(60deg) translate(0, -142%);
	-webkit-animation-delay: -0.833s;
	-moz-transform: rotate(60deg) translate(0, -142%);
	-moz-animation-delay: -0.833s;
}
#spinner div.bar4 {
	-webkit-transform: rotate(90deg) translate(0, -142%);
	-webkit-animation-delay: -0.75s;
	-moz-transform: rotate(90deg) translate(0, -142%);
	-moz-animation-delay: -0.75s;
}
#spinner div.bar5 {
	-webkit-transform: rotate(120deg) translate(0, -142%);
	-webkit-animation-delay: -0.667s;
	-moz-transform: rotate(120deg) translate(0, -142%);
	-moz-animation-delay: -0.667s;
}
#spinner div.bar6 {
	-webkit-transform: rotate(150deg) translate(0, -142%);
	-webkit-animation-delay: -0.5833s;
	-moz-transform: rotate(150deg) translate(0, -142%);
	-moz-animation-delay: -0.5833s;
}
#spinner div.bar7 {
	-webkit-transform: rotate(180deg) translate(0, -142%);
	-webkit-animation-delay: -0.5s;
	-moz-transform: rotate(180deg) translate(0, -142%);
	-moz-animation-delay: -0.5s;
}
#spinner div.bar8 {
	-webkit-transform: rotate(210deg) translate(0, -142%);
	-webkit-animation-delay: -0.41667s;
	-moz-transform: rotate(210deg) translate(0, -142%);
	-moz-animation-delay: -0.41667s;
}
#spinner div.bar9 {
	-webkit-transform: rotate(240deg) translate(0, -142%);
	-webkit-animation-delay: -0.333s;
	-moz-transform: rotate(240deg) translate(0, -142%);
	-moz-animation-delay: -0.333s;
}
#spinner div.bar10 {
	-webkit-transform: rotate(270deg) translate(0, -142%);
	-webkit-animation-delay: -0.25s;
	-moz-transform: rotate(270deg) translate(0, -142%);
	-moz-animation-delay: -0.25s;
}
#spinner div.bar11 {
	-webkit-transform: rotate(300deg) translate(0, -142%);
	-webkit-animation-delay: -0.1667s;
	-moz-transform: rotate(300deg) translate(0, -142%);
	-moz-animation-delay: -0.1667s;
}
#spinner div.bar12 {
	-webkit-transform: rotate(330deg) translate(0, -142%);
	-webkit-animation-delay: -0.0833s;
	-moz-transform: rotate(330deg) translate(0, -142%);
	-moz-animation-delay: -0.0833s;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
      -ms-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
.remove {
	float: right;
    font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding: 0.1em 0.3em;
	line-height: 100%;
	color: #fff;
	background: rgba(255,255,255,0.5);
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.remove:hover { background: orange; }
.delete {
    float: right;
    margin-left: 0.3em;
    font-size: 1.8em;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.delete:hover { color: #c00; }
@media (max-width: 1024px) {
	#footer, #palette { display: none; }
	#aside { width: 37%; }
	#tools { width: 38.27% }
	.thumbnail { width: 22%; }
	#port { width: 57%; }
	.half { margin: 0 3% 1em 0; width: 37%; }
	.third { margin: 0 3% 1em 0; width: 47%; }
}
@media (max-width: 800px) {
	#footer, #spectra, .help, .copyright, .menu a.Admin, .menu a.Login, .menu a.Logout { display: none; }
	.menu { width: 76%; }
	#aside { width: 47%; }
	#tools { width: 48.46%; }
	.thumbnail { margin: 0 3% 1.5em 0; width: 30.33%; }
	#port { width: 47%; }
	.half { width: 47%; }
}
@media (max-width: 480px) {
    body { font-size: 16px; }
	h1 { font-size: 2em; }
    h2 { font-size: 1.4em; }
	#footer, #aside, #langs, .submenu, .subtitle, #filters .graph, .menu a.Comment { display: none; }
    #searchForm { margin: 0; }
	#header { height: 3em; }
	#main { margin: 1em 0 1em 3%; }
	#tools { width: auto; }
	.thumbnail { margin: 0 3% 1em 0; width: 47%; }
	.menu { width: 75%; }
	#port { width: 97%; }
	.half { width: auto; }
	.third { width: 97%; }
    .errorcode { font-size: 10em }
	.popup { width: 280px; margin-left: -140px; top: 40px; }
}