@import "mixins";
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@default_font: "PT Sans", sans-serif;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@google_blue: #0048f1;
@google_red: #ea2434;
@google_orange: #f8a912;
@google_green: #01a514;

@paper: #aaa;
@text: #333;
@neutral: #666;
@light: (@neutral + 2 * @text);
@lighter: (@neutral + @text);
@darker: #222;
@hilite: #ffe657;

@gap: 28px;
@radius: 4px;
@dashed: 1px dashed white;

a {
	color: @darker;
	outline: none;
	text-decoration: none;
	.transition(0.3s);
	&:hover, &:focus {
		color: black;;
	}
	&[data-hover]:hover, &[data-hover]:focus {
		background: transparent;
	}
}
.clearing {
	&:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
}
.white_shadow { text-shadow: 1px 1px 1px fade(white, 25%); }
.black_shadow { text-shadow: -1px -1px 1px fade(black, 25%); }
.default_button {
	border: none;
	padding: 0.3em 0.5em;
	color: black;
	background: white;
	font-size: 1em;
	line-height: 100%;
	.box-sizing(border-box);
	.border-radius(@radius);
	&:hover, &:focus { color: black; background: @google_orange; }
}
.left { float: left; margin-right: 0.5em; }
.right { float: right; margin-left: 0.5em; }

* { margin: 0; padding: 0; }
header, nav, aside, section, article, footer, figure { display: block; }
body {
	color: @text;
	background: url(/static/images/bg.jpg) @paper;
	font-family: @default_font;
    font-size: 14px;
	width: 100%;
	height: 100%;
	.white_shadow;
}
a img { border: none; vertical-align: middle; }
h1, h2, h3 { font-weight: normal; }
h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table { margin: 0 0 0.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.3em; }
h4, h5, h6 { font-size: 1.1em; }
blockquote { padding-left: 1em; border-left: 1em solid white; font-style: italic; }
ul li { list-style: square; }
li { margin-left: 2em; }
ol li { margin-left: 3em; list-style: decimal; }
fieldset { border: none; float: left; clear: left; margin-right: 3%; }
input, textarea, select, option, button {
	color: black;
	background: white;
	font-family: @default_font;
	font-size: 1em;
}
dl {
	border-bottom: @dashed;
	&:last-child { border-bottom: none; }
	.clearing;
	dt { float: left; width: 6em; padding: 0.3em 0; font-weight: bold; }
	dd {
		border-left: @dashed;
		margin-left: 6em;
		padding: 0.3em 0 0.3em 0.5em;
		span { padding-left: 0.3em; font-weight: normal; }
	}
	a {
		&:hover, &:focus { background: @google_orange; }
		&.selected { background: @google_orange; }
	}
}
pre {
	font-family: @monospaced;
	font-size: 1em;
	overflow: auto;
}
button, .button {
	.default_button;
	.transition(0.3s);
	&:focus { outline: none; }
	&.delete {
		color: @google_red;
		&:hover, &:focus {
			color: white;
			background: @google_red;
		}
	}
	&[disabled], &.disabled {
		color: @light;
		background: lighten(@text, 30);
		&:hover, &:focus {
			color: @text;
		}
	}
}
button::-moz-focus-inner { border:0; padding:0; }

.form_label {
	margin: 0.5em 0.5em 1em 0;
	width: 10em;
	float: left;
	font-weight: bold;
	text-align: right;
}
.form_input { width: 20em; margin: 0.2em 0; padding: 0.2em; border: 1px solid @lighter; }
.form_focus { border: 1px solid @google_orange; outline: none; }

fieldset {
	p { clear: left; }
	label {
		.form_label;
		&:after { content: ":"; }
	}
	input { .form_input;
		&:focus { .form_focus; }
		&[type=file] { width: 20.5em; padding: 0; border: none; }
		&[disabled] { background: @paper; color: @neutral; }
	}
	select { .form_input; width: 20.5em; padding: 0;
		&:focus { .form_focus; }
		option { padding: 0.2em; }
	}
	textarea { font-family: @monospaced; .form_input; }
	.error {
		display: block;
		font-size: 90%;
		line-height: 100%;
	}
	p.upload {
		margin-bottom: 1px;
		background-repeat: no-repeat;
		background-position: left;
		input { margin-right: 0.5em; width: auto; }
	}
}
.required:before { content: "*\00A0"; /* \00A0 &nbsp; */ }

table {
	font-size: 0.9em; border-collapse: collapse;
	tr {
		border-bottom: @dashed;
		&:last-child { border-bottom: none; }
	}
	th {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.5em;
		border-bottom: 1px solid white;
		font-size: 1.2em;
		text-align: left;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
	}
	td {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.5em;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
	}
	&.zebra {
		width: 100%;
		tbody tr:hover { background-color: @light; }
	}
}

.body {
	margin: 0 0 0.5em 5em;
	dt { width: 33%; }
	dd { margin-left: 35%; }
	.para { margin-bottom: 0.5em; }
}

// layout
#black, #header {
	width: 100%;
	height: 86px;
}
#black {
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	z-index: -1;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	.box-sizing(border-box);
	padding: 1em 3%;
	background: fade(@google_blue, 80%);
	z-index: 2;
	.drop-shadow(0, 1px, 10px, 0.5);
	h1 {
		position: relative;
		float: left;
		font-size: 3.2em;
		a {
			position: relative;
			color: black;
			&::before {
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
				color: white;
				.black_shadow;
				content: attr(data-hover);
				max-width: 0;
				.transition(max-width .5s linear);
			}
			&:hover::before {
				max-width: 100%;
			}
		}
		span { position: absolute; top: -3px; right: 2px; font-size: 0.3em; color: #fff; }
		@media only screen and (max-width: 480px) { display: none; }
	}
	a.fa-home {
		display: none; color: white;
		.black_shadow;
		&:hover { color: @google_orange; }
	}
	@media only screen and (max-width: 480px) {
		a.fa-home { float: left; display: block; }
	}
}
#footer {
	position: absolute;
	bottom: 2em;
	color: @lighter;
	@media only screen and (max-width: 1024px) { display: none; }
	p { display: inline-block; }
}

@menuOffset: 375px;
#wrapper {
	min-height: 100%;
	overflow: hidden;
	background: url(../images/front.png) no-repeat fixed;
}
label[data-function*='swipe'] {
	float: right;
    color: white;
	.transition(0.3s);
	.black_shadow;
	&:hover { color: @google_orange; }
}
input[data-function*='swipe'] {
	position: absolute;
	opacity: 0;
	&:checked ~ .menu, &:checked ~ #main {
		.transform(translate3d(@menuOffset,0,0));
	}
}

#main {
	padding: 8em 3% @gap;
	min-height: 400px;
	.transform(translate3d(0,0,0));
	.transition(transform, .5s);
}
.menu {
	position: fixed;
	margin-top: 86px;
	top: 0;
	left: -@menuOffset;
	bottom: 0;
	.box-sizing(border-box);
	width: @menuOffset;
	background: fade(black, 80%);
	padding: 1em 3% 0;
	z-index: 1;
	text-shadow: none;
	.transform(translate3d(0,0,0));
	.transition(transform, .5s);
	.menu_item {
		display: block;
		clear: both;
		margin-bottom: 0.5em;
		font-size: 1.8em;
		text-transform: lowercase;
		white-space: nowrap;
	}
	a {
		color: @paper;
		position: relative;
		&:hover, &:focus {
			color: white; background: transparent;
		}
		&.top {
			.menu_item;
			&.Admin, &.Sign, &.Comment {
				@media only screen and (max-width: 800px) { display: none; }
			}
			&::before {
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
				color: white;
				content: attr(data-hover);
				max-width: 0;
				.transition(max-width .5s linear);
			}
			&:hover::before {
				max-width: 100%;
			}
		}
	}
	.submenu {
		margin-left: 2em;
		a {
			display: inline;
			&.collapse {
				display: block;
				font-size: 1.2em;
				margin-bottom: 0.5em;
				text-transform: lowercase;
			}
		}
	}
}

#container {
	&.thumbnails {
		.flex-display;
		.flex-flow(row wrap);
//		.align-content(space-between);
//		.justify-content(space-between);
		.perspective(1000);
		margin: 0 -@gap/4;
		figure {
			.flex(1 1 200px);
			padding: 0 @gap/4 @gap/2 @gap/4;
			a {	display: block;
				position: relative;
				overflow: hidden;
				img {
					display: block;
					max-width: 100%;
					.border-radius(@radius);
					.transition(.5s);
					.transform-style(preserve-3d);
					.backface(hidden); // prevents jumping
				}
				p.legend {
					opacity: 0;
					position: absolute;
					left: 0;
					bottom: 30%;
					width: 100%;
					max-width: 315px; // 5%
					margin: 0;
					line-height: 110%;
					text-align: center;
					background: white;
					.box-sizing(border-box);
					.transition(all .3s ease-in-out);
				}
				&:hover, &:focus {
					background: transparent;
				}
				&:hover img {
					.transform(scale(1.1));
				}
				&:hover p.legend {
					opacity: 0.8;
					bottom: 0;
				}
			}
			@media 	only screen and (min--moz-device-pixel-ratio: 2),
					only screen and (-o-min-device-pixel-ratio: 2/1),
					only screen and (-webkit-min-device-pixel-ratio: 2),
					only screen and (min-device-pixel-ratio: 2) {
				.flex(1 1 150px);
			}
		}
	}
	&.cols {
		.flex-display;
		.flex-flow(row wrap);
//		.align-content(space-between);
//		.justify-content(space-between);
		margin: 0 -@gap/2;
		section {
			.flex(1 1 375px);
			padding: 0 @gap/2 @gap @gap/2;
		}
	}
	&.port {
		.flex-display;
		.flex-flow(row);
		margin: 0 -@gap/2;
		article {
			.flex(3);
			padding: 0 @gap/2 @gap @gap/2;
			canvas { .border-radius(@radius); max-width: 100%; }
		}
		aside {
			.flex(1);
			padding: 0 @gap/2 @gap @gap/2;
			@media only screen and (max-width: 800px) { display: none; }
		}
	}
}
.comment, .exif { margin-bottom: 1em; }
.exif td a { text-decoration: underline; }

.subtitle {
	margin: 1em 0;
	@media only screen and (max-width: 480px) { display: none; }
}

nav.paginator {
	float: right;
	.black_shadow;
	a {
		.left;
		color: white;
		&:hover, &:focus { color: @google_orange; background: transparent; }
	}
	span {
		.left;
		color: white;
		&.na { color: fade(black, 70%); .white_shadow; }
	}
}

#langs {
	position: relative;
	margin: 1em 0;
	@media only screen and (max-width: 800px) {  display: none; }
	button {
		display: inline-block;
		margin-right: 1em;
		padding: 0 0.5em;
		height: 2em;
		color: white;
		background: transparent;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		&.current { background: @google_orange; }
		&:hover { background-color: @neutral; color: white; }
	}
}

#searchForm {
	position: relative;
	margin: 1em 0;
	button {
		position: absolute;
		right: 0;;
		height: 2.4em;
		padding: .3em .8em;
		color: white;
		background: @google_orange;
		.rounded_left_reset;
		&:hover { background-color: @neutral; }
	}
	input {
		width: 100%;
		padding: 0.1em 2em 0.1em 0.2em;
		border: none;
		background: white;
		color: black;
		font-size: 1.2em;
		height: 2em;
		.box-sizing(border-box);
		.border-radius(@radius);
		&:focus { outline: none; }
	}
}

.admin {
	margin-bottom: 1em;
	h3 { margin: 1em 0; }
	h4 { margin-bottom: 0.3em; padding: 0.4em 0; line-height: 100%; }
	button { float: right; width: 5em; margin-left: 0.5em; }
	.button {
		.default_button;
		.border-radius(0);
	}
	dl {
		margin-right: 5.5em;
		&.w65em {
			dt { width: 6.5em; }
			dd { margin-left: 6.5em; }
		}
	}
	dt { width: 75%; }
	dd { margin-left: 80%; }
	a {
		&.graph {
			float: right;
			.border-radius(@radius);
		}
	}
}

.buttons {
	clear: both;
	margin: 1em 0;
	text-align: right;
	span { float: left; }
}
.error { color: white; }
.required { color: white; .black_shadow; }
.errorcode {
    position: absolute;
    top: 1em;
    width: (100% - 3%);
    font-size: 16em;
    color: fade(black, 30%);
    text-align: center;
	z-index: -1;
	@media only screen and (max-width: 480px) { font-size: 10em; }
}
.formerrors {
	margin: 1em 0;
	padding: 1em;
	width: 29em;
	color: white;
	background: fade(@google_red, 70%);
	min-height: 3em;
	.border-radius(@radius);
}

#palette {
	float: right; width: 18em;
	img { .border-radius(@radius); max-width: 100%; }
	@media only screen and (max-width: 1024px) { display: none; }
	th, td { border: none; }
}

// markItUp!
.editor {
	label { margin-top: 0; }
	.defailt_editor {
		padding: 1%;
		width: 98%;
		border: none;
		font-family: @monospaced;
		line-height: normal;
		height: auto;
	}
	.big {
		margin-left: 10.5em;
		.markItUp { width: 100%; }
		.markItUpEditor { .defailt_editor; }
	}
	.small {
		margin-left: 0;
		.markItUp { width: 100%; }
		.markItUpEditor { .defailt_editor; }
	}
}
.markItUpPreviewFrame { border: 1px solid @google_red; padding: 0; }
.markItUpFooter { clear: both; }

#addcommentForm {
	fieldset { margin: 0; float: none; width: inherit; }
	.editor {
		label { display: none; }
		.error { margin-left: 0; }
	}
}

p.legend { padding: 0.5em; text-align: center; }

.cloud {
	@size: 1.0em;
	@weight: 200;
	line-height: 135%;
	font-size: @size;
	font-weight: @weight;
	a { color:  white;
		&:hover, &.selected { background: @google_orange; color: black; }
	}
	.loop (@index) when (@index > 0) {
		a.t@{index} { font-size: @size + (@index - 1) / 10; font-weight: @weight + (@index - 1) * 100; }
		.loop (@index - 1);
	}
	.loop (0) {}
	.loop (8);
}

.story {
	aside { float: none; width: auto; margin: 0; }
	h1, h2, h3, h4 {
		top: auto;
		position: relative;
		border: none !important;
		font-family: @default_font;
		font-size: 1.4em;
		line-height: normal;
	}
	a { text-decoration: underline; }
	img {
		float: left; margin-right: 0.5em; max-width: 100%; height: auto;
		&[height="1"] { display: none; }
	}
	td {
		border: none;
		img { float: none; margin: 0; }
	}
	dt { float: none; margin-bottom: 0.5em; padding: 0; width: auto; }
	dd { border: none; margin: 0; padding: 0; }
	blockquote { border-left: 1em solid white; }
	pre { font-size: 0.8em; }
	img { .border-radius(@radius); }
}

.when {
	width: 2.2em;
	float: left;
    color: white;
	font-size: 2em;
	position: relative;
	.black_shadow;
	.day {
		position: absolute;
		top: 0;
		left: 0;
	}
	.year, .month {
		display: block;
		position: relative;
		top: 0.6em;
		font-size: 44%;
		line-height: 100%;
		text-align: right;
	}
}

.details {
	clear: both;
	margin: 0.5em 0;
	padding-top: 0.2em;
	border-top: @dashed;
	font-size: 91%;
	text-align: right;
}
#spectra {
	@media only screen and (max-width: 800px) { display: none; }
	.item { float: left; width: 0.8em; height: 1.2em; margin: 0 1px 1px 0; }
}
.slider { float: left; width: 20em; }

.front {
	color: white;
	.black_shadow;
	@media only screen and (max-width: 800px) { display: none; }
	a { color: white; }
}
.box {
    padding: 1em;
    background: fade(white, 50%);
	.border-radius(@radius);
}

.loop (@index) when (@index > 0) {
	.hilite@{index} { color: black; background: spin(@hilite, 60 * (@index - 1)); }
	.loop (@index - 1);
}
.loop (0) {}
.loop (4);

#overlay, .modal {
	width: 100%;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
	opacity: 0.3;
}
.modal {
	display:none;
	background: transparent;
	opacity: 1;
	z-index: 1020;
	.popup {
		width: 440px;
		margin-left: -220px;
		position: absolute;
		background: @lighter;
		color: black;
		top: 150px;
		left: 50%;
		z-index: 1030;
		.border-radius(@radius);
		@media only screen and (max-width: 480px) {
			width: 280px;
			margin-left: -140px;
			top: 40px;
		}
		h4 {
			margin: 0;
			padding: 0 0.6em;
			color: white;
			.black_shadow;
			background: @text;
			font-size: 1.6em;
			line-height: 200%;
			.border-radius(@radius @radius 0 0);
		}
		a.close {
			position: absolute; top: 0.3em; right: 0.5em; color: @neutral; .black_shadow;
			&:hover, &:focus { color: white; background: transparent; }
		}
		.content { padding: 1em; min-height: 32px; .clearing; }
		.buttons { margin: 0; line-height: normal; }
	}
}

.dot {
	display: inline-block !important;
	border-style: solid;
	border-width: 1em;
	line-height: 0;
	.border-radius(1em);
}

#spinner {
	margin: -50px 0 0 -50px;
	width: 100px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	height: 100px;
	z-index: 1010;
	div {
		width: 12%;
		background: white;
		height: 26%;
		position: absolute;
		left: 44.5%;
		top: 37%;
		opacity: 0;
		.border-radius(50px);
		.animation(fade 1s linear infinite);
	}
	@iterations: 12;
	.loop (@index) when (@index > 0) {
		.bar@{index} {
			@delay: (1s * @index / @iterations - 1);
			.transform(rotate(0deg + @index * 30) translate(0, -142%));
			.animation-delay(@delay);
		}
		.loop (@index - 1);
	}
	.loop (0) {}
	.loop (@iterations);
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

// autocomplete
.ac_results {
	margin-top: -1px;
	padding: 0px;
	border: 1px solid @light;
	background-color: white;
	overflow: hidden;
	ul {
		width: 100%;
		padding: 0;
		margin: 0;
		list-style-position: outside;
		list-style: none;
		li {
			margin: 0;
			padding: 2px;
			display: block;
			font: menu;
			color: black;
			font-size: 12px;
			line-height: 16px;
			cursor: default;
			overflow: hidden;
			strong { background: @google_orange; }
		}
	}
}
.ac_loading { background: url(/static/images/busy.gif) white no-repeat right center; }
.ac_odd { background-color: @light; }
.ac_over { background-color: @google_orange; }

#chart + p { margin: 0.5em 0 0; font-size: 0.9em; }
.collapse, .ff, .ss { cursor: pointer; }
.nowrap { white-space: nowrap; }
.delete { color: white;
	&:hover, &:focus { color: @google_red; background: transparent; .black_shadow; }}
.hide { display: none; }
.clear { clear: both; }