@import "reset.css";
@import "mixins";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@default_font: "PT Sans", sans-serif;
@default_size: 14px;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@gray: #999;
@dark: #222;
@neutral: #666;
@gold: #ffcf00;
@red: #ea2434;
@dashed: 1px dashed @neutral;

.head {
    font-size: 24px;
}
.clearing {
	&:after { clear: both; display: block; content: "."; height: 0; visibility: hidden; }
}
.default_button {
	border: none;
	padding: 0.3rem 0.5rem;
	color: #000;
	background: rgba(255, 255, 255, 0.1);
    .transition(all, 0.3s);
	&:hover, &:focus { color: #000; background: @gold; }
}

html, body { height: 100%; }

body {
    background: #fff;
    color: #000;
    font-family: @default_font;
    font-size: @default_size;
}
a {
    color: #000;
    text-decoration: none;
    .transition(all, 0.3s);
}
p { padding-bottom: 0.5em; }

header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
	h1 {
        .head;
		color: @dark;
		line-height: 40px;
		padding: 0 10px;
		span {
			color: #555;
    		font-size: 12px;
		}
	}
	nav.paginator {
		position: fixed;
		top: 0;
        right: 0;
		.next, .prev {
            padding: 0 10px;
			line-height: 40px;
		}
	}
}
footer {
    font-family: @default_font;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 24px;
    font-size: 11px;
	color: #fff;
    background: #000;
    z-index: 20;
	a {
		padding: 5px 10px;
		letter-spacing: 1px;
		color: #fff;
		text-align: right;
	}
	form {
		position: absolute;
		top: 0;
		right: 4px;
		button {
			color: #fff;
			background: #000;
			border: 0;
			height: 25px;
			&.current {
				color: #000;
				background: @gold;
			}
		}
	}
}

#main {
    height: 100%;
    padding: 40px 0 25px 0;
    .box-sizing(border-box);

//    width: 100%;
//    height: 800px;
//    outline: none;
//    nav.sliding {
//        display: none;
//        i {
//            color: #fff;
//            position: fixed;
//            font-size: 8em;
//            top: 50%;
//            padding: 1em;
//            transform: translate(0,-50%);
//            &.prev { left: 0; padding-left: 0.25em; }
//            &.next { right: 0; padding-right: 0.25em; }
//        }
//    }
}

.filters, .thumbnail, .blog, .admin {
	display: block;
	color: #000;
}
.filters, .thumbnail, .blog { .transition(all .35s ease-out); }

.filters {
	background: @gold;
    padding: 10px;
	h2 {
        font-size: 1.4em;
		span { display: block; font-size: 71%; }
	}
    #links {
        display: none;
        a.block {
            padding: 0.5em 0;
            display: block;
        }
    }
}

.swiper-container {
	position: relative;
	overflow: hidden;
    .backface-visibility(hidden);
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
    -webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;

	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;

	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);

	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;

	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}

.swiper-parent {
    width: 100%;
    height: 100%;
}
.swiper-nested {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    float: left;
}
.cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.exif, .blank { height: 100%; }
.exif {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

//.thumbnail {
//    img {
//        opacity: 1;
//        .grayscale;
//        &:hover { .color; }
//    }
//    .cover {
//        display: none;
//        position: fixed;
//        top: 40px;
//        left: 0;
//        right: 0;
//        bottom: 25px;
//        width: 100%;
//        overflow: hidden;
//        background-size: cover;
//        background-position: 50% 50%;
//        background-repeat: no-repeat;
//        .backface(hidden);
//        .exif {
//            color: #fff;
//            position: absolute;
//            font-size: 4em;
//            left: 0;
//            top: 0;
//            padding: 0.5em 1em 1em 0.5em;
//        }
//        .exif_data {
//            position: fixed;
//            bottom: -250px;
//            left: 50%;
//            width: 50%;
//            padding: 0 10px 10px;
//            color: #fff;
//            background: rgba(0, 0, 0, 0.5);
//            transform: translate(-50%, 0);
//            @media @mobile { width: 100%; }
//            table {
//                margin: 0 auto;
//            }
//        }
//    }
//}

.blog, .admin {
    padding: 10px;
	background: @gray;
    h2, h3 {
        font-size: 1.4em;
        margin-bottom: 0.35em;
		span { display: block; font-size: 71%; }
	}
}
.blog {
	&:hover { background: @dark; color: #fff; }
}

.page {
    padding: 10px;
	color: @gray;
    background: @dark;
    min-height: 100%;
    h2 { .head; color: #fff; }
    .subtitle { margin-bottom: 1em; }
    a { color: #fff; }
    section {
        margin: 1em 0;
    }
	td {
		border: none;
		img { float: none; margin: 0; }
	}
	dt { float: none; margin-bottom: 0.5em; padding: 0; width: auto; }
	dd { border: none; margin: 0; padding: 0; }
	blockquote { border-left: 1em solid @gray; margin: 0.5em 0; padding-left: 1em; }
	pre { font-family: @monospaced; font-size: 0.8em; }
    .story {
        .clearing;
        h2, h3, h4 {
            color: #fff;
            padding-bottom: 0.35em;
            font-size: 1.4em;
            clear: both;
        }
        h5, h6 {
            font-weight: bold;
            padding-bottom: 0.5em;
        }
        a { text-decoration: underline; }
    }
}

.admin {
	h4 { margin-bottom: 0.3em; padding: 0.4em 0; line-height: 100%; }
	button { float: right; margin-left: 0.5em; }
	dl {
        .clearing;
		margin-right: 5.5em;
        border-bottom: @dashed;
		&.w65em {
			dt { width: 6.5em; }
			dd { margin-left: 6.5em; }
		}
        &.w25em {
            dt { width: 2.5em; }
            dd { margin-left: 2.5em; }
        }
        &:last-child { border-bottom: none; }
	}
	dt {
        float: left;
        width: 75%;
        padding: 0.3em 0;
        font-weight: bold;
    }
	dd {
        margin-left: 80%;
        border-left: @dashed;
		padding: 0.3em 0 0.3em 0.5em;
		span { padding-left: 0.3em; font-weight: normal; }
    }
	a {
		&.graph { float: right; }
	}
}

table {
    font-size: 0.9em;
	tr {
		border-bottom: @dashed;
		&:last-child { border-bottom: none; }
	}
	th {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.5rem;
		border-bottom: 1px solid @gray;
		font-size: 1.2em;
		text-align: left;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
	}
	td {
		border-left: @dashed;
		border-right: @dashed;
		padding: 0.5em;
		&:first-child { border-left: none; padding-left: 0; }
		&:last-child { border-right: none; padding-right: 0; }
	}
	&.zebra {
		width: 100%;
//		tbody tr:hover { background-color: @light; }
	}
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
}

.buttons {
	clear: both;
	margin: 1em 0;
	text-align: right;
	span { float: left; }
}
button, .button {
	.default_button;
	&.block { display: block; }
	&:focus { outline: none; }
	&.delete {
		color: @red;
		&:hover, &:focus {
			color: #fff;
			background: fade(@red, 70%);
		}
	}
	&[disabled], &.disabled {
		color: @dark;
		background: @neutral;
	}
}

button::-moz-focus-inner { border:0; padding:0; }
.error { color: #fff; }
.required { color: #fff; }
.errorcode {
    position: absolute;
    top: 1em;
    width: (100% - 3%);
    font-size: 16em;
    color: fadeout(#000, 70%);
    text-align: center;
	z-index: -1;
	@media @mobile, @tablet { font-size: 10em; }
}
.formerrors {
	margin: 1em 0;
	padding: 1em;
	width: 29em;
	color: #fff;
	background: fade(@red, 70%);
	min-height: 5em;
}

#palette {
	float: right;
	width: 16em;
	img { max-width: 100%; }
	th, td { border: none; }
	@media @mobile, @tablet { .hide; }
}

p.legend { padding: 0.5em; text-align: center; }

#overlay, .modal {
	width: 100%;
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1000;
	opacity: 0.3;
}
.modal {
	display:none;
	background: transparent;
	opacity: 1;
	z-index: 1020;
	.popup {
		width: 440px;
		margin-left: -220px;
		position: absolute;
		background: @gray;
		color: black;
		top: 150px;
		left: 50%;
		z-index: 1030;
		@media @mobile, @tablet {
			width: 280px;
			margin-left: -140px;
			top: 40px;
		}
		h4 {
			margin: 0;
			padding: 0 0.6em;
			color: white;
			background: @dark;
			font-size: 1.6em;
			line-height: 200%;
		}
		a.close {
			position: absolute; top: 0.3em; right: 0.5em; color: @neutral;
			&:hover, &:focus { color: white; background: transparent; }
		}
		.content { padding: 1em; min-height: 32px; .clearing; }
		.buttons { margin: 0; line-height: normal; }
	}
}

.cloud {
	@size: 1.0em;
	@weight: 200;
	line-height: 135%;
	font-size: @size;
	font-weight: @weight;
	.loop (@index) when (@index > 0) {
		a.t@{index} { font-size: @size + (@index - 1) / 10; font-weight: @weight + (@index - 1) * 100; }
		.loop (@index - 1);
	}
	.loop (0) {}
	.loop (8);
}
#colorcloud p {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.dot {
    font-size: 12px;
	border-style: solid;
	border-width: 1em;
	line-height: 0;
    td & { display: inline-block; }
}

.left { float: left; margin-right: 0.5em; }
.right { float: right; margin-left: 0.5em; }
.selected { text-decoration: underline; }
.hide { display: none; }
.collapse, .ff, .ss { cursor: pointer; }

.modal {
	display: none;
	background: transparent;
	opacity: 1;
}
#spinner {
	margin: -50px 0 0 -50px;
	width: 100px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	height: 100px;
	z-index: 1010;
	div {
		width: 12%;
		background: #fff;
		height: 26%;
		position: absolute;
		left: 44.5%;
		top: 37%;
		opacity: 0;
		border-radius: 50px;
		.animation(fade 1s linear infinite);
	}
	@iterations: 12;
	.loop (@n, @i: 1) when (@i =< @n) {
		.bar@{i} {
			@delay: (1s * @i / @iterations - 1);
			.transform(rotate(0deg + @i * 30) translate(0, -142%));
			.animation-delay(@delay);
		}
		.loop (@n, (@i + 1));
	}
	.loop (@iterations);
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-o-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-ms-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}

@import "slideshow";