@charset "UTF-8";

// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";
// Variables
@import "theme";
//@import "components/variables";
// Reset
@import "components/normalize";
// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";
@import "swiper";

$body-bg-color: color("grey", "lighten-2");
$navbar-bg-color: color("grey", "darken-3");

body {
  background-color: $body-bg-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  & > .breadcrumb {
    padding-left: 20px;
    a {
      color: $off-black;
      &:before {
        color: $off-black;
      }
      &:last-child {
        color: $off-black;
      }
    }
  }
}

#nav-mobile.side-nav {
  background-color: $sidenav-bg-color;
  border: none;
  a {
    font-size: 1.35rem;
    @media #{$medium-and-down} {
        height: 56px;
        line-height: 56px;
      }
  }
}

header > nav {
  background-color: $navbar-bg-color;
  .brand-logo {
    padding: 0 20px;
  }
  ul {
    li {
      a {
        font-size: 1.4rem;
        padding: 0 20px;
      }
      &.active {
        background-color: rgba(0,0,0,0.2);
      }
    }
  }
  .button-collapse {
    color: #444;
    background-color: $primary-color;
    i {
      padding: 0 1rem;
    }
  }
  .nav-wrapper {
    i {
      font-size: 40px;
      height: 56px;
      line-height: 56px;
      @media #{$medium-and-up} {
        height: 64px;
        line-height: 64px;
      }
    }
    .pagination {
      background-color: $primary-color;
      width: auto;
      li {
        padding: 0;
        a {
          padding: 0 14px;
        }
      }
    }
    .progress {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      background-color: $primary-color;
      height: 2px;
      display: none;
      .indeterminate {
        background-color: $navbar-bg-color;
      }
    }
  }
}

#searchForm input {
  margin: 0;
}

footer.page-footer {
  margin-top: 0;
  z-index: 0;
  .footer-copyright {
    padding: 0 20px;
    .material-icons {
      vertical-align: middle;
    }
  }
}

.card-title {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.card {
  margin: 0;
  display: block;
  background-color: transparent;
  border-radius: 0;
  .card-title {
    @extend .card-title;
  }
  .card-content {
    border-radius: 0;
    .card-title {
      @extend .card-title;
    }
    .card-author {
      display: block;
      padding-top: 0.5rem;
      text-align: right;
      line-height: normal;
    }
  }
  .card-image {
    img { border-radius: 0; }
    .card-title {
      @extend .card-title;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .swiper-lazy {
      display: block;
      width: 100vw;
      height: calc(100vh - 56px);
      object-fit: cover;
      @media #{$medium-and-up} {
        width: 100%;
        //height: auto;
      }
    }
  }
  .card-action {
    border-top: none;
    border-bottom: 1px solid $navbar-bg-color;
  }
  .card-reveal {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    & .card-title {
      margin-bottom: 20px;
    }
  }
}

.admin .card-content .row {
  padding: 0.5rem 0;
}

#gallery {
  margin: 0;
  @media #{$medium-and-down} {
    margin: 0;
  }
  .thumbnail, .blog, .admin {
    display: block;
    color: $off-black;
    .card { background-color: transparent; }
  }
  .admin .card-action .col .badge {
    position: relative;
    font-size: 2rem;
    color: $off-black;
  }
}

.modal {
  &.bottom-sheet {
    max-height: 60%;
  }
  .modal-content {
    padding: 20px;
    @media #{$medium-and-down} {
      padding: 8px;
    }
  }
  .modal-footer {
    padding: 0 20px;
    background-color: color('grey', 'darken-3');
    @media #{$medium-and-down} {
      padding: 0 8px;
    }
    .btn, .btn-flat {
      margin: 10px 0;
    }
  }
}

article, section {
  margin: 20px !important;
  @media #{$medium-and-down} {
    margin: 8px !important;
  }
  table {
    margin: 0 -0.5rem;
    td, th {
      padding: 0.5rem;
    }
  }
}

article {
  table {
    width: auto;
    td {
      vertical-align: top;
    }
  }
  h4 {
    clear: both;
  }
  figure {
    margin: 0;
    &.left {
      margin-right: 1rem;
    }
    &.right {
      margin-left: 1rem;
    }
    .legend {
      margin: 0 0 1rem 0;
    }
  }
}

.hidden {
  display: none;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time],
input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search],
textarea.materialize-textarea {
  height: 2.5rem;
  margin: 0 0 0.5rem;
  td & {
    margin: 0;
  }
}

label {
  font-size: inherit;
  &.required {
    color: $error-color;
  }
}

span.required {
  color: $error-color;
  line-height: 36px;
}

span.error {
  font-size: 0.8rem;
  color: $primary-color;
}

$chip_size: 1.25rem;
.dot {
    display: inline-block;
    vertical-align: middle;
    border: $chip_size / 2 solid;
    line-height: 0;
  }

.chip {
  font-weight: 400;
  display: inline-block;
  margin: $chip_size / 4 0;
  height: 1.6 * $chip_size;
  line-height: 1.5 * $chip_size;
  font-size: $chip_size;
  background-color: color("grey", 'base');
  padding: 0 $chip_size / 2;
  border-radius: $chip_size;
  color: #fff;
  a { color: #fff; }
  @for $i from 1 through 8 {
    &.fs#{$i} {
      font-size: $chip_size + ($i - 1) / 10;
    }
  }
  &.selected {
    background-color: $link-color;
  }
  i.material-icons {
    cursor: pointer;
    display: inline-block;
    float: none;
    vertical-align: middle;
    font-size: $chip_size;
    line-height: 1.5 * $chip_size;
    padding: 0;
    margin-right: $chip_size / 3;
  }
  .dot {
    margin-right: $chip_size / 3;
    border-radius: $chip_size / 2;
  }
}


a.collapse {
  display: block;
  font-size: 1.35rem;
}

.row {
  margin: 0 -0.75rem;
}

.btn, .btn-flat {
  padding: 0 1rem;
}

.btn-floating {
  padding: 0;
}

.btn-large i {
  font-size: 3rem;
}

.card .card-action a {
  margin-right: 0;
}

.drag-target {
  width: 10px !important;
  @media #{$large-and-up} {
    width: 0;
  }
}

.alert {
  margin: 1rem 0;
  min-height: 7rem;
  padding-left: 6rem;
  position: relative;
  .title {
    margin: 0;
    padding: 1rem 0 0;
    font-size: 1.4rem;
  }
  .material-icons {
    position: absolute;
    top: 0;
    left: 1rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 4rem;
    line-height: 6rem;
  }
}

.material-icons {
  line-height: inherit;
  font-size: inherit;
  vertical-align: middle;
}

.ui-widget-content {
  background-color: #fff !important;
}

.ui-menu .ui-menu-item {
  list-style-image: none !important;
}

.ui-helper-hidden-accessible {
  display: none !important;
  visibility: hidden !important;
}

// svg graph
text {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  fill: $off-black;
  pointer-events: none;
}

circle, path {
  stroke: #fff;
}

.link {
  stroke: #000;
  stroke-opacity: 0.3;
}

.front-page {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  .card-panel {
    color: white;
    background-color: rgba(0,0,0,.5);
    a { color: white; }
    .material-icons {
      font-size: 8em;
    }
  }
}