@import "reset.css";
@import "mixins";
@import "slideshow";

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@default_font: "PT Sans", sans-serif;
@default_size: 14px;
@monospaced: "Courier New", Courier, Freemono, "Nimbus Mono L", monospace;

@gold: #ffcf00;
@gray: #999;
@dark: #333;

body {
    background: #fff;
    color: #000;
    font-family: @default_font;
    font-size: @default_size;
}
a {
    color: #000;
    text-decoration: none;
    .transition(all, 0.3s);
}
#main {
    position: relative;
    margin: 40px 0 25px 0;
    outline: none;
}
#cover {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 25px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 2;
}
.header {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 40px;
	h1 {
		color: @dark;
		font-size: 24px;
		line-height: 40px;
		padding: 0 10px;
		span {
			color: #555;
    		font-size: 12px;
		}
	}
	.paginator {
		position: fixed;
		top: 0;
        right: 0;
		.next, .prev {
            padding: 0 10px;
			line-height: 40px;
		}
	}
}
.footer {
    font-family: @default_font;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    line-height: 24px;
    font-size: 11px;
	color: #fff;
    background: #000;
    z-index: 20;
	a {
		padding: 5px 10px;
		letter-spacing: 1px;
		color: #fff;
		text-align: right;
		&:hover {
			color: @gold;
		}
	}
	.right_ab {
		position: absolute;
		top: 0;
		right: 4px;
		button {
			color: #fff;
			background: #000;
			border: 0;
			height: 25px;
			&.current {
				color: #000;
				background: @gold;
			}
		}
	}
}
.mfp-image, .mfp-inline, .mfp-ajax {
	display: block;
	color: #000;
	text-decoration: none;
	.transition(all .35s ease-out);
}
.mfp-inline {
	background: @gold;
	h2 { font-size: 1.4em; padding: 10px;
		span { display: block; font-size: 71%; }
	}
	&:hover {
		background: #000;
		color: #fff;
	}
}
.mfp-image {
	.grayscale;
	&:hover { .color; }
}
.mfp-ajax {
	background: @gray;
	h2 { font-size: 1.4em; padding: 10px;
		span { display: block; font-size: 71%; }
	}
	p { padding: 5px 10px; }
	&:hover { background: #000; color: #fff; }
}

/// OLD STUFF ///
#links {
    padding: 10px;
	background: @gold;
	h2 {
        font-size: 1.4em;
		span { display: block; font-size: 71%; }
	}
	a.block {
		padding: 0.5em 0;
		display: block;
	}
}
.cloud {
	@size: 1.0em;
	@weight: 200;
	line-height: 135%;
	font-size: @size;
	font-weight: @weight;
	.loop (@index) when (@index > 0) {
		a.t@{index} { font-size: @size + (@index - 1) / 10; font-weight: @weight + (@index - 1) * 100; }
		.loop (@index - 1);
	}
	.loop (0) {}
	.loop (8);
}
#colorcloud p {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.dot {
    font-size: 12px;
	border-style: solid;
	border-width: 1em;
	line-height: 0;
}
.page {
    padding: 10px;
	color: @gray;
	h2, h3, h4 {
        color: #fff;
		padding: 1em 0;
		font-family: @default_font;
		font-size: 1.4em;
        clear: both;
	}
	a { color: #fff; text-decoration: underline; }
	td {
		border: none;
		img { float: none; margin: 0; }
	}
	dt { float: none; margin-bottom: 0.5em; padding: 0; width: auto; }
	dd { border: none; margin: 0; padding: 0; }
	blockquote { border-left: 1em solid #fff; }
	pre { font-family: @monospaced; font-size: 0.8em; }
    .subtitle { margin-bottom: 1em; color: @gold; }
}
.left { float: left; margin-right: 0.5em; }
.right { float: right; margin-left: 0.5em; }
.selected { text-decoration: underline; }
.hide { display: none; }
.collapse, .ff, .ss { cursor: pointer; }

.modal {
	display: none;
	background: transparent;
	opacity: 1;
}
#spinner {
	margin: -50px 0 0 -50px;
	width: 100px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	height: 100px;
	z-index: 1010;
	div {
		width: 12%;
		background: white;
		height: 26%;
		position: absolute;
		left: 44.5%;
		top: 37%;
		opacity: 0;
		border-radius: 50px;
		.animation(fade 1s linear infinite);
	}
	@iterations: 12;
	.loop (@n, @i: 1) when (@i =< @n) {
		.bar@{i} {
			@delay: (1s * @i / @iterations - 1);
			.transform(rotate(0deg + @i * 30) translate(0, -142%));
			.animation-delay(@delay);
		}
		.loop (@n, (@i + 1));
	}
	.loop (@iterations);
}

@-webkit-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-moz-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-o-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@-ms-keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
@keyframes fade {
	from { opacity: 1; }
	to { opacity: 0; }
}
