<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="ct5R3S5NpEh8aBWgqK0HBq-il5YnGIUIlympBbp6rTU"
    />
    <title>ANDрејевићи</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.VUE_APP_GA %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "<%= process.env.VUE_APP_GA %>", {
        app_name: "ANDS",
        send_page_view: false,
      });
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
