{% extends "base.html" %}

{% block tools %}{% endblock %}
{% block contents %}
<aside>
    <nav class="submenu">
        <h2>
            <a href="/admin/counters">Counters</a>
            <a href="/mapreduce">Mapreduce</a>
            <a href="/admin/" title="Back">Back</a>
        </h2>
    </nav>
</aside>
{% endblock %}
{% block scripts %}
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load('jquery', '1.7');
        google.load('jqueryui', '1.8');
        google.load('visualization', '1', {'packages':['corechart']});
    </script>
    <script src="/static/scripts/common.js" async></script>
    <script src="/static/scripts/admin.base.min.js" async></script>
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
{% block ga %}{% endblock %}