{% extends "base.html" %}

{% block background %}
<body class="neutral">
{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{{ uri_for('photo_all') }}">{{ _('Photos') }}</a></li>
        <li><a href="{{ uri_for('entry_all') }}">{{ _('Blog') }}</a></li>
        <li>
            <a class="selected" href="{{ uri_for('admin_all') }}">{{ _('Administration') }}</a>
            {% if user %}
                <div class="submenu">
                    {% if is_admin %}
                        <a href="{{ uri_for('photo_admin') }}" class="block">Photos</a>
                        <a href="{{ uri_for('entry_admin') }}" class="block">Entries</a>
                        <a href="{{ uri_for('counter_admin') }}" class="block">Counters</a>
                    {% endif %}
                    <a href="/sign" class="block">{{ _('Log out') }}</a>
                </div>
            {% endif %}
        </li>
    </ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script>
        (function($) {
            function split(val) {
                return val.split(/,\s*/);
            }
            function extractLast(term) {
                return split(term).pop();
            }
            $.fn.multicomplete = function(options) {
                var defaults = {minLength: 2};
                var opts = $.extend({}, defaults, options);
                return this.each(function() {
                    $(this).bind('keydown', function(event) {
                        if (event.keyCode === $.ui.keyCode.TAB && $(this).autocomplete('instance').menu.active ) {
                            event.preventDefault();
                        }
                    }).autocomplete({
                        source: function(request, response) {
                            $.getJSON(opts.source, {
                                term: extractLast(request.term)
                            }, response);
                        },
                        search: function() {
                            var term = extractLast(this.value);
                            if (term.length < opts.minLength) {
                                return false;
                            }
                        },
                        focus: function(event, ui) {
                            return false;
                        },
                        select: function(event, ui) {
                            var terms = split(this.value);
                            terms.pop();
                            terms.push(ui.item.value);
                            terms.push('');
                            this.value = terms.join(', ');
                            return false;
                        }
                    });
                });
            };
        })(jQuery);
    </script>
{% endblock %}

{% block ga %}{% endblock %}