{% extends "base.html" %}

{% block tools %}{% endblock %}
{% block contents %}
<aside>
    <nav class="submenu">
        <h2>
            <a href="/admin/counters">Counters</a>
            <a href="/mapreduce">Mapreduce</a>
            <a href="/admin/" title="Back">Back</a>
        </h2>
    </nav>
</aside>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        scripts = ['/static/scripts/common.min.js', '/static/scripts/admin.base.min.js'];
    </script>
    <link href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet"/>
{% endblock %}
{% block ga %}{% endblock %}