{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}

{% block contents %}
{{ super() }}
<article class="plain">
	<h2>Photo blobs administration {{ m.page_number(page) }}</h2>
    <div class="third" style="margin: 0">
        <h3>Dates</h3>
        <p class="cloud">
            {% for item in archive|sort(attribute='name', reverse=True) %}
                {% if filter %}{% set selected = item.name == filter.value|int %}{% endif %}
                <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                    title="{{ item.count }}" href="/admin/blobs/date/{{ item.name }}">{{ item.name }}</a>
            {% endfor %}
        </p>
    </div>
    <br clear="all"/>
    <table id="data1" class="zebra">
        <colgroup>
            <col/>
            <col style="width: 190px; text-align: right;"/>
            <col style="width: 170px; text-align: right;"/>
            <col style="width: 210px; text-align: right;"/>
        </colgroup>
        <thead>
            <tr>
                <th>headline</th>
                <th>blob info</th>
                <th>HLS</th>
                <th>color classification</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in objects %}
                <tr id="{{ photo.key.urlsafe() }}">
                    <td><a href="{{ uri_for('photo_edit', slug=photo.key.string_id()) }}">
                        {{ photo.headline }}</a></td>
                    <td>
                        {% if photo.blob_key %}
                            {{ photo.blob_info.size|filesizeformat }}, {{ photo.blob_info.content_type }}
                            {{ True|boolimage }}
                        {% else %}
                            {{ False|boolimage }}
                        {% endif %}
                    </td>
                    <td>
                        {% for c in photo.hls %}{{ '%03d'|format(c) }} {% endfor %}
                        <span class="_hex" style="display: inline-block; width: 1.5em; background-color: {{ photo.hex }};">&nbsp;</span>
                    </td>
                    <td>
                        {{ photo.hue }}, {{ photo.lum }}, {{ photo.sat }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        nbl.l([[
            'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js',
            '/static/scripts/common.min.js']]);
    </script>
{% endblock %}