{% extends "admin/base.html" %}

{% block modals %}
{{ super() }}
<div id="info" class="modal"></div>
{% endblock %}

{% block contents %}
<article class="plain">
	<h2>Photo blobs administration{% if page != 1 %} [{{ page }}]{% endif %}</h2>
    <div class="third" style="margin: 0">
        <h3>Dates</h3>
        <p class="cloud">
            {% for item in archive|sort(attribute='name', reverse=True) %}
                {% set selected = item.name == filter.year %}
                <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                    title="{{ item.count }}" href="/admin/blobs/date/{{ item.name }}">{{ item.name }}</a>
            {% endfor %}
        </p>
    </div>
    <br clear="all"/>
    <table id="data1" class="zebra fix">
        <colgroup>
            <col/>
            <col style="width: 190px; text-align: right;"/>
            <col style="width: 170px; text-align: right;"/>
            <col style="width: 210px; text-align: right;"/>
        </colgroup>
        <thead>
            <tr>
                <th>headline</th>
                <th>blob info</th>
                <th>HLS</th>
                <th>color classification</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in objects %}
                <tr id="{{ photo.key.urlsafe() }}">
                    <td><a href="{{ uri_for('photo_edit', slug=photo.key.string_id()) }}">
                        {{ photo.headline }}</a></td>
                    <td>
                        {% if photo.blob_key %}
                            <img src="/static/images/icon_yes.png" alt=""/>
                            {{ photo.blob_info.size|filesizeformat }}, {{ photo.blob_info.content_type }}
                        {% else %}
                            <img src="/static/images/icon_no.png" alt=""/>
                        {% endif %}
                    </td>
                    <td>
                        {% for c in photo.hls %}{{ '%03d'|format(c) }} {% endfor %}
                    </td>
                    <td>
                        {{ photo.hue }}, {{ photo.lum }}, {{ photo.sat }}
                        <span class="_hex" style="display: inline-block; width: 1.5em; background-color: {{ photo.hex }};">&nbsp;</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('a.message').click(function() {
                $('#info').load(this.href, function() {
                    $('#overlay, #info').show();
                });
                return false
            });
        });
    </script>
{% endblock %}