{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}
{% block paging %}
    {% with name='comment_admin' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <div class="page">
        <header>
            <h2>Comment &amp; message administration</h2>
        </header>
        <article class="normal">
            <table class="zebra">
                <colgroup>
                    <col style="width: 120px;"/>
                    <col/>
                    <col style="width: 120px;"/>
                    <col style="width: 140px; text-align: right;"/>
                    <col style="width: 160px; text-align: right;"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>for headline</th>
                        <th>body ...</th>
                        <th>author</th>
                        <th>date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                        {% if object %}
                            <tr id="{{ object.key.urlsafe() }}">
                                {% if object.is_message %}<td>message</td>{% else%}
                                    {% with refkey=object.key.parent() %}
                                    <td><a href="{{ uri_for(refkey.kind().lower(), slug=refkey.string_id()) }}">
                                        {{ refkey.get().headline }}</a></td>
                                    {% endwith %}
                                {% endif %}
                                <td>
                                    <textarea name="body" cols="4" style="width: 100%">{{ object.body }}</textarea>
                                </td>
                                <td>{{ object.author }}</td>
                                <td>{{ object.date|to_datetime }}</td>
                                <td class="nowrap">
                                    <button type="submit" name="save" class="button">
                                        <i class="fa fa-check-circle"></i> save</button>&nbsp;
                                    <button type="submit" name="delete" class="delete button">
                                        <i class="fa fa-times-circle"></i> delete</button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </article>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('#main button').click(function(evt) {
                evt.preventDefault();
                var row = $(this).parents('tr');
                var url = '/admin/comments/';
                var params = {'safe_key': row.attr('id'), 'token': token};
                if ($(this).attr('name') == 'save') {
                    params['body'] = $('textarea', row).val();
                    $.post(url, params, function(data) {
                        if (data.success == true) {
                            $('#overlay, #spinner').hide();
                        }
                    }, 'json');
                }
                if ($(this).attr('name') == 'delete') {
                    $.post(url, params, function(data) {
                        if (data.success == true) {
                            row.remove();
                            $('#overlay, #spinner').hide();
                        }
                    }, 'json');
                }
            });
        });
    </script>
{% endblock %}