{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}

{% block contents %}
{{ super() }}
<article class="plain clear">
	<h2>Comment &amp; message administration {{ m.page_number(page) }}</h2>
    <table id="data" class="zebra">
        <colgroup>
            <col style="width: 120px;"/>
            <col/>
            <col style="width: 120px;"/>
            <col style="width: 130px; text-align: right;"/>
            <col style="width: 120px; text-align: right;"/>
        </colgroup>
        <thead>
            <tr>
                <th>for headline</th>
                <th>body ...</th>
                <th>author</th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr id="{{ object.key.urlsafe() }}">
                    {% if object.is_message %}<td>message</td>{% else%}
                        {% with refkey=object.key.parent() %}
                        <td><a href="{{ uri_for(refkey.kind().lower(), slug=refkey.string_id()) }}">
                            {{ refkey.get().headline }}</a></td>
                        {% endwith %}
                    {% endif %}
                    <td>
                        <textarea name="body" cols="4" style="width: 100%">{{ object.body }}</textarea>
                    </td>
                    <td>{{ object.author }}</td>
                    <td>{{ object.date|to_datetime }}</td>
                    <td class="nowrap">
                        <button type="submit" name="save">save</button>
                        <button type="submit" name="delete">delete</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/admin.comments.min.js" async> </script>
{% endblock %}