{% extends "admin/base.html" %}
{% block paging %}
    {% with name='counter_admin' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <nav class="breadcrumb grey lighten-3 hide-on-med-and-down z-depth-0">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ uri_for('admin_all') }}" class="breadcrumb">{{ _('Administration') }}</a>
                <a href="#!" class="breadcrumb">Counters</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="row valign-wrapper">
            <div class="col s12">
                {% for name in ['Photo', 'Entry'] %}
                    {% set selected = name == filter.value if filter else False %}
                    <a class="{{ ['t6', 'selected' if selected]|css_classes }}"
                       href="{{ uri_for('counter_admin_filter', field='forkind', value=name) }}">{{ name|lower }}</a>
                {% endfor %}
                <div class="divider white"></div>
                {% for name in ['tags', 'date', 'author', 'color', 'model', 'lens', 'eqv', 'iso'] %}
                    {% set selected = name == filter.value if filter else False %}
                    <a class="{{ ['t4', 'selected' if selected]|css_classes }}"
                       href="{{ uri_for('counter_admin_filter', field='field', value=name) }}">{{ name }}</a>
                {% endfor %}
            </div>
        </div>

        <form action="{{ uri_for('counter_admin') }}" method="post">
            <input name="token" type="hidden" value="{{ token }}"/>
            <table class="highlight">
                <colgroup>
                    <col style="width: 80px;"/>
                    <col style="width: 80px;"/>
                    <col/>
                    <col style="width: 60px;"/>
                    <col style="width: 140px; text-align: right;"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>forkind</th>
                        <th>field</th>
                        <th>value</th>
                        <th>count</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in objects %}
                        <tr>
                            <td><a href="{{ uri_for('counter_admin_filter', field='forkind', value=object.forkind) }}">
                                {{ object.forkind }}</a></td>
                            <td><a href="{{ uri_for('counter_admin_filter', field='field', value=object.field) }}">
                                {{ object.field }}</a></td>
                            <td><a href="{{ uri_for('counter_admin_filter', field='value', value=object.value) }}">
                                {{ object.value }}</a></td>
                            <td>
                                <input id="{{ object.key.urlsafe() }}" name="count.{{ object.key.urlsafe() }}"
                                    class="validate"
                                    {% if object.count <= 0 %}
                                        style="background: #f44336; color: #fff;"
                                    {% endif%}
                                    type="number" value="{{ object.count }}"/>
                            </td>
                            <td class="nowrap">
                                <button class="btn  waves-effect" type="submit" name="action:edit" disabled
                                    value="{{ object.key.urlsafe() }}">
                                    <i class="material-icons">cached</i></button>
                                <button class="btn orange waves-effect" type="submit" name="action:delete"
                                    value="{{ object.key.urlsafe() }}">
                                    <i class="material-icons">delete</i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('input[type="number"]').change(function() {
                var id = $(this).attr('id');
                $('button[name="action:edit"]').attr({disabled: 'disabled'});
                $('button[value="' + id + '"]').removeAttr('disabled');
            });
            $('table').colStyle();
        });
    </script>
{% endblock %}