{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}

{% block contents %}
{{ super() }}
<article class="plain clear">
	<h2>Counter administration {{ m.page_number(page) }}</h2>
	<form action="/admin/counters" method="post">
		<input type="hidden" name="page" value="{{ page }}"/>
        <input name="token" type="hidden" value="{{ token }}"/>
		<table id="data" class="zebra">
			<colgroup>
				<col style="width: 80px;"/>
				<col style="width: 80px;"/>
				<col/>
				<col style="width: 70px; text-align: right;"/>
				<col style="width: 130px; text-align: right;"/>
			</colgroup>
			<thead>
				<tr>
					<th>kind</th>
					<th>field</th>
					<th>value</th>
					<th>count</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for object in objects %}
                    {% if object %}
                        <tr>
                            <td>{{ object.forkind|default('---') }}</td>
                            <td>{{ object.field|default('---') }}</td>
                            <td>{{ object.value|default('---') }}</td>
                            <td>
                                <input id="{{ object.key.urlsafe() }}" name="count.{{ object.key.urlsafe() }}"
                                    {% if object.count <= 0 %}
                                        style="width: 58px; text-align: right; background: #c00; color: #fff;"
                                    {% else %}
                                        style="width: 58px; text-align: right;"
                                    {% endif%}
                                    type="text" value="{{ object.count }}"/>
                            </td>
                            <td class="nowrap">
                                <button class="disabled" type="submit" name="action:edit"
                                    disabled="disabled" value="{{ object.key.urlsafe() }}">change</button>
                                <button type="submit" name="action:delete"
                                    value="{{ object.key.urlsafe() }}">delete</button>
                            </td>
                        </tr>
                    {% endif %}
				{% endfor %}
			</tbody>
		</table>
	</form>
</article>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $('input[type="text"]').change(function() {
            var id = $(this).attr('id');
            $('button[name="action:edit"]')
                .attr({disabled: 'disabled'}).addClass('disabled');
            $('button[value="' + id + '"]')
                .removeAttr('disabled').removeClass('disabled');
        });
    </script>
{% endblock %}