{% extends "admin/base.html" %}
{% block paging %}
    {% with name='entry_admin' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <nav class="breadcrumb grey lighten-3 hide-on-med-and-down z-depth-0">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ uri_for('admin_all') }}" class="breadcrumb">{{ _('Administration') }}</a>
                <a href="#!" class="breadcrumb">{{ _('Texts') }}</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="row valign-wrapper">
            <div class="col m9 hide-on-small-only">
                {% for item in tags_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('entry_admin_filter', field='tags', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
                <div class="divider white"></div>
                {% for item in author_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('entry_admin_filter', field='author', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
                <div class="divider white"></div>
                {% for item in date_cloud|sort(attribute='name', reverse=True) %}
                    {% set selected = item.name == filter.value|int if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('entry_admin_filter', field='date', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
            </div>
            <div class="col m3 s12 valign middle right-align">
                <a href="{{ uri_for('entry_add') }}" class="btn-floating btn-large waves-effect waves-light orange">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>

        {% for object in objects %}
            {% if user == object.author or is_admin %}
                <h5>
                    <a class="btn waves-effect" href="{{ uri_for('entry_edit', slug=object.key.string_id()) }}">
                        <i class="material-icons left">edit</i>{{ object.headline }}
                    </a>
                    <a class="confirm btn waves-effect orange right hide-on-small-only" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}">
                        <i class="material-icons">delete</i></a>
                </h5>
                <table class="highlight">
                    <colgroup>
                        <col/>
                        <col class="hide-on-small-only" style="width: 300px;"/>
                        <col style="width: 180px; text-align: right;"/>
                        <col style="width: 160px; text-align: right;"/>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>name</th>
                            <th class="hide-on-small-only">keyname</th>
                            <th>normal</th>
                            <th>thumbnail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for image in object.image_list %}
                            <tr id="{{ image.key.urlsafe() }}">
                                <td>{{ image.name }}</td>
                                <td class="hide-on-small-only">{{ image.key.string_id() }}</td>
                                <td>{{ image.blob|length|filesizeformat }}, {{ image.mime }}</td>
                                <td>
                                    {% if image.small %}
                                        <button type="submit" name="delete"
                                            class="btn waves-effect"><i class="material-icons">thumb_down</i></button>
                                        <button type="submit" name="make"
                                            class="btn waves-effect" disabled><i class="material-icons">thumb_up</i></button>
                                    {% else %}
                                        <button type="submit" name="delete"
                                            class="btn waves-effect" disabled><i class="material-icons">thumb_down</i></button>
                                        <button type="submit" name="make"
                                            class="btn waves-effect"><i class="material-icons">thumb_up</i></button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">No images</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('button').click(function(evt) {
                evt.preventDefault();
                $('.progress').show();
                var row = $(this).closest('tr');
                var url = '/admin/entries/';
                var params = {'safe_key': row.attr('id'), 'action': $(this).attr('name'), 'token': '{{ session.csrf }}'};

                if (params['action'] == 'delete') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('.progress').hide();
                            row.find('button[name=delete]').attr('disabled', 'disabled');
                            row.find('button[name=make]').removeAttr('disabled');
                        }
                    }
                } else if (params['action'] == 'make') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('.progress').hide();
                            row.find('button[name=make]').attr('disabled', 'disabled');
                            row.find('button[name=delete]').removeAttr('disabled');
                        }
                    }
                }
                $.post(url, params, done, 'json');
            });

            $(document).on('click', 'a.confirm', function (evt) {
                evt.preventDefault();
                $('#confirm').load(this.href, function () {
                    $(this).openModal();
                    $('.modal-footer button').click(function () {
                        $('.progress').show();
                    });
                });
            });
            $('.modal').on('click','a.modal-close', function(evt) {
                $('#confirm').closeModal();
            });
            $('table').colStyle();
        });
    </script>
{% endblock %}
