{% extends "admin/base.html" %}
{% from "snippets/macros.html" import form_row, input %}

{% block contents %}
    <nav class="breadcrumb grey lighten-3 hide-on-med-and-down z-depth-0">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ uri_for('admin_all') }}" class="breadcrumb">{{ _('Administration') }}</a>
                <a href="{{ uri_for('entry_admin') }}" class="breadcrumb">{{ _('Texts') }}</a>
                <a href="#!" class="breadcrumb">{{ _('Add new / change existing blog') }}</a>
            </div>
        </div>
    </nav>
    <section>
        {% if object %}
            <form action="{{ uri_for('entry_edit', slug=object.key.string_id()) }}" enctype="multipart/form-data"  method="post">
        {% else %}
            <form action="{{ uri_for('entry_add') }}" enctype="multipart/form-data" method="post">
        {% endif %}
            <div class="row">
                <div class="col s12 m6">
                    {% if form.errors %}
                        <div class="alert white">
                            <i class="material-icons red-text">error</i>
                            <p class="title">{{ _('Please correct errors in') }}</p>
                            <p>{{ form.errors|join(", ") }}.</p>
                        </div>
                    {% endif %}

                    <input name="token" type="hidden" value="{{ session.csrf }}"/>
                    {{ form_row(form.headline, class='validate') }}
                    {% if not object %}
                        {{ form_row(form.slug) }}
                    {% endif %}
                    {{ form_row(form.tags) }}
                    {{ form_row(form.summary, class='materialize-textarea') }}
                    {{ form_row(form.author, class='browser-default') }}
                    {{ form_row(form.date, type='date', class='datepicker') }}
                </div>
                <div class="col m6 hide-on-med-and-down">
                    <p>{{ _('Slug uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
                    <p>{{ _('Tags determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
                    <p>{{ _('Summary') }} {{ _('A brief presentation in a concise form') }}.</p>
                    <p>{{ _('Send images less then') }} 200KB.</p>
                </div>
                <div class="col s12">
                    <h5>{{ _('Images used in this blog') }}</h5>
                    {% if object %}
                        {{ form_row(form.front, class='browser-default') }}
                        {% for field in form.images %}
                            <div class="row valign-wrapper">
                                <div class="col s1">
                                    <img src="{{ object.image_url(field.form.num.data) }}/small">
                                </div>
                                <div class="col s1">
                                    {{ field.form.num.label }}
                                    {{ field.form.num(size=1, disabled='disabled') }}
                                </div>
                                <div class="col s8">
                                    {{ field.form.name.label }}
                                    {{ field.form.name(size=30) }}
                                </div>
                                <div class="col s2 valign bottom">
                                    {{ field.form.delete(class='checkbox') }}
                                    {{ field.form.delete.label }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% for field in form.newimages %}
                        <div class="row valign-wrapperi">
                            <div class="col s4 offset-s2">
                                {{ form_row(field.form.name) }}
                            </div>
                            <div class="col s4 valign bottom">
                                <p>
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>{{ field.form.name.label.text }}</span>
                                            {{ input(field.form.blob, class='validate') }}
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <div class="col s2">&nbsp;</div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col s12">
                            {{ form.body(class='materialize-textarea') }}
                            {{ form.body.label }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4"><span class="required left">{{ _('Required field') }}</span></div>
                        <div class="col s4">&nbsp;</div>
                        <div class="col s4 right-align">
                            <button class="btn waves-effect" type="submit">
                                {{ _('done') }}<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/urlify.min.js"></script>
    <script>
        $(function() {
            $('#headline').slugify();
            $('#images img').click(function(evt) {
                evt.preventDefault();
                src = $(this).attr('src').replace('small', 'normal');
                title = $(this).attr('title');
                tab = '    ';
            });
            $('#tags').multicomplete({
                minLength: 2,
                source: '/complete/Entry_tags'
            });
            $('button[type=submit]').click(function() {
                $('.progress').show();
            });

            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 5,
                format: 'yyyy-mm-dd HH:MM:ss',
                firstDay: 1,
                hiddenName: true
            });
        });
    </script>
{% endblock %}
{% block ga %}{% endblock %}