{% extends "admin/base.html" %}

{% block contents %}
    <div class="page">
        {% import "snippets/macros.html" as m %}
        <header>
            <h2 class="clearing">
                Entry administration
                <a href="{{ uri_for('entry_add') }}" class="button right">
                    <i class="fa fa-plus-square"></i> Add
                </a>
            </h2>
        </header>
        <article class="normal">
            <section>
                <h3>Dates</h3>
                <p class="cloud">
                    {% for item in archive|sort(attribute='name', reverse=True) %}
                        {% if filter %}{% set selected = item.name == filter.value|int %}{% endif %}
                        <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                            href="{{ uri_for('entry_admin_filter', field='date', value=item.name) }}"
                            title="{{ item.count }}" >{{ item.name }}</a>
                    {% endfor %}
                </p>
            </section>

            {% for object in objects %}
                {% if user == object.author or is_admin %}
                    <h3 class="clearing">
                        <a class="button left" href="{{ uri_for('entry', slug=object.key.string_id()) }}">{{ object.headline }}</a>
                        <a class="confirm button delete right" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}">
                            <i class="fa fa-times-circle"></i> delete</a>
                        <a class="button right" href="{{ uri_for('entry_edit', slug=object.key.string_id()) }}">
                            <i class="fa fa-pencil-square"></i> edit</a>
                    </h3>
                    <table class="zebra">
                        <colgroup>
                            <col/>
                            <col style="width: 240px;"/>
                            <col style="width: 140px; text-align: right;"/>
                            <col style="width: 160px; text-align: right;"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>keyname</th>
                                <th>normal</th>
                                <th>thumbnail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for image in object.image_list %}
                                <tr id="{{ image.key.urlsafe() }}">
                                    <td>{{ image.name }}</td>
                                    <td>{{ image.key.string_id() }}</td>
                                    <td>{{ image.blob|length|filesizeformat }}, {{ image.mime }}</td>
                                    <td>
                                        {% if image.small %}
                                            <button type="submit" name="delete" class="button delete">
                                                <i class="fa fa-times-circle"></i> delete</button>
                                            <button type="submit" name="make" class="disabled button" disabled="disabled">
                                                <i class="fa fa-cog"></i> make</button>
                                        {% else %}
                                            <button type="submit" name="delete" class="disabled button delete" disabled="disabled">
                                                <i class="fa fa-times-circle"></i> delete</button>
                                            <button type="submit" name="make" class="button">
                                                <i class="fa fa-cog"></i> make</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">No images</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endfor %}
        </article>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function() {
            $('#main button').click(function(evt) {
                evt.preventDefault();
{#                $('table').colStyle();#}
                $('#overlay, #spinner').show();
                var row = $(this).closest('tr');
                var url = '/admin/entries/';
                var params = {'safe_key': row.attr('id'), 'action': $(this).attr('name'), 'token': token};

                if (params['action'] == 'delete') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('#overlay, #spinner').hide();
                            row.find('button[name=delete]')
                                .attr('disabled', 'disabled').addClass('disabled');
                            row.find('button[name=make]')
                                .removeAttr('disabled').removeClass('disabled');
                        }
                    }
                } else if (params['action'] == 'make') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('#overlay, #spinner').hide();
                            row.find('button[name=make]')
                                .attr('disabled', 'disabled').addClass('disabled');
                            row.find('button[name=delete]')
                                .removeAttr('disabled').removeClass('disabled');
                        }
                    }
                }
                $.post(url, params, done, 'json');
            });
        });
    </script>
{% endblock %}