{% extends "admin/base.html" %}

{% block contents %}
{{ super() }}
<article class="plain clear">
	<h2>Feed administration</h2>
	<form action="/admin/feeds" method="post">
        <input name="token" type="hidden" value="{{ token }}"/>
		<table id="data" class="zebra">
			<colgroup>
				<col/>
				<col style="width: 150px; text-align: right;"/>
				<col style="width: 60px; text-align: center;"/>
				<col style="width: 60px; text-align: right;"/>
			</colgroup>
			<thead>
				<tr>
					<th>headline</th>
					<th>updated</th>
					<th>cache</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for object in objects %}
					<tr>
						<td><a href="{{ uri_for('feed_edit', slug=object.key.string_id()) }}">
							{{ object.headline }}</a></td>
						<td>{{ object.date|to_datetime }}</td>
						<td>{{ object.key.string_id()|incache|boolimage }}</td>
						<td>
							{% if object.key.string_id()|incache %}
								<button type="submit" name="action:feed" 
									value="{{ object.key.string_id() }}">delete</button>
							{% else %}
								<button type="submit" name="action:feed" 
									class="disabled" disabled="disabled"
									value="{{ object.key.string_id() }}">delete</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</form>
</article>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        deferred_load();
        update_cache();
    </script>
{% endblock %}
