{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}

{% block contents %}
{{ super() }}
<article>
	<h2>Entry images administration {{ m.page_number(page) }}</h2>
    <section>
        <h3>Dates</h3>
        <p class="cloud">
            {% for item in archive|sort(attribute='name', reverse=True) %}
                {% if filter %}{% set selected = item.name == filter.value|int %}{% endif %}
                <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                    title="{{ item.count }}" href="/admin/images/date/{{ item.name }}">{{ item.name }}</a>
            {% endfor %}
        </p>
    </section>

    <br clear="all"/>
    {% for entry in objects %}
        <h3>
            <a class="button" href="{{ uri_for('entry', slug=entry.key.string_id()) }}">{{ entry.headline }}</a>
            <a class="button" href="{{ uri_for('entry_edit', slug=entry.key.string_id()) }}">
                <i class="fa fa-pencil-square"></i> edit</a>
            <a class="confirm button delete" href="{{ uri_for('delete', safe_key=entry.key.urlsafe()) }}">
                <i class="fa fa-times-circle"></i> delete</a>
        </h3>
        <table id="data2" class="zebra">
            <colgroup>
                <col/>
                <col style="width: 240px;"/>
                <col style="width: 140px; text-align: right;"/>
                <col style="width: 80px; text-align: right;"/>
                <col style="width: 125px; text-align: right;"/>
            </colgroup>
            <thead>
                <tr>
                    <th>name</th>
                    <th>keyname</th>
                    <th>normal</th>
                    <th>small</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for image in entry.image_list %}
                    <tr id="{{ image.key.urlsafe() }}">
                        <td>{{ image.name }}</td>
                        <td>{{ image.key.string_id() }}</td>
                        <td>{{ image.blob|length|filesizeformat }}, {{ image.mime }}</td>
                        <td class="_small">
                            {% if image.small %}
                                {{ image.small|length|filesizeformat }}
                            {% else %}
                                {{ False|boolimage }}
                            {% endif %}
                        </td>
                        <td class="nowrap">
                            {% if image.small %}
                                <button type="submit" name="delete" class="button delete">
                                    <i class="fa fa-times-circle"></i> delete</button>
                                <button type="submit" name="make" class="disabled button" disabled="disabled">
                                    <i class="fa fa-cog"></i> make</button>
                            {% else %}
                                <button type="submit" name="delete" class="disabled button delete" disabled="disabled">
                                    <i class="fa fa-times-circle"></i> delete</button>
                                <button type="submit" name="make" class="button">
                                    <i class="fa fa-cog"></i> make</button>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No images</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</article>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        nbl.l([[
            'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js',
            '/static/scripts/common.min.js',
            function() {done()}]]);
        function done() {
            $('#main button').click(function(evt) {
                evt.preventDefault();
                $('#overlay, #spinner').show();
                var row = $(this).closest('tr');
                var url = '/admin/images';
                var params = {'safe_key': row.attr('id'), 'action': $(this).attr('name'), 'token': token};

                if (params['action'] == 'delete') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('#overlay, #spinner').hide();
                            row.find('._small').html('<i class="fa fa-minus-circle" style="color: #c00"></i>');
                            row.find('button[name=delete]')
                                .attr('disabled', 'disabled').addClass('disabled');
                            row.find('button[name=make]')
                                .removeAttr('disabled').removeClass('disabled');
                        }
                    }
                } else if (params['action'] == 'make') {
                    var done = function(data) {
                        if (data.success == true) {
                            $('#overlay, #spinner').hide();
                            row.find('._small').html(data.small);
                            row.find('button[name=make]')
                                .attr('disabled', 'disabled').addClass('disabled');
                            row.find('button[name=delete]')
                                .removeAttr('disabled').removeClass('disabled');
                        }
                    }
                }
                $.post(url, params, done, 'json');
            });
        }
    </script>
{% endblock %}