{% extends "admin/base.html" %}
{% block modals %}
{{ super() }}
<div id="graph" class="modal"></div>
{% endblock %}

{% block contents %}
    <div class="page">
        <header>
            <h2>Site administration</h2>
        </header>
        <article class="cols">
            <section class="admin">
                <h3>
                    <a href="{{ uri_for('photo_admin', page=1) }}" class="button">
                        <i class="fa fa-th-list"></i>
                        Photo {{ photo_count }}
                    </a>&nbsp;
                    <a href="{{ uri_for('photo_add') }}" class="button">
                        <i class="fa fa-plus-square"></i> Add
                    </a>
                </h3>
                <div id="Photo_tags"></div>
                <div id="Photo_author"></div>
                <div id="Photo_date"></div>
                <div id="Photo_model"></div>
                <div id="Photo_lens"></div>
                <div id="Photo_eqv"></div>
                <div id="Photo_iso"></div>
                <div id="Photo_color"></div>
            </section>
            <section class="admin">
                <h3>
                    <a href="{{ uri_for('entry_admin', page=1) }}" class="button">
                        <i class="fa fa-th-list"></i>
                        Entry {{ entry_count }}
                    </a>&nbsp;
                    <a href="{{ uri_for('entry_add') }}" class="button">
                        <i class="fa fa-plus-square"></i> Add
                    </a>
                </h3>
                <div id="Entry_tags"></div>
                <div id="Entry_author"></div>
                <div id="Entry_date"></div>

                {% if is_admin %}
                    <h3>
                        <a href="{{ uri_for('counter_admin', page=1) }}" class="block button">Counters</a>
                    </h3>
                {% endif %}
            </section>
            <section class="admin">
                <h3>
                    <span class="block button">
                        <i class="fa fa-bars"></i>
                        Memcache statistics for	v.{{ version() }}
                    </span>
                </h3>
                <dl class="w65em">
                    <dt>hit ratio</dt>
                    <dd>
                        {{ '%0.1f'|format(hit_ratio) }}%
                        ({{ stats.hits }} hits, {{ stats.misses }} misses)
                    </dd>
                </dl>
                <dl class="w65em">
                    <dt>size</dt>
                    <dd>{{ stats['items'] }} items,
                        {{ stats.bytes|filesizeformat }}
                    </dd>
                </dl>
                <dl class="w65em">
                    <dt>oldest item</dt>
                    <dd>{{ oldest|timesince }} ago</dd>
                </dl>

                {% if is_admin %}
                    <h3>
                        <span class="block button">
                            <i class="fa fa-cloud"></i> MapReduce
                        </span>
                    </h3>
                    <p>
                        <a href="/mapreduce" class="block button">Status</a>
                    </p>
                    <p>
                        <a href="{{ uri_for('datastore_background', job='palette') }}" class="block button">
                            Calculate photo palette
                        </a>
                    </p>
                {% endif %}
            </section>
        </article>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', {packages: ['corechart']});
        $(function() {
            function build() {
                $.getJSON('/admin/memcache/', function(data) {
                    $.each(data, function(key, value) {
                        var tmpl = '', title = key.split('_').pop() + ' cloud';
                        if (value) {
                            tmpl += '<button type="submit" name="delete" value="' + key + '"><i class="fa fa-times"></i> delete</button>';
                            tmpl += '<a class="graph button" href="/visualize/' + key + '"><i class="fa fa-eye"></i> graph</a>';
                            tmpl += '<h4 class="ff">' + title + ' [+]</h4>';
                            tmpl += '<div class="hide">';
                            $.each(value, function(name, count) {
                                tmpl += '<dl><dt>' + name + '</dt>';
                                tmpl += '<dd>' + count + '</dd></dl>';
                            });
                            tmpl += '</div>';
                        } else {
                            tmpl += '<button type="submit" name="put" value="' + key + '"><i class="fa fa-cog"></i> create</button>';
                            tmpl += '<h4>' + title + ' [EMPTY]</h4>';
                        }
                        $('#' + key).html(tmpl);
                    });
                    $('.ff').collapseGroup();
                });
            }
            build();

            $('.admin div').on('click', 'button', function() {
                $('#spinner').show();
                var key = $(this).val(), method = $(this).attr('name');
                $.ajax({
                    url: '/admin/memcache/' + key,
                    type: method,
                    dataType: 'json',
                    success: function(data) {
                        $('#spinner').hide();
                        build();
                        $('.ff').unbind().collapseGroup();
                    }
                });
            });
            $('.admin div').on('click', 'a.graph', function(evt) {
                evt.preventDefault();
                $('#graph').load(this.href, function() {
                    $('#overlay, #graph').show();
                });
            });

            $('#main button, #sidebar button').click(function() {
                $('#overlay, #spinner').show();
            });

            $('.ff, .ss').collapseGroup();
            $('.zebra').colStyle();
        });
    </script>
{% endblock %}