{% extends "admin/base.html" %}

{% block contents %}
    <div id="gallery" class="row">
        <div class="admin card z-depth-0">
            <div class="card-action">
                <div class="row valign-wrapper">
                    <div class="col s6 valign middle">
                        <a href="{{ uri_for('photo_admin') }}" class="btn btn-large waves-effect">
                            Photos
                        </a>
                    </div>
                    <div class="col s3 right-align valign middle">
                        <span class="badge">{{ photo_count }}</span>
                    </div>
                    <div class="col s3 right-align">
                        <a href="{{ uri_for('photo_add') }}" class="btn-floating btn-large waves-effect waves-light orange">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div id="Photo_tags"></div>
                <div id="Photo_author"></div>
                <div id="Photo_date"></div>
                <div id="Photo_model"></div>
                <div id="Photo_lens"></div>
                <div id="Photo_eqv"></div>
                <div id="Photo_iso"></div>
                <div id="Photo_color"></div>
            </div>
        </div>

        <div class="admin card z-depth-0">
            <div class="card-action">
                <div class="row valign-wrapper">
                    <div class="col s6 valign middle">
                        <a href="{{ uri_for('entry_admin') }}" class="btn btn-large waves-effect">
                            Entries</a>
                    </div>
                    <div class="col s3 right-align valign middle">
                        <span class="badge">{{ entry_count }}</span>
                    </div>
                    <div class="col s3 right-align">
                        <a href="{{ uri_for('entry_add') }}" class="btn-floating btn-large waves-effect waves-light orange">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div id="Entry_tags"></div>
                <div id="Entry_author"></div>
                <div id="Entry_date"></div>
            </div>
        </div>

        <div class="admin card z-depth-0 hide-on-med-and-down">
            <div class="card-action">
                <div class="row valign-wrapper">
                    <div class="col s6 valign middle">
                        <a href="{{ uri_for('counter_admin') }}" class="btn btn-large waves-effect">
                            Counters
                        </a>
                    </div>
                    <div class="col s3 right-align valign middle">
                        <span class="badge">{{ counter_count }}</span>
                    </div>
                    <div class="col s3">&nbsp;</div>
                </div>
            </div>
            <div class="card-content">
                <span class="card-title">Memcache statistics</span>
                <div class="row valign-wrapper">
                    <div class="col s4 valign middle">hit ratio</div>
                    <div class="col s8 right-align">
                        {{ '%0.1f'|format(hit_ratio) }}%<br>
                        ({{ stats.hits }} hits, {{ stats.misses }} misses)
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">size</div>
                    <div class="col s8 right-align">
                        {{ stats['items'] }} items,
                        {{ stats.bytes|filesizeformat }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s4">oldest item</div>
                    <div class="col s8 right-align">
                        {{ oldest|timesince }} ago
                    </div>
                </div>
            </div>
        </div>

        {% if is_admin %}
            <div class="admin card z-depth-0 hide-on-med-and-down">
                <div class="card-content">
                    <span class="card-title">MapReduce</span>
                    <div class="row">
                        <div class="col s6">
                            <a href="{{ uri_for('datastore_background', job='fix') }}" class="btn waves-effect">
                                Current Fix
                            </a>
                        </div>
                        <div class="col s6 right-align">
                            <a href="/mapreduce" class="btn waves-effect">
                                <i class="material-icons left">settings</i>Status
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

{#        <div class="admin card z-depth-0 hide-on-med-and-down">#}
{#            <div class="card-content">#}
{#                <a href="/sign" class="btn-floating btn-large waves-effect waves-light orange">#}
{#                    <i class="material-icons">exit_to_app</i>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}


{#        <h4>Full text index for#}
{#            <a class="button" href="{{ uri_for('datastore_background', job='photo_index') }}">photos</a>#}
{#            <a class="button" href="{{ uri_for('datastore_background', job='entry_index') }}">entries</a>#}
{#        </h4>#}
{#        <h4><a class="button" href="{{ uri_for('datastore_background', job='palette') }}">#}
{#            Calculate photo palette</a></h4>#}
{#        <h4><a class="button" href="{{ uri_for('datastore_background', job='dimension') }}">#}
{#            Calculate photo dimension</a></h4>#}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', {packages: ['corechart']});
        $(function () {
            function build() {
                $.getJSON('/admin/memcache/', function(data) {
                    $.each(data, function(key, value) {
                        var tmpl = '<div class="row valign-wrapper">', title = key.split('_').pop() + ' cloud';
                        if (value) {
                            tmpl += '<div class="col s8 valign middle">' + title + '</div>';
                            tmpl += '<div class="col s4 right-align">';
                            tmpl += '<button class="btn-floating orange waves-effect" type="submit" name="delete" value="' + key + '"><i class="material-icons">delete</i></button>&nbsp;';
                            tmpl += '<a class="graph btn-floating waves-effect" href="/visualize/' + key + '"><i class="material-icons">visibility</i></a>';
                            tmpl += '</div></div>';
{#                            tmpl += '<div class="row"><div class="col s12">';#}
{#                            $.each(value, function(name, count) {#}
{#                                tmpl += '<div><span class="badge">' + count + '</span>' + name + '</div>';#}
{#                            });#}
{#                            tmpl += '</div></div>';#}
                            tmpl += '</div>';
                        } else {
                            tmpl += '<div class="col s8 valign middle">' + title + '</div>';
                            tmpl += '<div class="col s4 right-align">';
                            tmpl += '<button class="btn-floating waves-effect" type="submit" name="put" value="' + key + '"><i class="material-icons">cached</i></button>';
                            tmpl += '</div></div>';
                        }
                        $('#' + key).html(tmpl);
                    });
                });
            }
            build();

            var $container = $('#gallery');
            $container.gridalicious({
                selector: '.admin',
                width: 400,
                gutter: 0
            });

            $('.admin div').on('click', 'button', function() {
                $('.progress').show();
                var key = $(this).val(), method = $(this).attr('name');
                $.ajax({
                    url: '/admin/memcache/' + key,
                    type: method,
                    dataType: 'json',
                    success: function(data) {
                        $('.progress').hide();
                        build();
                    }
                });
            });
            $(document).on('click', 'a.graph', function(evt) {
                evt.preventDefault();
                $('#graph').load(this.href, function () {
                    $(this).openModal();
                });
            });
            $('.modal').on('click','a.modal-close', function(evt) {
                $('#graph').closeModal();
            });
        });
    </script>
{% endblock %}
