{% extends "admin/base.html" %}

{% block modals %}
{{ super() }}
<div id="graph" class="modal"></div>
{% endblock %}

{% block contents %}
<aside>
    <nav class="submenu">
        <h2>
            <a href="/admin/counters">Counters</a>
            <a href="/mapreduce">Mapreduce</a>
        </h2>
    </nav>
    <h3>Memcache statistics for	v.{{ version() }}</h3>
    <dl class="w65em">
        <dt>hit ratio</dt>
        <dd>
            {{ '%0.1f'|format(hit_ratio) }}%
            ({{ stats.hits }} hits, {{ stats.misses }} misses)
        </dd>
    </dl>
    <dl class="w65em">
        <dt>size</dt>
        <dd>{{ stats['items'] }} items,
            {{ stats.bytes|filesizeformat }}
        </dd>
    </dl>
    <dl class="w65em">
        <dt>oldest item</dt>
        <dd>{{ oldest|timesince }} ago</dd>
    </dl>
</aside>
<article>
	<h2>Site administration</h2>
	<section>
		<div class="admin">
			<h3><a href="/admin/blobs">Photo {{ photo_count }}</a></h3>
			<div id="Photo_tags"></div>
			<div id="Photo_author"></div>
			<div id="Photo_date"></div>
			<div id="Photo_model"></div>
			<div id="Photo_lens"></div>
			<div id="Photo_eqv"></div>
			<div id="Photo_iso"></div>
			<div id="Photo_color"></div>
		</div>
	</section>

	<section>
		<div class="admin">
			<h3><a href="/admin/images">Entry {{ entry_count }}</a></h3>
			<div id="Entry_tags"></div>
			<div id="Entry_author"></div>
			<div id="Entry_date"></div>
		</div>
		
		<div class="admin">
			<h3><a href="/admin/feeds">Feeds {{ feeds_count }}</a></h3>
			<div id="Feed_tags"></div>
		</div>

		<div class="admin">
			<h3><a href="/admin/comments">Comment {{ comment_count }}</a></h3>
			<div id="Comment_forkind"></div>
			<div id="Comment_author"></div>
			<div id="Comment_date"></div>
		</div>
	</section>
    <h2 class="ss clear">Spectra [+]</h2>
    <div class="hide">
        <div class="admin">
            <dl class="w65em">
                <dt>Saturation</dt>
                <dd>
                    <div id="sat" class="slider"></div><div style="float: left; width: 1em">&nbsp;</div>
                    <input type="text" name="sat" size="2" disabled="disabled"/>
                </dd>
            </dl>
            <dl class="w65em">
                <dt>Lightness</dt>
                <dd>
                    <div id="lum" class="slider"></div><div style="float: left; width: 1em">&nbsp;</div>
                    <input type="text" name="lum" size="2" disabled="disabled"/>
                </dd>
            </dl>
        </div>
        <div id="spectra"></div>
    </div>
</article>
{% endblock %}
{% block scripts %}
    <link href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" rel="stylesheet"/>
    {{ super() }}
    <script src="https://www.google.com/jsapi"></script>
    <script>
        google.load('visualization', '1', {packages: ['corechart'], callback: load});
        function load() {
            nbl.l([
                'https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', [
                    'https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js', [
                        '/static/scripts/common.min.js',
                        '/static/scripts/admin.index.min.js',
                        function() {
                            $('#main button, #sidebar button').click(function() {
                                $('#overlay, #spinner').show();
                            });
                            $('.ff, .ss').collapseGroup();
                            $('.zebra').colStyle();
                        }]]]
            );
        }
    </script>
{% endblock %}