{% extends "admin/base.html" %}
{% block paging %}
    {% with name='photo_admin' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <div class="admin page">
        <h2>Photo administration
            <a href="{{ uri_for('photo_add') }}" class="button abs_right">
                <i class="fa fa-plus-square"></i> Add
            </a>
        </h2>

        <section style="margin: 1rem 0;">
            <div class="cloud">
                {% for item in tags_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='tags', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
            </div>
            <div class="cloud">
                {% for item in author_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='author', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
            </div>
            <div class="cloud">
                {% for item in date_cloud|sort(attribute='name', reverse=True) %}
                    {% set selected = item.name == filter.value|int if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='date', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
            </div>
        </section>

        <table class="zebra">
            <colgroup>
                <col style="width: 50px;"/>
                <col/>
                <col style="width: 190px; text-align: right;"/>
                <col style="width: 150px; text-align: right;"/>
                <col style="width: 210px; text-align: right;"/>
                <col style="width: 140px; text-align: right;"/>
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>headline</th>
                    <th>blob info</th>
                    <th>HLS</th>
                    <th>color classification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    {% if user == object.author or is_admin %}
                        <tr>
                            <td>
                                <img src="{{ object.serving_url }}=s400" width="50"/>
                            </td>
                            <td>
                                {% if filter %}
                                    {% set url = uri_for('photo_filter', field = filter.field, value = filter.value) %}
                                {% else %}
                                    {% set url = uri_for('photo') %}
                                {% endif %}
                                <a href="{{ url }}?slug={{ object.key.string_id() }}&page={{ page }}">
                                    {{ object.headline }}
                                </a>
                            </td>
                            <td>
                                {% if object.blob_key %}
                                    {{ True|boolimage }}
                                    {{ object.blob_info.size|filesizeformat }}, {{ object.blob_info.content_type }}
                                {% else %}
                                    {{ False|boolimage }}
                                {% endif %}
                            </td>
                            <td>
                                <span class="_hex dot" style="border-color: {{ object.hex }};">&nbsp;</span>
                                {% for c in object.hls %}{{ '%03d'|format(c) }} {% endfor %}
                            </td>
                            <td>
                                {% if object.color == object.hue %}
                                    <strong>{{ object.hue }}</strong>, {{ object.lum }}, {{ object.sat }}
                                {% endif %}
                                {% if object.color == object.lum %}
                                    {{ object.hue }}, <strong>{{ object.lum }}</strong>, {{ object.sat }}
                                {% endif %}
                                {% if object.color == object.sat %}
                                    {{ object.hue }}, {{ object.lum }}, <strong>{{ object.sat }}</strong>
                                {% endif %}
                            </td>
                            <td>
                                <a class="button"
                                   href="{{ uri_for('photo_edit', slug=object.key.string_id()) }}">edit</a>&nbsp;
                                <a class="confirm button delete"
                                   href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}">delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}