{% extends "admin/base.html" %}
{% import "snippets/macros.html" as m %}

{% block contents %}
    <nav class="breadcrumb grey lighten-3 hide-on-med-and-down z-depth-0">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ uri_for('admin_all') }}" class="breadcrumb">{{ _('Administration') }}</a>
                <a href="{{ uri_for('photo_admin') }}" class="breadcrumb">{{ _('Photos') }}</a>
                <a href="#!" class="breadcrumb">{{ _('Add new / change existing photo') }}</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="row">
            <div class="col s12 m6 l6">
                {% if form.errors %}
                    <div class="alert white">
                        <i class="material-icons red-text">error</i>
                        <p class="title">{{ _('Please correct errors in') }}</p>
                        <p>{{ form.errors|join(", ") }}.</p>
                    </div>
                {% endif %}

                {% if upload_url %}
                    <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
                        <input name="token" type="hidden" value="{{ token }}"/>
                        <p>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    {{ m.input(form.photo, class='validate') }}
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </p>
                        {{ m.form_row(form.headline, class='validate') }}
                        {{ m.form_row(form.slug, class='validate') }}
                        {{ m.form_row(form.tags) }}
                        {{ m.form_row(form.author, class='browser-default') }}
                        <p class="right-align">
                            <span class="required left">{{ _('Required field') }}</span>
                            <button class="btn waves-effect orange" type="submit">
                                {{ _('upload') }}<i class="material-icons right">cloud_upload</i>
                            </button>
                        </p>
                    </form>
                {% endif %}

                {% if object %}
                    <form action="{{ uri_for('photo_edit', slug=object.key.string_id()) }}" method="post">
                        <input name="token" type="hidden" value="{{ token }}"/>
                        {{ m.form_row(form.headline, class='validate') }}
                        {{ m.form_row(form.tags) }}
                        {{ m.form_row(form.author, class='browser-default') }}

                        <h5>EXIF {{ _('data') }}</h5>
                        {{ m.form_row(form.model) }}
                        {{ m.form_row(form.lens) }}
                        <div class="row">
                            <div class="col s4">{{ m.form_row(form.aperture) }}</div>
                            <div class="col s4">{{ m.form_row(form.shutter) }}</div>
                            <div class="col s4">{{ m.form_row(form.iso) }}</div>
                        </div>
                        <div class="row">
                            <div class="col s4">{{ m.form_row(form.focal_length) }}</div>
                            <div class="col s4">{{ m.form_row(form.crop_factor, class='validate') }}</div>
                            <div class="col s4">{{ m.form_row(form.date, type='date', class='datepicker') }}</div>
                        </div>
                        <div class="row">
                            <div class="col s4"><span class="required left">{{ _('Required field') }}</span></div>
                            <div class="col s4">&nbsp;</div>
                            <div class="col s4 right-align">
                                <button class="btn waves-effect orange" type="submit">
                                    {{ _('done') }}<i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
            <div class="col s12 m6 l6 hide-on-med-and-down">
                <p>{{ _('Slug uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
                <p>{{ _('Tags determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
                <p>{{ _('Forward slash is not allowed in any field. It will be stripped out automatically.') }}</p>

                {% if object %}
                    <p><strong>{{ _('Date format') }} &quot;yyyy-mm-dd hh:mm:ss&quot;</strong></p>
                    {% include "photo/crops.html" %}

                    <a id="draw" class="btn waves-effect" href="{{ uri_for('palette', slug=object.key.string_id()) }}">
                        <i class="material-icons right">palette</i>{{ _('Calculate palette') }}</a>
                    <div id="palette">
                        <table class="palette"></table>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/urlify.min.js"></script>
    <script>
        $(function() {
            $('#headline').slugify();
            $('#tags').multicomplete({
                minLength: 2,
                source: '/complete/Photo_tags'
            });
            $('#lens').autocomplete({
                minLength: 2,
                source: '/complete/Photo_lens'
            });
            $('button[type=submit]').click(function() {
                $('.progress').show();
            });

            var palette_url;
            function write_palette(url) {
                $.getJSON(palette_url, function(data) {
                    var cntx = $('table.palette');
                    cntx.empty().append('<tr><td><strong>active</strong></td>' +
                        '<td><span class="dot" data-color="[' + data.active.color + ']" style="border-color: ' + data.active.hex + '"></span></td>' +
                        '<td>' + data.active['class'] + '</td><td style="text-align: right">' + data.active.hls[2] + '</td></tr>');
                    $.each(data.palette, function(i, pal) {
                        cntx.append('<tr><td>' + pal.prominence + '</td>' +
                            '<td><span class="dot" data-color="[' + pal.color + ']" style="border-color: ' + pal.hex + '"></span></td>' +
                            '<td>' + pal['class'] + '</td><td style="text-align: right">' + pal.hls[2] + '</td></tr>');
                    });
                });
            }
            $('#draw').click(function(evt) {
                evt.preventDefault();
                palette_url = $(this).attr('href');
                write_palette();
            });
            $('.palette').on('click', '.dot', function() {
                var rgb = $(this).attr('data-color'),
                    hex = $(this).css('border-color');
                $.post(palette_url, {'rgb': rgb}, function(data) {
                    if (data.success == true) {
                        write_palette();
                        $('.hex').css('border-color', hex);
                        $('.url').attr('href', data.similar_url);
                    }
                })
            });

            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 5,
                format: 'yyyy-mm-dd HH:MM:ss',
                firstDay: 1,
                hiddenName: true
            });
            $('.modal-trigger').leanModal({
                dismissible: true,
                opacity: .2
            });
        })
    </script>
{% endblock %}
{% block ga %}{% endblock %}
