{% extends "admin/base.html" %}
{% block title %}{{ _('Photos') }}{% endblock %}
{% block paging %}
    {% with name='photo_admin' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <nav class="breadcrumb grey lighten-3 hide-on-med-and-down z-depth-0">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{{ uri_for('admin_all') }}" class="breadcrumb">{{ _('Administration') }}</a>
                <a href="#!" class="breadcrumb">{{ self.title() }}</a>
            </div>
        </div>
    </nav>
    <section>
        <div class="row valign-wrapper">
            <div class="col s10">
                {% for item in tags_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='tags', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
                <div class="divider white"></div>
                {% for item in author_cloud|sort(attribute='name', reverse=False) %}
                    {% set selected = item.name == filter.value if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='author', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
                <div class="divider white"></div>
                {% for item in date_cloud|sort(attribute='name', reverse=True) %}
                    {% set selected = item.name == filter.value|int if filter else False %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
                        href="{{ uri_for('photo_admin_filter', field='date', value=item.name) }}">
                        {{ item.name }}</a>&nbsp;
                {% endfor %}
            </div>
            <div class="col s2 valign middle center-align">
                <a href="{{ uri_for('photo_add') }}" class="btn-floating btn-large waves-effect waves-light orange">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>

        <table class="highlight">
            <colgroup>
                <col style="width: 50px;"/>
                <col/>
                <col style="width: 190px; text-align: right;"/>
                <col style="width: 150px; text-align: right;"/>
                <col style="width: 210px; text-align: right;"/>
                <col style="width: 200px; text-align: right;"/>
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>headline</th>
                    <th>blob info</th>
                    <th>HLS</th>
                    <th>color classification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    {% if user == object.author or is_admin %}
                        {% if filter %}
                            {% set url = uri_for('photo_filter', field=filter.field, value=filter.value, slug=object.key.string_id()) %}
                        {% else %}
                            {% set url = uri_for('photo', slug=object.key.string_id()) %}
                        {% endif %}
                        <tr>
                            <td>
                                <a href="{{ url }}?&page={{ page }}">
                                    <img src="{{ object.serving_url }}=s400" width="50"/>
                                </a>
                            </td>
                            <td>
                                <a href="{{ url }}?&page={{ page }}">
                                    {{ object.headline }}
                                </a>
                            </td>
                            <td>
                                {% if object.blob_key %}
                                    {{ True|boolimage }}
                                    {{ object.blob_info.size|filesizeformat }}, {{ object.blob_info.content_type }}
                                {% else %}
                                    {{ False|boolimage }}
                                {% endif %}
                            </td>
                            <td>
                                <span class="_hex dot" style="border-color: {{ object.hex }};">&nbsp;</span>
                                {% for c in object.hls %}{{ '%03d'|format(c) }} {% endfor %}
                            </td>
                            <td>
                                {% if object.color == object.hue %}
                                    <strong>{{ object.hue }}</strong>, {{ object.lum }}, {{ object.sat }}
                                {% endif %}
                                {% if object.color == object.lum %}
                                    {{ object.hue }}, <strong>{{ object.lum }}</strong>, {{ object.sat }}
                                {% endif %}
                                {% if object.color == object.sat %}
                                    {{ object.hue }}, {{ object.lum }}, <strong>{{ object.sat }}</strong>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn waves-effect" href="{{ uri_for('photo_edit', slug=object.key.string_id()) }}">
                                    <i class="material-icons">edit</i></a>
                                <a class="confirm btn orange waves-effect" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}">
                                    <i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $(document).on('click', 'a.confirm', function (evt) {
                evt.preventDefault();
                $('#confirm').load(this.href, function () {
                    $(this).openModal();
                    $('.modal-footer button').click(function () {
{#                        $('#overlay, #spinner').show();#}
                    });
                });
            });
            $('.modal').on('click','a.modal-close', function(evt) {
                $('#confirm').closeModal();
            });
            $('table').colStyle();
        });
    </script>
{% endblock %}
