{% extends "admin/base.html" %}

{% block head %}
{{ super() }}
<script>
$(function() {
	$('.ff').collapseGroup();
	var remove = function() {
		$('#overlay, #spinner, .hide').hide();
	};
	$('#main button').click(function() {
		$('#overlay, #spinner').show();
		var kind = '{{ kind }}';
		var row = $(this).parents('tr');

		if ($(this).attr('name') == 'delete') {
			var url = '/admin/thumbnail/delete';
			var params = {'key': row.attr('id'), 'kind': kind};
			var done = function(data) {
				if (data.success == true) {
					remove();
					$('._small', row).html('<img src="/static/images/icon_no.png" alt=""/>');
					$("button[name='delete'], button[name='color']", row)
						.attr('disabled', 'disabled').addClass('disabled');
					$("button[name='make']", row)
						.attr('disabled', '').removeClass('disabled');
				}
			}
		} else if ($(this).attr('name') == 'make') {
			var url = '/admin/thumbnail/make';
			var params = {'slug': $(this).val(), 'kind': kind};
			var done = function(data) {
				if (data.success == true) {
					remove();
					$('._small', row).html(data.small);
					$("button[name='make']", row)
						.attr('disabled', 'disabled').addClass('disabled');
					$("button[name='delete'], button[name='color']", row)
						.attr('disabled', '').removeClass('disabled');
				}
			}
		} else if ($(this).attr('name') == 'color') {
			var url = '/admin/thumbnail/color';
			var params = {'slug': $(this).val(), 'kind': kind};
			var done = function(data) {
				if (data.success == true) {
					remove();
					$('._hex', row).css({'background-color': data.hex}).html('---');
				}
			}
		}
		$.post(url, params, done, 'json');
		return false;
	});
	$('a.message').click(function() {
		$('#info').load(this.href, function() {
			$('#overlay, #info').show();
		});
		return false
	});
});
</script>
{% endblock %}

{% block modals %}
{{ super() }}
<div id="info" class="modal"></div>
{% endblock %}

{% block contents %}
<article class="plain">
	<h2>{{ kind }} administration{% if page != 1 %} [{{ page }}]{% endif %}</h2>
	<form action="" method="post">
		{% if kind == 'Photo' %}
		<div class="third" style="margin: 0">
			<h3>Dates</h3>
			<p class="cloud">
{#				{% for item in archive|dictsortreversed:"name" %}#}
				{% for item in archive|sort(attribute='name', reverse=True) %}
                    {% set selected = item.name == filter.year %}
                    <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
						title="{{ item.count }}" href="{{ link }}/{{ item.name }}">{{ item.name }}</a>
				{% endfor %}
			</p>
		</div>
		<br clear="all"/>
		<table id="data1" class="zebra fix">
			<colgroup>
				<col/>
				<col style="width: 110px; text-align: right;"/>
				<col style="width: 70px; text-align: center;"/>
				<col style="width: 60px; text-align: center;"/>
				<col style="width: 90px; text-align: right;"/>
				<col style="width: 170px; text-align: right;"/>
			</colgroup>
			<thead>
				<tr>
					<th>headline</th>
					<th>dimensions</th>
					<th>normal</th>
					<th>small</th>
					<th>HLS color</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for photo in objects %}
                    {% if photo.blob_key %}
                        <tr id="{{ photo.key.urlsafe() }}">
                            <td><a href="{{ photo.get_absolute_url() }}/edit">
                                {{ photo.headline }}</a></td>
                            <td></td>
                            <td>{{ photo.size|filesizeformat }}</td>
                            <td class="_small"></td>
                            <td class="_hex" style="background-color: {{ photo.hex }};">
                                <a href="/admin/photo/info/{{ photo.key.urlsafe() }}" class="message">
                                    {% for c in photo.hls %}{{ '%03d'|format(c) }} {% endfor %}
                                </a>
                            </td>
                            <td class="nowrap">
                            </td>
                        </tr>
                    {% else %}
                        {% with picture=photo.picture.get() %}
                        <tr id="{{ picture.key.urlsafe() }}">
                            <td><a href="{{ photo.get_absolute_url() }}/edit">
                                {{ photo.headline }}</a></td>
                            <td>{{ picture.width }} x {{ picture.height }} px</td>
                            <td>{{ picture.size|filesizeformat }}</td>
                            <td class="_small">
                                {% if picture.small %}{{ picture.small|length|filesizeformat }}
                                {% else %}<img src="/static/images/icon_no.png" alt=""/>{% endif %}</td>
                            <td class="_hex" style="background-color: {{ picture.hex }};">
                                {% if picture.rgb %}
                                    <a href="/admin/photo/info/{{ photo.key.urlsafe() }}" class="message">
                                        {% for c in picture.hls %}{{ '%03d'|format(c) }} {% endfor %}
                                    </a>
                                {% else %}---{% endif %}</td>
                            <td class="nowrap">
                                {% if picture.small %}
                                    <button type="submit" name="delete"
                                        value="{{ picture.key.urlsafe() }}">delete</button>
                                    <button type="submit" name="make"
                                        value="{{ picture.key.urlsafe() }}">make</button>
                                {% else %}
                                    <button type="submit" name="delete"
                                        class="disabled" disabled="disabled"
                                        value="{{ picture.key.urlsafe() }}">delete</button>
                                    <button type="submit" name="make"
                                        value="{{ picture.key.id() }}">make</button>
                                {% endif %}
                                {% if picture.small %}
                                    <button type="submit" name="color"
                                        value="{{ picture.key.urlsafe() }}">color</button>
                                {% else %}
                                    <button type="submit" name="color"
                                        class="disabled" disabled="disabled"
                                        value="{{ picture.key.urlsafe() }}">color</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                    {% endif %}
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		{% if kind == 'Entry' %}
			<div class="third" style="margin: 0">
				<h3>Dates</h3>
				<p class="cloud">
					{% for item in archive|sort(attribute='name', reverse=True) %}
						<a class="t{{ item.size }}{% if item.name == filter.year %} selected{% endif %}"
							title="{{ item.count }}" href="{{ link }}/{{ item.name }}">{{ item.name }}</a>
					{% endfor %}
				</p>
			</div>
			<br clear="all"/>
			{% for entry in objects %}
				<h3><a href="{{ entry.get_absolute_url() }}/edit">{{ entry.headline }}</a></h3>
				<table id="data2" class="zebra fix">
					<colgroup>
						<col/>
						<col style="width: 120px;"/>
						<col style="width: 80px; text-align: right;"/>
						<col style="width: 60px; text-align: center;"/>
						<col style="width: 60px; text-align: center;"/>
						<col style="width: 122px; text-align: right;"/>
					</colgroup>
					<thead>
						<tr>
							<th>name</th>
							<th>keyname</th>
							<th>type</th>
							<th>normal</th>
							<th>small</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for image in entry.image_list %}
						<tr id="{{ image.key.urlsafe() }}">
							<td>{{ image.name }}</td>
							<td>{{ image.key.string_id() }}</td>
							<td>{{ image.mime }}</td>
							<td>{{ image.blob|length|filesizeformat }}</td>
							<td class="_small">
								{% if image.small %}
									{{ image.small|length|filesizeformat }}
								{% else %}
									<img src="/static/images/icon_no.png" alt=""/>
								{% endif %}
							</td>
							<td class="nowrap">
								{% if image.small %}
									<button type="submit" name="delete"
										value="{{ image.key.string_id() }}">delete</button>
									<button type="submit" name="make"
										class="disabled" disabled="disabled"
										value="{{ image.key.string_id() }}">make</button>
								{% else %}
									<button type="submit" name="delete"
										class="disabled" disabled="disabled"
										value="{{ image.key.string_id() }}">delete</button>
									<button type="submit" name="make"
										value="{{ image.key.string_id() }}">make</button>
								{% endif %}
							</td>
						</tr>
{#						{% empty %}#}
{#						<tr id="{{ image.key }}">#}
{#							<td colspan="6">No images</td>#}
{#						</tr>#}
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		{% endif %}
	</form>
</article>
{% endblock %}
