{% extends "base.html" %}
{% import "snippets/macros.html" as m %}

{% block modals %}
    {{ m.filters('entry') }}
{% endblock %}

{% block menu %}{{ m.menu('entry') }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var filter = {{ filter|to_json }};
            if (filter) {
                $('.hidden').hide();
                $.ajax({
                    url: '/filter/Entry_' + filter.field + '/' + filter.value,
                    context: $('#' + filter.field + 'cloud')})
                .done(function(snippet) {
                    $(this).html(snippet).slideDown();
                });
            }

            $(document).on('click', 'a.collapse', function (evt) {
                evt.preventDefault();
                var cntx = $(this);
                var url = cntx.attr('href');
                var key = url.split('/').pop();
                var field = key.split('_').pop();

                $('.hidden').hide();
                $('.progress').show();
                $.ajax({
                    url: url,
                    context: cntx.next()})
                .done(function (snippet) {
                    $(this).html(snippet).slideDown();
                    $('.progress').hide();
                });
            });
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
