{% extends "base.html" %}
{% block title %}{{ _('Blog') }}{% endblock %}

{% block modals %}
    {% set _tags = {'field': 'tags', 'title': _('Tags')} %}
    {% set _date = {'field': 'date', 'title': _('Dates')} %}
    {% set _author = {'field': 'author', 'title': _('Authors')} %}
    <div id="filters" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>{{ _('Filters') }}</h4>
            <div class="row">
            {% for f in [_tags, _date, _author] %}
                <div class="col s12 m6 l4">
                    <a class="{{ f.field }} block collapse" href="/filter/Entry_{{ f.field }}">{{ f.title }}</a>
                    <div id="{{ f.field }}cloud" class="hide"></div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <li class="no-padding"><a href="{{ uri_for('photo_all') }}" class="waves-effect">{{ _('Photos') }}</a></li>
    <li class="no-padding active">
        <div class="row">
            <div class="col s8">
                <a href="{{ uri_for('entry_all') }}" class="waves-effect">{{ _('Blog') }}</a>
            </div>
            <div class="col s4 right-align">
                <a href="#filters" class="waves-effect modal-trigger">
                    <i class="material-icons left">filter_list</i>
                </a>
            </div>
        </div>
    </li>
    <li class="no-padding"><a href="{{ uri_for('admin_all') }}" class="waves-effect">{{ _('Administration') }}</a></li>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var filter = {{ filter|to_json }};
            if (filter) {
                $('.hide').hide();
                $.ajax({
                    url: '/filter/Entry_' + filter.field + '/' + filter.value,
                    context: $('#' + filter.field + 'cloud'),
                    success: function(snippet) {
                        $(this).html(snippet).slideDown();
                    }
                });
            }

            $(document).on('click', 'a.collapse', function (evt) {
                evt.preventDefault();
                var cntx = $(this);
                var url = cntx.attr('href');
                var key = url.split('/').pop();
                var field = key.split('_').pop();

                $('.hide').hide();
                $('#progress').show();
                $.ajax({
                    url: url,
                    context: cntx.next(),
                    success: function (snippet) {
                        $(this).html(snippet).slideDown();
                        $('#progress').hide();
                    }
                });
            });
            $('.modal-trigger').leanModal();
        });
    </script>
{% endblock %}
