{% extends "entry/base.html" %}
{% block meta %}<meta name="date" content="{{ object.date|to_date }}"/>{% endblock %}

{% block contents %}
    <article>
        <h4>{{ object.headline }}</h4>
        <p>
            <a href="{{ uri_for('entry_all_filter', field='author', value=object.author) }}"
                title="{{ _("author's blogs") }}">{{ object.author }}</a>,
            <time datetime='{{ object.date|to_datetime }}'>
                {{ object.date|to_date }}</time>
            {% for tag in object.tags %}
                    {% if loop.first %}&nbsp;<i class="material-icons">local_offer</i>{% endif %}
                <a href="{{ uri_for('entry_all_filter', field='tags', value=tag) }}" title="{{ tag }}">
                    {{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
                &nbsp;<i class="material-icons">access_time</i>&nbsp;
            <a href="{{ uri_for('entry_all_filter', field='date', value=object.year) }}"
                title="{{ _('blogs sent same year') }}">{{ object.year }}</a>
        </p>

        {{ object.body|safe }}
    </article>
{% endblock %}