{% extends "entry/base.html" %}

{% block title %}{{ super() }} - {{ object.headline }}{% endblock %}
{% block meta %}<meta name="date" content="{{ object.date|format_date }}"/>{% endblock %}

{% block subnav %}
    {% if user %}
        <a href="/entries/add" title="{{ _('Add') }}">{{ _('Add') }}</a>
    {% endif %}
    {% if object %}
        {% if is_admin %}
            <a href="{{ object.get_absolute_url() }}/edit" title="{{ _('Edit') }}">{{ _('Edit') }}</a>
            <a class="confirm" href="/{{ object.key.urlsafe() }}/delete" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
        {% else %}
            {% if user == object.author %}
                <a href="{{ object.get_absolute_url() }}/edit" title="{{ _('Edit') }}">{{ _('Edit') }}</a>
                <a class="confirm" href="/{{ object.key.urlsafe() }}/delete" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
            {% endif %}
        {% endif %}
        <a class="comment_add" href="/comments/{{ object.key.urlsafe() }}/add" title="{{ _('Comment') }}">{{ _('Comment') }}</a>
        <a href="/entries" title="{{ _('Back') }}">{{ _('Back') }}</a>
    {% endif %}
{% endblock %}

{% block modals %}
{{ super() }}
<div id="addcomment" class="modal"></div>
{% endblock %}

{% block contents %}
<article class="plain">
	<header>
		<h2>{{ object.headline }}</h2>
		<div class="subtitle">
			<a href="/entries/author/{{ object.author }}"
				title="{{ _('author&apos;s blogs') }}">{{ object.author }}</a>,
				<time datetime='{{ object.date|format_datetime }}'>
					{{ object.date|format_datetime }}</time>
			{% for tag in object.tags %}
				{% if loop.first %}| {{ _('tagged by') }}:{% endif %}
				<a href="/entries/tags/{{ tag }}" title="{{ tag }}">
					{{ tag }}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
			| <a href="date/{{ object.year }}"
				title="{{ _('blogs sent same year') }}">{{ object.year }}</a>
		</div>
		<div class="pullquote"><p>{{ object.summary|safe }}</p></div>
	</header>
	
	<div class="story twocolumns">{{ object.body|safe }}</div>
	
	<aside id="comments">
		{% include "comment/detail.html" %}
	</aside>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/jquery.highlight.js"></script>
    <script>
        $(function() {
            var match = location.search.match(/find=([^&]+)/i);
            if (match) {
                $(function(){
                    var options = {exact: "partial", highlight: "#main",
                        keys: decodeURIComponent(match[1])};
                    $(document).SearchHighlight(options);
                });
            }
            $('a.comment_add').click(function() {
                $('#addcomment').load(this.href, function() {
                    $('#overlay, #addcomment').show();
                });
                return false
            });
        });
    </script>
{% endblock %}