{% extends "entry/base.html" %}
{% block meta %}<meta name="date" content="{{ object.date.strftime(just_date) }}"/>{% endblock %}
{% from "snippets/macros.html" import chip %}

{% block contents %}
    <article>
        <h4>{{ object.headline }}</h4>
        {{ chip(url=uri_for('entry_all_filter', field='author', value=object.author),
            title=_("author's blogs"), text=object.author) }}
        {% for tag in object.tags %}
            {{ chip(url=uri_for('entry_all_filter', field='tags', value=tag), text=tag) }}
        {% endfor %}
        {{ chip(url=uri_for('entry_all_filter', field='date', value=object.year),
            title=_('blogs sent same year'), text=object.year) }}
        {{ object.body|safe }}
    </article>
{% endblock %}