{% extends "entry/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}{{ super() }} - {{ _('Add new / change existing blog') }}{% endblock %}

{% block modals %}
{{ super() }}
<div id="images" class="modal">
	<div class="popup">
		<h4>{{ _('Choose image') }}</h4>
        <a class="close icon-remove-sign icon-2x" title="{{ _('close') }}"></a>
		<div class="content">
		{% for img in object.image_list %}
			<figure class="left{% if loop.last %} last{% endif %}">
				<img src="{{ uri_for('entry_image', slug=img.key.string_id(), size='small') }}"
					alt="{{ img.key.string_id() }}" title="{{ img.name }}"/>
				<p class="legend">{{ img.name|truncate(20) }}</p>
			</figure>
		{% else %}
			<p>{{ _('No images') }}</p>
			<p>{{ _('To choose images, you must send them first') }}.</p>
		{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block contents %}
<aside>
    <nav class="submenu">
        <h2>
            {% if object %}
                {% if is_admin or user == object.author %}
                    <a class="confirm" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
                    <a href="{{ uri_for('entry', slug=object.key.string_id()) }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
                {% endif %}
            {% else %}
                <a href="{{ uri_for('entry_all') }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
            {% endif %}
        </h2>
    </nav>
    <p>{{ _('Slug uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
	<p>{{ _('Tags determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
	<p>{{ _('Summary') }} {{ _('A brief presentation in a concise form') }}.</p>
	<p>{{ _('Send images less then') }} 200KB.</p>
</aside>
<article class="plain">
	<h2>{{ _('Add new / change existing blog') }}</h2>
	{% if form.errors %}
		<div class="formerrors">
            <i class="icon-warning-sign icon-3x pull-left" style="color: orange"></i>
			<p>{{ _('Please correct errors in') }}
            {{ form.errors|join(", ") }}.</p>
		</div>
	{% endif %}
	
	{% if object %}
		<form action="{{ uri_for('entry_edit', slug=object.key.string_id()) }}" enctype="multipart/form-data"  method="post">
	{% else %}
		<form action="{{ uri_for('entry_add') }}" enctype="multipart/form-data" method="post">
	{% endif %}
		<fieldset>
            <input name="token" type="hidden" value="{{ token }}"/>
            {{ m.form_row(form.headline) }}
            {% if not object %}
                {{ m.form_row(form.slug) }}
            {% endif %}
            {{ m.form_row(form.tags) }}
            {{ m.form_row(form.summary, rows=4) }}
            {{ m.form_row(form.author) }}
            {{ m.form_row(form.date, placeholder='YYYY-mm-dd HH:MM:SS') }}
		</fieldset>
	
		<fieldset>
			<h3>{{ _('Images used in this blog') }}</h3>
            {% if object %}
                {{ m.form_row(form.front) }}
                {% for field in form.images %}
                    <p class="upload" style="background-image: url({{ object.image_url(field.form.num.data) }}/small);">
                        {{ field.form.name.label }} {{ field.form.num(size=1, disabled='disabled') }} {{ field.form.name(size=30) }}
                        {{ field.form.delete }} {{ field.form.delete.label.text }}
                    </p>
                {% endfor %}
            {% endif %}
            {% for field in form.newimages %}
                <p>
                    {{ field.form.name.label }} {{ field.form.name }}
                    {{ field.form.blob }}
                    <span class="error C_{{ field.form.name.name }}"><!-- -->{{ field.form.name.errors|join(', ') }}</span>
                </p>
            {% endfor %}
		</fieldset>
	
		<fieldset style="float: none">
            <p class="editor">
                {{ form.body(rows=20) }}
            </p>
			<p class="buttons">
				<span class="required">{{ _('Required field') }}</span>
				<button type="submit">{{ _('done') }}</button>
			</p>
		</fieldset>
	</form>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/static/scripts/markitup/skins/simple/style.css"/>
    <link type="text/css" rel="stylesheet" href="/static/scripts/markitup/sets/buttons.css"/>
    <script>
        scripts.push('/static/scripts/markitup/jquery.markitup.min.js');
        scripts.push('/static/scripts/markitup/sets/blog.set_{{ language_code }}.min.js');
        scripts.push('/static/scripts/entry.form.min.js');
        deferred_load();
        update_cache();
    </script>
{% endblock %}
{% block ga %}{% endblock %}