{% extends "entry/base.html" %}

{% block title %}{{ super() }} - {{ _('Blog') }}{% endblock %}

{% block subnav %}
    <h2>
        {% if user %}
            <a href="{{ uri_for('entry_add') }}" title="{{ _('Add') }}">{{ _('Add') }}</a>
        {% endif %}
    </h2>
{% endblock %}

{% block contents %}
    <h2>
        <a href="{{ uri_for('entry_all') }}">{{ _('Blog') }}</a>
        {% if filter and filter.tags %}/ {{ filter.tags }}{% endif %}
        {% if filter and filter.year %}/ {{ filter.year }}{% endif %}
        {% if filter and filter.author %}/ {{ filter.author }}{% endif %}
        {% if page != 1 %} [{{ page }}]{% endif %}
    </h2>

	<div id="container">
		{% for object in objects %}
            {% if object %}
                <section class="third brick">
                    <h3><a href="{{ uri_for('entry', slug=object.key.string_id()) }}">{{ object.headline }}</a></h3>
                    <p>{% if object.front >= 0 %}
                            <img src="{{ object|image_url_by_num(object.front) }}/small" class="left" style="margin-bottom: 5px;"/>
                        {% endif %}{{ object.summary }}</p>
                    <p class="details">{{ object.author }},
                        {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                    </p>
                </section>
            {% endif %}
        {% else %}
            <section class="third brick">
                <div class="white none">
                    <h3>{{ _('No blog submitted') }}, {{ _('or filter has no results') }}.</h3>
                </div>
            </section>
		{% endfor %}
	</div>
{% endblock %}
