{% extends "entry/base.html" %}
{% block title %}{{ super() }} - {{ _('Blog') }}{% endblock %}
{% block paging %}
    {% with name='entry_all' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <div id="gallery">
        <div class="filters">
            <h2>{{ _('Filter') }}
                <span>{{ m.filter_title(filter) }}</span>
            </h2>
            <div id="links">
                {% set _tags = {'field': 'tags', 'title': _('Tags')} %}
                {% set _date = {'field': 'date', 'title': _('Dates')} %}
                {% set _author = {'field': 'author', 'title': _('Authors')} %}

                <div id="filters">
                    {% for f in [_tags, _date, _author] %}
                        <a class="{{ f.field }} block collapse" href="/filter/Entry_{{ f.field }}">{{ f.title }} [+]</a>
                        <div id="{{ f.field }}cloud" class="hide"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for object in objects %}
            {% if object %}
                <a href="{{ uri_for('entry', slug=object.key.string_id()) }}" class="blog">
                    <h2>{{ object.headline }}
                        <span>{{ object.author }}</span>
                        <span>{%- trans since=object.date|timesince %}{{ since }} ago{% endtrans -%}</span>
                    </h2>
                    <p>{{ object.summary }}</p>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var index = 0;
            var options = {duration: 350, queue: false};
            var $container = $('#gallery');
            $container.gridalicious({
                selector: '.filters, .blog',
                width: 240,
                gutter: 1,
                animate: true,
                animationOptions: {
                    speed: 100,
                    duration: 200
                }
            });
            $container.infinitescroll({
                binder: $(window),
                itemSelector: '.blog',
                nextSelector: '.next',
                navSelector: "nav.paginator"
            }, function(data) {
                $container.gridalicious('append', data);
            });

{#            $container.on('click', '.thumbnail a', function(event) {#}
{#                var href = $(this).attr('href');#}
{#                event.preventDefault();#}
{#                $('.thumbnail a').hide();#}
{#                $(this).next().show().css({top: '-100%'}).animate({top: '0%'}, options);#}
{#                $('.cover').each(function(i, el){#}
{#                    if ($(el).is(':visible')) {#}
{#                        index = i;#}
{#                    }#}
{#                });#}
{#            });#}
{#            $('.cover').on('mouseenter', function() {#}
{#                $('#nav').fadeIn();#}
{#            }).on('mouseleave', function() {#}
{#                $('#nav').fadeOut();#}
{#            });#}

            $('.filters h2').click(function(event) {
                $('#links').slideToggle();
            });
        });
    </script>
{% endblock %}