{% extends "base.html" %}
{% block title %}{{ super() }} - {{ _('Service unavailable') }} (503){% endblock %}
{% block subnav %}<a href="/">{{ _('Start ') }}</a>{% endblock %}

{% block contents %}
<article>
	{% popup unavailable %}
		<p><span class="error">{{ message }}</span>
			<br/>{{ _('Thanks for your patience') }}.</p>
	{% endpopup %}
	
	<h2>{{ _('Service unavailable') }} (503)</h2>
	<p><span class="error">{{ message }}</span>
		<br/>{{ _('Thanks for your patience') }}.</p>
</article>
{% endblock %}

{% block ga %}{% endblock %}
