<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>TimeOut Error</title>
    <style type="text/css">
        body { background: #ccc; color: #000; font-family: sans-serif; }
        h1 { color: #c00; }
        div {
            margin: 200px auto; width: 300px; padding: 15px 30px;
            background: #fff;
	        border-radius: 4px;
        }
    </style>
</head>
<body>
    <div>
        <h1>TimeOut Error</h1>
        <p>The API call took too long to respond and was cancelled.<br><a href="/">Try again later</a>.</p>
    </div>
</body>
</html>
