/**
 * Copyright 2009 Google Inc.  All Rights Reserved.
 *
 * Style sheet for unittest on app engine.
 *
 * Author: schuppe@google.com (Robert Schuppenies)
 */


/* Getting 2-panel layout to work */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.smaller-panel {
  width: 40%;
}

.larger-panel {
  width: 60%;
}

/* Left panel */

#left {
  float: left;
  height: 100%;
  overflow-y: auto;
  margin: 0;
}

#index {
  padding: 1em;
}

#index-title {
  font-family: sans-serif;
}

#root {
}

.aet-children {
  list-style-type: none;
  padding-left: 2em;
  margin-left: 0;
}

.aet-test {
  font-weight: normal;
  background-color: #e5ecf9;
}

.aet-label {
  padding-left: 1em;
  font-family: monospace;
  word-break: break-all;
}

.aet-label:hover {
  color: blue;
}

.aet-selected > .aet-label {
  font-weight: bold;
}

.aet-test.aet-unstarted {
  background-color: #ebf5ff;
}

.aet-test.aet-running {
  background-color: #ffc;
}

.aet-test.aet-error {
  background-color: #f99;
}

.aet-test.aet-fail {
  background-color: #fcc;
}

.aet-test.aet-pass {
  background-color: #cfc;
}

/* Right panel */

#right {
  float: left;
  height: 100%;
  overflow-y: auto;
}

#details-header {
  min-height: 5em;
  margin-top: 1em;
}

#displayed-test-name {
  font-size: 150%;
  white-space: pre-wrap;
  word-break: break-all;
  font-family: monospace;
}

#displayed-test-name.aet-running {
  color: #808000;
}

#displayed-test-name.aet-error {
  color: #900;
}

#displayed-test-name.aet-fail {
  color: #c00;
}

#displayed-test-name.aet-pass {
  color: #093;
}

#output {
  white-space: pre-wrap;
  word-break: break-all;
  border-style: solid;
  border-width: 1px;
  padding: 0.2em;
}

/*
 * Common input and output styles.
 */
.aet-input {
  background-color: #c3d2ff;
  border: thin dashed black;
  margin: 1em;
  padding: 1em;
}

.aet-output {
  background-color: #fff6a9;
  border: thin dashed black;
  margin: 1em;
  padding: 1em;
}

.aet-output.aet-success {
  background-color: #bbffbb;
}

.aet-output.aet-error {
  background-color: #ffaaaa;
}
