{% extends "base.html" %}

{% block menu %}
    {% set _tags = {'field': 'tags', 'title': _('Tags')} %}
    {% set _date = {'field': 'date', 'title': _('Dates')} %}
    {% set _author = {'field': 'author', 'title': _('Authors')} %}
    {% set _color = {'field': 'color', 'title': _('Color')} %}
    {% set _model = {'field': 'model', 'title': _('Camera model')} %}
    {% set _lens = {'field': 'lens', 'title': _('Lens type')} %}
    {% set _eqv = {'field': 'eqv', 'title': _('Eqv. focal length')} %}
    {% set _iso = {'field': 'iso', 'title': _('Sensitivity')} %}
    <ul>
        <li>
            <a class="selected" href="{{ uri_for('photo_all') }}">{{ _('Photos') }}</a>
            <div class="submenu">
                {% for f in [_tags, _date, _author, _color, _model, _lens, _eqv, _iso] %}
                    <a class="{{ f.field }} block collapse" href="/filter/Photo_{{ f.field }}">{{ f.title }} [+]</a>
                    <div id="{{ f.field }}cloud" class="hide"></div>
                {% endfor %}
            </div>
        </li>
        <li><a href="{{ uri_for('entry_all') }}">{{ _('Blog') }}</a></li>
        <li><a href="{{ uri_for('admin_all') }}">{{ _('Administration') }}</a></li>
    </ul>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var filter = {{ filter|to_json }};
            if (filter) {
                $('.hide').hide();
                $('.collapse').each(function() {
                    $(this).plus();
                });
                $.ajax({
                    url: '/filter/Photo_' + filter.field + '/' + filter.value,
                    context: $('#' + filter.field + 'cloud'),
                    success: function(snippet) {
                        $(this).html(snippet).slideDown();
                        $('.' + filter.field).minus();
                    }
                });
            }

            $(document).on('click', 'a.collapse', function (evt) {
                evt.preventDefault();
                var cntx = $(this);
                var url = cntx.attr('href');
                var key = url.split('/').pop();
                var field = key.split('_').pop();

                $('.hide').slideUp();
                $('.collapse').each(function () {
                    $(this).plus();
                });

                $('#spinner').show();
                $.ajax({
                    url: url,
                    context: cntx.next(),
                    success: function (snippet) {
                        $(this).html(snippet).slideDown();
                        cntx.minus();
                        $('#spinner').hide();
                    }
                });
            });
        });
    </script>
{% endblock %}