<dl class="w25em">
    <dt>1.0</dt>
    <dd>Full frame (36x24mm) Canon EOS 5D Mark III, NIKON D700</dd>
</dl>
<dl class="w25em">
    <dt>1.3</dt>
    <dd>APS-H</dd>
</dl>
<dl class="w25em">
    <dt>1.5</dt>
    <dd>Nikon DX, NIKON D80</dd>
</dl>
<dl class="w25em">
    <dt>1.6</dt>
    <dd>APS-C, Canon EOS 400D</dd>
</dl>
<dl class="w25em">
    <dt>2.0</dt>
    <dd>4/3</dd>
</dl>
<dl class="w25em">
    <dt>4.6</dt>
    <dd>1/1.7" Canon PowerShot A80</dd>
</dl>
<dl class="w25em">
    <dt>5.6</dt>
    <dd>1/2.5" Canon IXUS 115 HS</dd>
</dl>
<dl class="w25em">
    <dt>6</dt>
    <dd>0.28" SAMSUNG SM-T520</dd>
</dl>
<dl class="w25em">
    <dt>7.6</dt>
    <dd>Nexus 4</dd>
</dl>
<dl class="w25em">
    <dt>8.8</dt>
    <dd>Nexus S</dd>
</dl>