<a class='btn waves-effect modal-trigger' href='#crops'>Crop factors</a>
<p>{{ _('Crop factor represent dimensional ratio between sensor and the 35 mm film camera (36x24mm)') }}</p>
<div id="crops" class="modal">
    <div class="modal-content">
        {% for crop, models in crops.items() %}
            <div class="row">
                <div class="col s2"><a href="#!">{{ crop }}</a></div>
                <div class="col s10">
                    {% for model in models %}{{ model }}{% if not loop.last %}, {% endif %}{% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
