{% set data = {
    'class': 'port',
    'data-prev': previous_url if previous else '',
    'data-page': object_url,
    'data-next': next_url if next else ''} %}
<div{{ data|xmlattr }}>
    {% import "snippets/macros.html" as m %}
    <article>
        {% if filter %}
            {% set url = uri_for('photo_filter_all', field=filter.field, value=filter.value) %}
        {% else %}
            {% set url = uri_for('photo_all') %}
        {% endif %}
        <h2>
            <a href="{{ url }}"> {{ _('Photos') }}
                {{ m.filter_title(filter) }}
            </a>
            / {{ object.headline }}
        </h2>
        <p class="subtitle">
            <i class="fa fa-user"></i>
            <a href="{{ uri_for('photo_filter_all', field='author', value=object.author) }}"
                title="{{ _("author's photos") }}">{{ object.author }}</a>
            {% for tag in object.tags %}
                {% if loop.first %}<i class="fa fa-tags"></i>{% endif %}
                <a href="{{ uri_for('photo_filter_all', field='tags', value=tag) }}">
                    {{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
            <i class="fa fa-clock-o"></i>
            <a href="{{ uri_for('photo_filter_all', field='date', value=object.year) }}"
                title="{{ _('photos taken same year') }}">{{ object.year }}</a>
        </p>
        <canvas data-url="{{ object.normal_url_async.get_result() }}"></canvas>
    </article>
    <aside>
        {% include "photo/exif.html" %}
        <div id="comments">
            {% for comment in object.comment_list() %}
                {{ m.render_comment(comment, user) }}
            {% endfor %}
        </div>
        {% if user %}
            <h3><a class="comment_add block button" href="{{ uri_for('comment_add', safe_key=object.key.urlsafe()) }}">
                <i class="fa fa-comment"></i> {{ _('Add Comment') }}</a></h3>
            <h3><a class="block button" href="{{ uri_for('download', safe_key=object.key.urlsafe()) }}">
                <i class="fa fa-download"></i> {{ _('Download') }} ({{ object.size|filesizeformat }})</a></h3>
        {% endif %}
        {% if is_admin or user == object.author %}
            <h3><a class="block button" href="{{ uri_for('photo_edit', slug=object.key.string_id()) }}">
                <i class="fa fa-pencil-square"></i> {{ _('Edit') }}</a></h3>
        {% endif %}
    </aside>
</div>