{% extends "photo/base.html" %}
{% block paging %}
    {% with %}
        {% set name='photo_all' %}
        {% set slug=slug %}
        {% include 'snippets/paging.html' %}
    {% endwith %}
{% endblock %}

{% block contents %}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for object in objects %}
                <div id="{{ object.key.string_id() }}" class="card swiper-slide z-depth-0">
                    <div class="card-content hide-on-small-only">
                        <span class="card-title activator">{{ object.headline }}
                            <i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-image">
                        <img class="swiper-lazy" data-src="{{ object.serving_url }}=s0">
                        <span class="card-title hide-on-med-and-up">{{ object.headline }}</span>
                    </div>
                    <div class="card-reveal exif hide-on-small-only">
                        {% include "photo/exif.html" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/jquery.zoom.min.js"></script>
    <script src="/static/scripts/pinchzoom.min.js"></script>
    <script>
        $(function () {
            var page = $.getQueryParameters().page,
                ids = $('.card').map(function() {
                    return this.id
                }).get(),
                index = $.inArray('{{ slug }}', ids),
                max = parseInt('{{ max }}'),
                pages = [];

            if (page !== undefined) {
                pages.push(page);
            }

            function is_touch_device() {
                try {
                    document.createEvent("TouchEvent");
                    return true;
                } catch (e) {
                    return false;
                }
            }

            function enable_zoom() {
                if (is_touch_device()) {
                    $('.card').not(":has('.pinch-zoom-container')").each(function() {
                        new RTP.PinchZoom($(this).find('.card-image'), {
                            tapZoomFactor: 2
                        })
                    });
                } else {
                    $('.card').not(":has('.zoomImg')").each(function() {
                        $(this).find('.card-image').zoom({
                            on: 'click',
                            duration: 300
                        });
                    });
                }
            }

            function adjastView(sw) {
                var slide = sw.slides.eq(sw.activeIndex),
                    slug = slide[0].id;

                sw.update(true);
                window.history.replaceState(location.pathname, '', slug);
                $('html, body').animate({scrollTop: 0});
            }

            function getPage(sw) {
                var href = $('.next').attr('href');
                if (href !== undefined) {
                    var page = $.getQueryParameters(href).page;
                    if ($.inArray(page, pages) == -1 && pages.length < max) {
                        $.get(href, function(response) {
                            var $page = $(response);
                            sw.appendSlide($page.find('.card'));
                            enable_zoom();
                            $('.pagination').replaceWith(function() {
                                return $page.find('.pagination').hide();
                            });
                        });
                        pages.push(page);
                    }
                }
            }

            var swiper = new Swiper('.swiper-container', {
                loop: false,
                keyboardControl: true,
                longSwipesRatio: 0.3,
                grabCursor: true,
                lazyLoading: true,
                lazyLoadingInPrevNext: true,
                initialSlide: (index != -1)? index: 0,
                onReachEnd: getPage,
                onLazyImageReady: adjastView,
                onSlideChangeEnd: adjastView
            });

            enable_zoom();
            $('.pagination').hide();
        });
    </script>
{% endblock %}