{% extends "photo/base.html" %}
{% block title %}{{ super() }} - {{ object.headline }}{% endblock %}
{% block meta %}<meta name="date" content="{{ object.date|to_date }}"/>{% endblock %}

{% block modals %}
{{ super() }}
{% endblock %}

{% block paging %}
    {% if previous or next %}
        {% if previous %}
            {% set url = uri_for('photo_filter', field=filter.field, value=filter.value, slug=previous.key.string_id())
                if filter else uri_for('photo', slug=previous.key.string_id()) %}
            <a{{ {'href': url, 'class': prev_class, 'title': previous.headline}|xmlattr }}></a>
        {% else %}
            <span class="{{ prev_class }} na"></span>
        {% endif %}
        {% if next %}
            {% set url = uri_for('photo_filter', field=filter.field, value=filter.value, slug=next.key.string_id())
                if filter else uri_for('photo', slug=next.key.string_id()) %}
            <a{{ {'href': url, 'class': next_class, 'title': next.headline}|xmlattr }}></a>
        {% else %}
            <span class="{{ next_class }} na"></span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block contents %}
    <div class="page">
        <header>
            {% if filter %}
                {% set base_url = uri_for('photo_all_filter', page=page, field=filter.field, value=filter.value) %}
            {% else %}
                {% set base_url = uri_for('photo_all', page=page) %}
            {% endif %}
            <h2>
                <a href="{{ base_url }}">{{ _('Photos') }} {{ m.filter_title(filter) }}</a> / {{ object.headline }}
            </h2>
            <p class="subtitle">
                <i class="fa fa-user"></i>&nbsp;
                <a href="{{ uri_for('photo_all_filter', page=1, field='author', value=object.author) }}"
                    title="{{ _("author's photos") }}">{{ object.author }}</a>
                {% for tag in object.tags %}
                    {% if loop.first %}&nbsp;<i class="fa fa-tags"></i>{% endif %}
                    <a href="{{ uri_for('photo_all_filter', page=1, field='tags', value=tag) }}">
                        {{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
                &nbsp;<i class="fa fa-clock-o"></i>&nbsp;
                <a href="{{ uri_for('photo_all_filter', page=1, field='date', value=object.year) }}"
                    title="{{ _('photos taken same year') }}">{{ object.year }}</a>
            </p>
        </header>
        <article class="port">
            <section class="copyright">
                <img src="{{ object.normal_url_async.get_result() }}">
            </section>
            <aside>
                {% include "photo/exif.html" %}
            </aside>
        </article>
    </div>
{% endblock %}