<table class="data zebra w100p">
	<thead>
		<tr>
			<th colspan="2"><a href="{{ uri_for('photos') }}model/{{ object.model }}/" title="{{ _('photos taken with same camera model') }}">{{ object.model }}</a>
				{% if object.lens %}<br/>
                    <a href="{{ uri_for('photos') }}lens/{{ object.lens }}/" title="{{ _('photos taken with same lens') }}">{{ object.lens }}</a>
                {% endif %}
            </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="label">{{ _('Aperture') }}</td>
			<td>
				{% if object.aperture %}F{{ object.aperture }}{% else %}---{% endif %}
			</td>
		</tr>
		<tr>
			<td class="label">{{ _('Shutter speed') }}</td>
			<td>{{ object.shutter }} sec</td>
		</tr>
		<tr>
			<td class="label">{{ _('Focal length') }}</td>
			<td>
				{% if object.focal_length %}
					{{ object.focal_length }} mm
					{% if object.eqv %}
						(~<a href="{{ uri_for('photos') }}eqv/{{ object.eqv }}/" title="{{ _('photos with same equvalent focal length') }}">{{ object.eqv }} {{ _('eqv') }}</a>.)
					{% endif %}
				{% else %}---{% endif %}
			</td>
		</tr>
		<tr>
			<td class="label">{{ _('Sensitivity') }} (ISO)</td>
			<td>{% if object.iso %}<a href="{{ uri_for('photos') }}iso/{{ object.iso }}/" title="{{ _('photos with same iso') }}">{{ object.iso }} ASA</a>{% else %}---{% endif %}</td>
		</tr>
		<tr>
			<td class="label">{{ _('Taken') }}</td>
			<td><time datetime='{{ object.date|format_datetime }}'>
				{{ object.date|format_datetime }}</time></td>
		</tr>
        <tr>
            <td class="label">{{ _('Size') }}</td>
            <td>{{ object.size|filesizeformat(binary=True) }}</td>
        </tr>
        <tr>
            <td class="label">{{ _('Median color') }}</td>
            <td>
                {% if object.rgb %}
                    <a href="{{ object.similar_url }}" title="{{ _('photos with similar color') }}">RGB: {{ object.hex }}</a>
                    <span style="float: right; background: {{ object.hex }}; width: 12px;">&nbsp;</span>
                {% else %}---{% endif %}
            </td>
        </tr>
	</tbody>
</table>
