<table>
    <tr>
        <th colspan="2">
            <a href="{{ uri_for('photo_all_filter', field='model', value=object.model) }}"
            title="{{ _('photos taken with same camera model') }}">{{ object.model }}</a>
            {% if object.lens %}<br/>
                <a href="{{ uri_for('photo_all_filter', field='lens', value=object.lens) }}"
                   title="{{ _('photos taken with same lens') }}">{{ object.lens }}</a>
            {% endif %}
        </th>
    </tr>
    <tr>
        <th colspan="2">
            <a href="{{ uri_for('photo_all_filter', field='author', value=object.author) }}"
                title="{{ _("author's photos") }}">{{ object.author }}</a>
            {% for tag in object.tags %}
                {% if loop.first %}&nbsp;<i class="fa fa-tag"></i>{% endif %}
                <a href="{{ uri_for('photo_all_filter', field='tags', value=tag) }}">
                    {{ tag }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
            &nbsp;<i class="fa fa-clock-o"></i>&nbsp;
            <a href="{{ uri_for('photo_all_filter', field='date', value=object.year) }}"
                title="{{ _('photos taken same year') }}">{{ object.year }}</a>
        </th>
    </tr>
    <tr>
        <td>{{ _('Aperture') }}</td>
        <td>{{ 'F%s' % object.aperture if object.aperture is not none else '---' }}</td>
    </tr>
    <tr>
        <td>{{ _('Shutter speed') }}</td>
        <td>{{ '%s sec' % object.shutter if object.shutter != '' else '---' }}</td>
    </tr>
    <tr>
        <td>{{ _('Focal length') }}</td>
        <td>
            {{ '%s mm' % object.focal_length if object.focal_length is not none else '---' }}
            {% if object.eqv %}
                (~<a href="{{ uri_for('photo_all_filter', field='eqv', value=object.eqv) }}"
                title="{{ _('photos with same equvalent focal length') }}">{{ object.eqv }} {{ _('eqv') }}</a>.)
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>{{ _('Sensitivity') }} (ISO)</td>
        <td>{% if object.iso %}<a href="{{ uri_for('photo_all_filter', field='iso', value=object.iso) }}"
            title="{{ _('photos with same iso') }}">{{ object.iso }} ASA</a>{% else %}---{% endif %}</td>
    </tr>
    <tr>
        <td>{{ _('Taken') }}</td>
        <td><time datetime='{{ object.date|to_datetime }}'>
            {{ object.date|to_datetime }}</time></td>
    </tr>
    <tr>
        <td>{{ _('Color classification') }}</td>
        <td>
            <span class="hex dot" style="border-color: {{ object.hex }}; vertical-align: middle;"></span>&nbsp;
            <a class="url" href="{{ uri_for('photo_all_filter', field='color', value=object.color) }}"
               title="{{ _('photos with similar color') }}">{{ _(object.color) }}</a>
        </td>
    </tr>
    {% if user %}
        <tr>
            <td colspan="2">
                <a href="{{ uri_for('download', safe_key=object.key.urlsafe()) }}">
                    {{ _('Download') }} ({{ object|image_dimension }}, {{ object.size|filesizeformat }})</a>
            </td>
        </tr>
    {% endif %}
</table>