{% extends "photo/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}{{ super() }} - {{ _('Add new / change existing photo') }}{% endblock %}

{% block subnav %}
    <h2>
        {% if object %}
            {% if is_admin or user == object.author %}
                <a class="confirm" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
                <a href="{{ uri_for('photo', slug=object.key.string_id()) }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
            {% endif %}
        {% else %}
            <a href="{{ uri_for('photo_all') }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
        {% endif %}
    </h2>
{% endblock %}

{% block aside %}
	<p>{{ _('Slug uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
	<p>{{ _('Tags determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
	<p>{{ _('Forward slash is not allowed in any field. It will be stripped out automatically.') }}</p>
	<p><strong>{{ _('Send photo less then') }} 1MB.</strong></p>

	<p>{{ _('Crop factor represent dimensional ratio between sensor and the 35 mm film camera (36x24mm)') }}:</p>
	<table>
		<tr><th>Senesor size</th><th>Crop factor</th></tr>
		<tr><td>Full format</td><td>1.0 (Contax 137 MD Quartz)</td></tr>
		<tr><td>APS-H</td><td>1.3</td></tr>
		<tr><td>Nikon DX</td><td>1.5 (NIKON D80)</td></tr>
		<tr><td>Canon APS-C</td><td>1.6 (Canon EOS 400D)</td></tr>
		<tr><td>Four-thirds</td><td>2.0</td></tr>
		<tr><td>1/1.7"</td><td>4.6 (Canon PowerShot A80)</td></tr>
		<tr><td>1/1.8"</td><td>4.8</td></tr>
		<tr><td>1/2.5"</td><td>5.6 (Canon IXUS 115 HS)</td></tr>
		<tr><td>1/2.7"</td><td>6.6 (OLYMPUS IR-500)</td></tr>
	</table>
	<p><strong>{{ _('Date format') }} &quot;yyyy-mm-dd hh:mm:ss&quot;</strong></p>
{% endblock %}

{% block contents %}
<article id="port">
	<h2>{{ _('Add new / change existing photo') }}</h2>
	{% if form.errors %}
		<div class="formerrors">
            <i class="icon-warning-sign icon-3x pull-left" style="color: orange"></i>
			<p>{{ _('Please correct errors in') }}
			{{ form.errors|join(", ") }}.</p>
		</div>
	{% endif %}

    {% if upload_url %}
        <form action="{{ upload_url }}" enctype="multipart/form-data" method="post">
            <fieldset>
                {{ m.form_row(form.headline) }}
                {{ m.form_row(form.slug) }}
                {{ m.form_row(form.tags) }}
                {{ m.form_row(form.photo) }}
                <p class="buttons">
                    <span class="required">{{ _('Required field') }}</span>
                    <button type="submit">{{ _('upload') }}</button>
                </p>
            </fieldset>
        </form>
    {% endif %}

	{% if object %}
	    <form action="{{ uri_for('photo_edit', slug=object.key.string_id()) }}" method="post">
            <div id="palette">
                <img src="{{ object.small_url() }}"/>
                <p style="padding: 0.5em 0; text-align: center">
                    <button type="button">{{ _('Calculate palette') }}</button>
                </p>
                <table class="palette zebra"></table>
                <script>
                    var palette_url = '/photos/' + '{{ object.key.string_id() }}' + '/palette';
                    var explain = '{{ _('Click - pick color from palette which best represent image') }}';
                </script>
            </div>

			<fieldset>
                {{ m.form_row(form.headline) }}
                {{ m.form_row(form.tags) }}
				{% if is_admin %}
                    {{ m.form_row(form.author) }}
				{% else %}
					<input type="hidden" name="author" value="{{ object.author.nickname() }}"/>
				{% endif %}
			</fieldset>
			
			<fieldset>
				<h3>EXIF {{ _('data') }}</h3>
                {{ m.form_row(form.model) }}
                {{ m.form_row(form.lens) }}
                {{ m.form_row(form.aperture) }}
                {{ m.form_row(form.shutter) }}
                {{ m.form_row(form.focal_length) }}
                {{ m.form_row(form.crop_factor) }}
                {{ m.form_row(form.iso) }}
                {{ m.form_row(form.date) }}
				<p class="buttons">
					<span class="required">{{ _('Required field') }}</span>
					<button type="submit">{{ _('done') }}</button>
				</p>
			</fieldset>
		</form>
	{% endif %}
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/urlify.js"></script>
    <script src="/static/scripts/jquery.autocomplete.js"></script>
    <script>
        $(function() {
            $('#headline').slugify();
            $("#tags").autocomplete("/complete/Photo_tags", {
                width: 284,
                selectFirst: false,
                multiple: true,
                matchContains: true
            });
            $("#lens").autocomplete("/complete/Photo_lens", {
                width: 284,
                selectFirst: false,
                multiple: false,
                matchContains: true
            });
            $('button[type=submit]').click(function() {
                $('#overlay, #spinner').show();
            });

            var write_palette = function() {
                $.getJSON(palette_url, function(data) {
                    var cntx = $('table.palette');
                    cntx.empty()
                        .append('<tr><th>active</th>' +
                            '<td><span class="dot" data-color="[' + data.active.color + ']" style="border-color: ' + data.active.hex + '"></span></td>' +
                            '<th>' + data.active.class + '</th></tr>');
                    $.each(data.palette, function(i, pal) {
                        cntx
                            .append('<tr><th>' + pal.prominence + '</th>' +
                                '<td><span class="dot" data-color="[' + pal.color + ']" style="border-color: ' + pal.hex + '"></span></td>' +
                                '<td>' + pal.class + '</td></tr>');
                    });
                    if (data.bgcolor) {
                        cntx
                            .append('<tr><th>' + data.bgcolor.prominence + '</th>' +
                                '<td><span class="dot" data-color="[' + data.bgcolor.color + ']" style="border-color: ' + data.bgcolor.hex + '"></span></td>' +
                                '<td>' + data.bgcolor.class + '</td></tr>');
                    }
{#                    cntx.after('<p>' + explain + '</p>');#}
                    });
            }
            $('button[type=button]').click(function() {
                write_palette();
                return false
            });
            $('.dot').live('click', function() {
                var rgb = $(this).attr('data-color');
                $.post(palette_url, {'rgb': rgb}, function(data) {
                    if (data.success == true) {
                        write_palette();
                    }
                })
            })
        });
    </script>
{% endblock %}
{% block ga %}{% endblock %}