{% set data = {
    'class': 'thumbnails',
    'data-prev': (page - 1) if has_previous else None,
    'data-page': page,
    'data-next': (page + 1) if has_next else None} %}
<div{{ data|xmlattr }}>
    {% for object in objects %}
        {% if object %}
            {% if filter %}
                {% set url = uri_for('photo_filter', field = filter.field, value = filter.value, slug = object.key.string_id()) %}
            {% else %}
                {% set url = uri_for('photo', slug = object.key.string_id()) %}
            {% endif %}
            <figure>
                <a href="{{ url }}"
                    style="background-image: url({{ object.small_url_async.get_result() }})">
                    <p class="legend">{{ object.headline }}</p>
                </a>
            </figure>
        {% endif %}
    {% endfor %}
</div>