{% set data = {
    'class': 'page',
    'data-prev': previous_url,
    'data-page': current_url,
    'data-next': next_url,
    'data-title': _('Photos')} %}
<div{{ data|xmlattr }}>
    {% import "snippets/macros.html" as m %}
    <header>
        <h2>
            <a href="{{ uri_for('photo_all') }}">{{ _('Photos') }}</a>
            {{ m.filter_title(filter) }}
        </h2>
    </header>
    <article class="thumbnails">
        {% for object in objects %}
            {% if object %}
                {% if filter %}
                    {% set url = uri_for('photo_filter', field = filter.field, value = filter.value, slug = object.key.string_id()) %}
                {% else %}
                    {% set url = uri_for('photo', slug = object.key.string_id()) %}
                {% endif %}
                <figure>
                    <a href="{{ url }}"
                        style="background-image: url({{ object.small_url_async.get_result() }})">
                        <p class="legend">{{ object.headline }}</p>
                    </a>
                </figure>
            {% endif %}
        {% endfor %}
    </article>
</div>