{% extends "photo/base.html" %}

{% block paging %}
    {% with name='photo_all' %}{% include 'snippets/paging.html' %}{% endwith %}
{% endblock %}

{% block contents %}
    <div id="gallery">
        {% for object in objects %}
            {% if filter %}
                {% set url = uri_for('photo_filter', field = filter.field, value = filter.value) %}
            {% else %}
                {% set url = uri_for('photo') %}
            {% endif %}
            <a class="thumbnail"
               href="{{ url }}?slug={{ object.key.string_id() }}&page={{ page }}">
                <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-src="{{ object.serving_url }}=s400">
                <div class="mask">
                    {{ object.headline }}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/blazy.min.js"></script>
    <script>
        $(document).ready(function () {
            var bLazy = new Blazy();
            var $container = $('#gallery');
            $container.gridalicious({
                selector: '.thumbnail',
                width: 240,
                speed: 10,
                gutter: 1
            });
            $container.infinitescroll({
                binder: $(window),
                itemSelector: '.thumbnail',
                nextSelector: 'a.next',
                navSelector: "nav.paginator"
            }, function(data) {
                $container.gridalicious('append', data);
                bLazy.revalidate();
            });
        });
    </script>
{% endblock %}