<!DOCTYPE html>
<html>
<head>
    <title>SPECTRA</title>
    <style>
        body { font-family: sans-serif; color: #fff; background: #000; }
        .item { float: left; width: 20px; height: 20px; border-right: 1px solid black; }
    </style>
</head>
<body>
    <h1>SPECTRA</h1>
    {% for color in data %}
        <h2>{{ color.name }}</h2>
        {% for item in color.colors %}
            <div class="item" style="background: {{ item }}">&nbsp;</div>
        {% endfor %}
        <br style="clear: both">
    {% endfor %}
</body>
</html>