{% for key, val in mem.items() %}
    {% set title = '%s cloud' % key.split('_').pop() %}
    <div class="row valign-wrapper">
        <div class="col s8 valign middle">{{ title }}</div>
        <div class="col s4 right-align">
            {% if value %}
                <button class="btn-floating amber waves-effect" type="submit" name="delete" value="{{ key }}">
                    <i class="material-icons">delete</i>
                </button>&nbsp;
                <a class="graph btn-floating waves-effect" href="/visualize/{{ key }}">
                    <i class="material-icons">visibility</i>
                </a>
            {% else %}
                <button class="btn-floating waves-effect" type="submit" name="put" value="{{ key }}">
                    <i class="material-icons">cached</i>
                </button>
            {% endif %}
        </div>
    </div>
{% endfor %}
