{% import "snippets/macros.html" as m %}
<div class="popup dummy">
	<h4>{{ _('Add comment') }}</h4>
	<a class="button close" title="{{ _('close') }}">{{ _('close') }}</a>
	<div class="content">
		<h6>{{ _('for') }} {{ headline }}</h6>
		<form id="addcommentForm" action="" method="post">
			<fieldset>
                {{ m.form_row(form.email) }}
                {{ m.form_row(form.body, class='editor', rows=6) }}
			</fieldset>
			<p class="buttons">
				<button type="submit">{{ _('send') }}</button>
			</p>
		</form>
	</div>
</div>
<div class="popup info hide">
	<h4>{{ _('Thank you') }}</h4>
	<a class="button close" title="{{ _('close') }}">{{ _('close') }}</a>
	<div class="content">
		<p>{{ _('Your comment has been sent in deferred manner') }}.
			{{ _('It may take some time before site become aware of it') }}.<br/>
			{{ _('Thank you for your contribution') }}.</p>
	</div>
</div>
<script src="/static/scripts/markitup/jquery.markitup.pack.js"></script>
<script src="/static/scripts/markitup/sets/cmnt.set_{{ LANGUAGE_CODE }}.js"></script>
<link type="text/css" rel="stylesheet" href="/static/scripts/markitup/skins/simple/style.css"/>
<link type="text/css" rel="stylesheet" href="/static/scripts/markitup/sets/buttons.css"/>
<script>
$(function() {
	$('#body').markItUp(cmntSettings, {nameSpace: 'small'});
	$('.content button').click(function() {
        $.ajax({
            type: 'POST',
            url: '/comments/{{ safekey }}/add',
            data: {'email': $('#email').val(),
                   'body': $('#body').val()},
            dataType: 'json',
            success: function(data, status, xhr) {
                console.log(status);
                console.log(data);
                console.log(xhr);
            }
        });
        return false
{#        var url = '/comments/{{ safekey }}/add';#}
{#		$.post(url, {'email': $('#email').val(),#}
{#					 'body': $('#body').val()},#}
{#			function(data) {#}
{#                console.log(data);#}
{#				if (data && data.success == true) {#}
{#					$('.dummy').hide();#}
{#					$('.info').show()#}
{#					setTimeout(function() {#}
{#						$('#overlay, #addcomment').hide();#}
{#					}, 5000);#}
{#				} else {#}
{#					$('.error').text('');#}
{#					$.each(data, function(key, err) {#}
{#						$('.C_' + key).text(', '.join(err));#}
{#					});#}
{#				}#}
{#			}, 'json');#}
{#		return false;#}
	});
});
</script>