<div class="popup dummy">
	<h4>{{ _('Add comment') }}</h4>
    <a class="close icon-remove-sign icon-2x" title="{{ _('close') }}"></a>
	<div class="content">
		<h6>{{ _('for') }} {{ headline }}</h6>
		<form id="addcommentForm" action="/{{ safe_key }}/add" method="post">
			<fieldset>
                <p class="editor">
                    {{ form.body(rows=8) }}
                    <span class="error C_{{ form.body.name }}"><!-- -->{{ form.body.errors|join(', ') }}</span>
                </p>
			</fieldset>
			<p class="buttons">
				<button type="submit">{{ _('send') }}</button>
			</p>
		</form>
	</div>
</div>
<div class="popup info hide">
	<h4>{{ _('Thank you') }}</h4>
    <a class="close icon-remove-sign icon-2x" title="{{ _('close') }}"></a>
	<div class="content">
		<p>{{ _('Thank you for your contribution') }}.</p>
	</div>
</div>