<div class="popup dummy">
	<h4>{{ _('Add comment') }}</h4>
    <a class="close icon-remove-sign icon-2x" title="{{ _('close') }}"></a>
	<div class="content">
		<h6>{{ _('for') }} {{ headline }}</h6>
		<form id="addcommentForm" action="" method="post">
			<fieldset>
                <p class="editor">
                    {{ form.body(rows=8) }}
                    <span class="error C_{{ form.body.name }}"><!-- -->{{ form.body.errors|join(', ') }}</span>
                </p>
			</fieldset>
			<p class="buttons">
				<button type="submit">{{ _('send') }}</button>
			</p>
		</form>
	</div>
</div>
<div class="popup info hide">
	<h4>{{ _('Thank you') }}</h4>
    <a class="close icon-remove-sign icon-2x" title="{{ _('close') }}"></a>
	<div class="content">
		<p>{{ _('Thank you for your contribution') }}.</p>
	</div>
</div>
<script src="/static/scripts/markitup/jquery.markitup.js"></script>
<script src="/static/scripts/markitup/sets/cmnt.set_{{ LANGUAGE_CODE }}.js"></script>
<link type="text/css" rel="stylesheet" href="/static/scripts/markitup/skins/simple/style.css"/>
<link type="text/css" rel="stylesheet" href="/static/scripts/markitup/sets/buttons.css"/>
<script>
$(function() {
	$('#body').markItUp(cmntSettings, {nameSpace: 'small'});
	$('.content button').click(function() {
        $.ajax({
            type: 'POST',
            url: '/{{ safe_key }}/add',
            data: {'body': $('#body').val()},
            success: function(data) {
                if (typeof(data) == 'string') {
                    $('.dummy').hide();
                    $('.info').show()
                    $('.comments').prepend(data);
                    $('a.confirm').click(function() {
                        $('#confirm').load(this.href, function() {
                            $('#overlay, #confirm').show();
                        });
                        return false
                    });
                    setTimeout(function() {
                        $('#overlay, #addcomment').hide();
                    }, 1000);
                } else {
                    $('.error').text('');
                    $.each(data, function(key, arr) {
                        $('.error.C_' + key).text(arr.join(', '));
                    });
                }
            }
        });
        return false
	});
});
</script>