{% import "snippets/macros.html" as m %}
{% if field_name in ['date', 'iso', 'eqv'] %} {# integers #}
    {% for item in items %}
        {% set selected = item.name == filter.value|int if filter else False %}
        {% set text = item.name %}
        {% if field_name == 'iso' %}
            {% set text = '%s ASA' % item.name %}
        {% elif field_name == 'eqv' %}
            {% set text = '%smm' % item.name %}
        {% endif %}
        {{ m.chip(url=uri_for(link, field=field_name, value=item.name),
            classes=['selected' if selected], text=text) }}
{#        {{ m.chip(url=uri_for(link, field=field_name, value=item.name),#}
{#            classes=['fs%s' % item.size, 'selected' if selected], text=text) }}#}
    {% endfor %}
{% elif field_name =='color' %}
    {% for item in items %}
        {% if item.count > 0 %}
            {% set selected = item.name == filter.value if filter else False %}
            {{ m.chip(url=uri_for(link, field=item.field, value=item.name),
                icon='<span class="dot" style="border-color: %s;"></span>' % item.hex,
                classes=['selected' if selected], text=item.name) }}
        {% endif %}
    {% endfor %}
{% else %} {# author, model, tags, lens #}
    {% for item in items %}
        {% set selected = item.name == filter.value if filter else False %}
        {{ m.chip(url=uri_for(link, field=field_name, value=item.name),
            classes=['selected' if selected], text=item.name) }}
    {% endfor %}
{% endif %}