{% from "snippets/macros.html" import chip %}

{% if field_name in ['date', 'iso'] %} {# integers #}
    {% for item in items %}
        {% if item.count > limit %}
            {% set selected = item.name == filter.value|int if filter else False %}
            {% set text = item.name %}
            {% if field_name == 'iso' %}
                {% set text = '%s ASA' % item.name %}
            {% endif %}
            {{ chip(url=uri_for(link, field=field_name, value=item.name),
                classes=['selected' if selected], text=text) }}
{#                {{ chip(url=uri_for(link, field=field_name, value=item.name),#}
{#                    classes=['fs%s' % item.size, 'selected' if selected], text=text) }}#}
        {% endif %}
    {% endfor %}
{% elif field_name =='color' %}
{#    [{'field': 'color', 'order': '1', 'name': 'orange', 'hex': '#f90', 'count': 7}, ...#}
    {% for item in items %}
        {% if item.count > limit %}
            {% set selected = item.name == filter.value if filter else False %}
{#            {{ chip(url=uri_for(link, field=item.field, value=item.name),
                icon='<span class="dot" style="border-color: %s;"></span>' % item.hex,
                classes=['selected' if selected], text=item.name) }} #}
            {{ chip(url=uri_for(link, field=item.field, value=item.name),
                classes=['selected' if selected], text=_(item.name)) }}
        {% endif %}
    {% endfor %}
{% elif field_name == 'tags' %} {# reducing tags #}
    {% for item in items %}
        {% if item.count > limit %}
            {% set selected = item.name == filter.value if filter else False %}
            {{ chip(url=uri_for(link, field=field_name, value=item.name),
                classes=['selected' if selected], text=item.name) }}
        {% endif %}
    {% endfor %}
{% else %} {# author, model, lens #}
{#    [{'count': 3, 'name': 'Canon EOS 400D DIGITAL', 'size': 5}, ...#}
    {% for item in items %}
        {% if item.count > limit %}
            {% set selected = item.name == filter.value if filter else False %}
            {{ chip(url=uri_for(link, field=field_name, value=item.name),
                classes=['selected' if selected], text=item.name) }}
        {% endif %}
    {% endfor %}
{% endif %}
