<div class="popup">
    <h4>{{ _('Median color') }}</h4>
    <a class="button close" title="{{ _('close') }}">{{ _('close') }}</a>
    <div class="content">
        <div id="chart"></div>
        <p>{{ _('Based od HLS color model') }}</p>
    </div>
</div>
<script>
    $(function() {
        var items = {{ items|to_json }};
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('number', 'count');

        $.each(items, function(i, item) {
            data.addRow([item.name, item.count]);
        });
        var chart = new google.visualization.PieChart($('#chart')[0]);
        var colors = {{ colors|to_json }};
        $.extend(chartOptions, {colors: colors});
        chart.draw(data, chartOptions);
    })
</script>