<form id="deleteForm" action="{{ post_url }}" method="post">
    <div class="modal-content">
        <span class="card-title">{{ _('Confirm') }}</span>
        <input name="token" type="hidden" value="{{ session.csrf }}">
        <p>{{ _('Do you really want to delete') }}
            &quot;{{ object.headline }}&quot;
            {{ _('posted by') }}
            <strong>{{ object.author }}</strong>?
        </p>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn waves-effect orange">{{ _('Delete') }}</button>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</form>
