<div class="popup">
	<h4>{{ _('Confirm') }}</h4>
    <a class="close fa fa-times-circle fa-2x" title="{{ _('close') }}"></a>
	<div class="content">
        <i class="fa fa-exclamation-triangle fa-3x pull-left" style="color: orange"></i>
		<form id="deleteForm" action="{{ post_url }}" method="post">
            <input name="token" type="hidden" value="{{ token }}"/>
			<p>{{ _('Do you really want to delete') }}
				{% if object.key.kind() == 'Comment' %}
					{{ _('comment submitted by') }}
					<strong>{{ object.author }}</strong>?
				{% elif object.key.kind() == 'Entry' %}
					{{ _('Blog') }} &quot;{{ object.headline }}&quot;
					{{ _('posted by') }}
					<strong>{{ object.author }}</strong>?
				{% elif object.key.kind() == 'Img' %}
					{{ _('image') }} &quot;{{ object.name }}&quot;
				{% elif object.key.kind() == 'Photo' %}
					{{ _('photo') }} &quot;{{ object.headline }}&quot;
					{{ _('posted by') }}
					<strong>{{ object.author }}</strong>?
				{% elif object.key.kind() == 'Feed' %}
					{{ _('News') }} &quot;{{ object.headline }}&quot;
					{{ _('posted by') }}
					<strong>{{ object.author }}</strong>?
				{% endif %}
			</p>
		   	<p class="buttons">
                <input type="hidden" name="next" value="{{ next }}"/>
                <button type="submit">{{ _('Delete') }}</button>
		   	</p>
		</form>
	</div>
</div>