<div class="popup">
    <h4>{{ _('Eqv. focal length') }}</h4>
    <a class="button close" title="{{ _('close') }}">{{ _('close') }}</a>
    <div class="content">
        <div id="chart"></div>
        <p class="explain">{{ _('Equivalent focal lengths are calculated for a full format sensor or 35 mm film camera, rounded to nearset 10') }}</p>
    </div>
</div>
<script>
    $(function() {
        var items = {{ items|to_json }};
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'name');
        data.addColumn('number', 'count');

        $.each(items, function(i, item) {
            data.addRow([item.name + ' mm', item.count]);
        });
        var chart = new google.visualization.PieChart($('#chart')[0]);
        chart.draw(data, chartOptions);
    })
</script>