<p class="cloud">
	{% for item in forkindcloud|sort(attribute='name') %}
        {% set selected = item.name == filter.value if filter else False %}
        <a class="{{ ['t%s' % item.size, 'selected' if selected]|css_classes }}"
			href="{{ uri_for(link, field='forkind', value=item.name) }}"
            title="{{ item.count }}">
			{% if item.name == "Entry" %}{{ _('for blog') }}{% endif %}
			{% if item.name == "Photo" %}{{ _('for photos') }}{% endif %}
			{% if item.name == "Application" %}{{ _('messages') }}{% endif %}
		</a>
	{% endfor %}
</p>