{% set titles = {
    'tags': _('Tags'), 'date': _('Dates'), 'author': _('Authors'), 'color': _('Color'), 'model': _('Camera model'),
    'lens': _('Lens type'), 'eqv': _('Eqv. focal length'), 'iso': _('Sensitivity')
} %}

<div class="modal-content">
    <span class="card-title">{{ titles[field] }}</span>
    <div class="row">
        <div class="col m6 s12">
            <div id="chart"></div>
        </div>
        <div class="col m6 hide-on-small-only">
            {% if field_name == 'color' %}
                <a href="http://99designs.com/tech-blog/blog/2012/05/11/color-analysis/" target="_blank">
                    {{ _('Based od colorific color extraction in CIE 2000 color space') }}</a>
            {% elif field_name == 'eqv' %}
                {{ _('Equivalent focal lengths are calculated for a full format sensor or 35 mm film camera') }}
            {% endif %}
        </div>
    </div>

    <script src="/static/scripts/d3.min.js"></script>
    <script>
        var colors = {{ colors|to_json }};
        var field = '{{ field }}';
        var data = d3.entries({{ items|to_json }});

        var width = 540,
            height = 250,
            radius = height / 2;

        var arc = d3.svg.arc()
            .outerRadius(radius)
            .innerRadius(radius/2);

        var pie = d3.layout.pie()
            .value(function(d) { return d.value; });

        var slice_color = d3.scale.category20();
        if (field == 'color') {
            var slice_colors = d3.nest().key(function(d) { return d.name; })
                .rollup(function(v) { return v[0].hex; }).map(colors);

            slice_color = d3.scale.ordinal()
                .domain(d3.keys(slice_colors))
                .range(d3.values(slice_colors));
        }

        var svg = d3.select('#chart').append('svg')
            .attr('width', width)
            .attr('height', height)
            .append('g')
            .attr('transform', 'translate(' + height / 2 + ',' + height / 2 + ')');

        var legendData = data.sort(function(a, b) { return b.value - a.value; }).slice(0, 9),
            legendRectSize = 18,
            legendSpacing = 4,
            legendHeight = legendRectSize + legendSpacing,
            offset = legendHeight * legendData.length / 2,
            left = height / 2 + 10;

        var legend = svg.selectAll('.legend')
            .data(legendData)
            .enter()
            .append('g')
            .attr('class', 'legend')
            .attr('transform', function(d, i) {
                var top = i * legendHeight - offset;
                return 'translate(' + left + ',' + top + ')';
        });

        var g = svg.selectAll('.arc')
            .data(pie(data))
            .enter().append('g')
            .attr('class', 'arc');

        g.append('path')
            .attr('d', arc)
            .style('fill', function(d) { return slice_color(d.data.key); })
            .append('title')
            .text(function(d) { return d.data.key + ': ' + d.value; });

        legend.append('rect')
            .attr('width', legendRectSize)
            .attr('height', legendRectSize)
            .style('fill', function(d) { return slice_color(d.key); });

        legend.append('text')
            .attr('x', legendRectSize + legendSpacing)
            .attr('y', legendRectSize - legendSpacing)
            .text(function(d) { return d.key; });

    </script>
</div>

<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn-flat">close</a>
</div>
