{% macro form_row(field) %}
    <p>
        {{ field.label(class='required' if field.flags.required else '') }}
        {{ field(**kwargs) }}
        {% if field.errors %}
            <span class="error C_{{ field.name }}">{{ field.errors|join(', ') }}</span>
        {% endif %}
    </p>
{% endmacro %}

{% macro _build(filters, kind) %}
    <div id="filters">
        {% for f in filters %}
            <a href="/visualize/{{ kind }}_{{ f.field }}" class="graph" title="{{ _('see graph') }}">{{ _('graph') }}</a>
            <a class="{{ f.field }} collapse" href="/filter/{{ kind }}_{{ f.field }}">{{ f.title }}
                {{ '[−]' if f.toggle else '[+]' }}</a>
            <div id="{{ f.field }}cloud" class="hide"></div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro menu(kind) %}
    {% set filter = filter|default({}) %}

    {% set _tags = {'field': 'tags', 'title': _('Tags'), 'toggle': filter.tags} %}
    {% set _date = {'field': 'date', 'title': _('Dates'), 'toggle': filter.year} %}
    {% set _author = {'field': 'author', 'title': _('Authors'), 'toggle': filter.author} %}
    {% set _colors = {'field': 'colors', 'title': _('Median color'), 'toggle': filter.hue or filter.lum} %}
    {% set _model = {'field': 'model', 'title': _('Camera model'), 'toggle': filter.model} %}
    {% set _lens = {'field': 'lens', 'title': _('Lens type'), 'toggle': filter.lens} %}
    {% set _eqv = {'field': 'eqv', 'title': _('Eqv. focal length'), 'toggle': filter.eqv} %}
    {% set _iso = {'field': 'iso', 'title': _('Sensitivity'), 'toggle': filter.iso} %}
    {% set _forkind = {'field': 'forkind', 'title': _('Type'), 'toggle': filter.forkind} %}

    <a href="{{ uri_for('photos') }}" title="{{ _('photo album') }}" class="Photo">{{ _('photo album') }}</a>
    {% if kind == 'Photo' %}
        {{ _build([_tags, _date, _author, _colors, _model, _lens, _eqv, _iso], kind) }}
    {% endif %}
    <a href="{{ uri_for('entries') }}" title="{{ _('Blog') }}" class="Entry">{{ _('Blog') }}</a>
    {% if kind == 'Entry' %}
        {{ _build([_tags, _date, _author], kind) }}
    {% endif %}
    <a href="{{ uri_for('comments') }}" title="{{ _('Comments') }}" class="Comment">{{ _('Comments') }}</a>
    {% if kind == 'Comment' %}
        {{ _build([_forkind, _date, _author], kind) }}
    {% endif %}
    <a href="{{ uri_for('feeds') }}" title="{{ _('News') }}" class="News">{{ _('News') }}</a>
    {% if kind == 'Feed' %}
        {{ _build([_tags], kind) }}
    {% endif %}
{% endmacro %}