{% if has_next or has_previous %}
    {% if filter %}
        {% if slug %}
            {% set url = uri_for('%s_filter' % name, field=filter.field, value=filter.value, slug=slug) %}
        {% else %}
            {% set url = uri_for('%s_filter' % name, field=filter.field, value=filter.value) %}
        {% endif %}
    {% else %}
        {% if slug %}
            {% set url = uri_for(name, slug=slug) %}
        {% else %}
            {% set url = uri_for(name) %}
        {% endif %}
    {% endif %}

    {% if has_previous %}
        {% if phrase %}
            <a{{ {'href': '%s?find=%s&page=%s' % (url, phrase, page - 1), 'class': prev_class}|xmlattr }}></a>
        {% else %}
            <a{{ {'href': '%s?page=%s' % (url, page - 1), 'class': prev_class}|xmlattr }}></a>
        {% endif %}
    {% else %}
        <span class="{{ prev_class }} na"></span>
    {% endif %}
    {% if has_next %}
        {% if phrase %}
            <a{{ {'href': '%s?find=%s&page=%s' % (url, phrase, page + 1), 'class': next_class}|xmlattr }}></a>
        {% else %}
            <a{{ {'href': '%s?page=%s' % (url, page + 1), 'class': next_class}|xmlattr }}></a>
        {% endif %}
    {% else %}
        <span class="{{ next_class }} na"></span>
    {% endif %}
{% endif %}
