{% extends "news/base.html" %}

{% block title %}{{ super() }} - {{ object.headline }}{% endblock %}

{% block subnav %}
    {% if is_admin %}
        <a href="{{ uri_for('feed_add') }}" title="{{ _('Add') }}">{{ _('Add') }}</a>
        <a href="{{ uri_for('feed_edit', slug=object.key.string_id()) }}" title="{{ _('Edit') }}">{{ _('Edit') }}</a>
        <a class="confirm" href="{{ uri_for('delete', safekey=object.key.urlsafe()) }}" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
    {% endif %}
    <a href="{{ uri_for('feeds') }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
{% endblock %}

{% block contents %}
<article class="plain nomargin">
	{% if error %}
{#		{% popup error %}#}
{#			<p>{{ _('News error') }}.<br/>{{ error }}.</p>#}
{#		{% endpopup %}#}
	{% endif %}
	
	{% if news %}
		<h2><a href="{{ news.feed.link }}">{{ object.headline }}</a></h2>
	
		{% if news.feed.subtitle or news.feed.rights %}
			<p class="copyright">
				{% if news.feed.subtitle %}
					<strong>{{ news.feed.subtitle|safe }}</strong>
				{% endif %}
				{{ news.feed.rights }}
			</p>
		{% endif %}
		<div class="subtitle">
			{{ news.version|upper }}{# if news.feed.generator %} {{ news.feed.generator }}{% endif #},
	
			{% if object.date %}{{ _('updated') }}:
				<time datetime="{{ object.date|format_datetime }}">
{#					{% trans with object.date|timesince as since %}{{ since }} ago{% endtrans %}#}
				</time>
			{% endif %}
			{% for tag in object.tags %}
				{% if loop.first %}| {{ _('tagged by') }}:{% endif %}
				<a href="{{ uri_for('feeds') }}tags/{{ tag }}/" title="{{ tag }}">
					{{ tag }}</a>{% if not loop.last %},{% endif %}
			{% endfor %}
		</div>
		
		<div id="container">
			{% for entry in news.entries %}
				<article class="third brick">
		            <div class="white">
		                <header>
		                    <h3><a href="{{ entry.link }}">{{ entry.title|safe }}</a></h3>
		                </header>
		                <div class="story">{{ entry.content|safe }}</div>
		                <p class="details">
		                    {{ entry.author|striptags }}
		                    {% if entry.date %}
{#		                        {% trans with entry.date|timesince as since %}{{ since }} ago{% endtrans %}#}
		                    {% endif %}
		                </p>
		            </div>
				</article>
			{% endfor %}
		</div>
	{% else %}
		<h2>{% trans title=object.headline %}No {{ title }} at the moment{% endtrans %}.</h2>
	{% endif %}
</article>
{% endblock %}
