{% extends "news/base.html" %}
{% block title %}{{ super() }} - {{ object.headline }}{% endblock %}

{% block contents %}
    <div class="page">
        {% if news %}
            <header>
                <h2><a href="{{ news.feed.link }}">{{ object.headline }}</a></h2>
                {% if news.feed.rights %}<p>{{ news.feed.rights }}</p>{% endif %}
                <p class="subtitle">
                    {{ news.version|upper }},
                    {# if news.feed.generator %} {{ news.feed.generator }}{% endif #}
                    {% if object.date %}{{ _('updated') }}:
                        <time datetime="{{ object.date|to_datetime }}">
                            {%- trans since=object.date|timesince %}{{ since }} ago{% endtrans -%}
                        </time>
                    {% endif %}
                    {% for tag in object.tags %}
                        {% if loop.first %}&nbsp;<i class="fa fa-tags"></i>{% endif %}
                        <a href="{{ uri_for('feed_filter_all', page=1, field='tags', value=tag) }}" title="{{ tag }}">
                            {{ tag }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
            </header>
            <article class="cols">
                {% for entry in news.entries %}
                    <section>
                        <h3><a href="{{ entry.link }}">{{ entry.title|safe }}</a></h3>
                        <div class="story">{{ entry.content|safe }}</div>
                        <p class="details">{{ entry.author|striptags }}
                            {% if entry.date %}
                                {%- trans since=entry.date|timesince %}{{ since }} ago{% endtrans -%}
                            {% endif %}
                        </p>
                    </section>
                {% endfor %}
            </article>
        {% else %}
            <header>
                <h2>{% trans title=object.headline %}No {{ title }} at the moment{% endtrans %}.</h2>
            </header>
            <article class="cols">
                {% if error %}
                    <section>
                        <p>{{ _('News error') }}.<br/>{{ error }}.</p>
                    </section>
                {% endif %}
            </article>
        {% endif %}
    </div>
{% endblock %}