{% extends "news/base.html" %}
{% import "snippets/macros.html" as m %}
{% block title %}{{ super() }} - {{ _('Add new / change existing news') }}{% endblock %}

{% block subnav %}
    {% if object %}
        {% if is_admin %}
            <a class="confirm" href="{{ object.get_absolute_url() }}/delete" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
            <a href="{{ object.get_absolute_url() }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
        {% endif %}
    {% else %}
        <a href="/news" title="{{ _('Back') }}">{{ _('Back') }}</a>
    {% endif %}
{% endblock %}

{% block head %}
{{ super() }}
<script src="/static/scripts/urlify.js"></script>
<script src="/static/scripts/jquery.autocomplete.js"></script>
<script>
$(function() {
	$('#id_headline').slugify();
	$('input, select').focusHighlight();
	$("#id_tags").autocomplete("/complete/feed/tags", {
		width: 284,
		selectFirst: false,
		multiple: true,
		matchContains: true
	});
	$('#main button').click(function() {
		$('#overlay, #spinner').show();
	});
});
</script>
{% endblock %}

{% block aside %}
	<p>{{ _('<strong>Slug</strong> uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
	<p>{{ _('<strong>Tags</strong> determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
	{% if object %}
		<p><strong>{{ _('Date') }}</strong> {{ _('Last modified date') }}.</p>
	{% endif %}
{% endblock %}

{% block contents %}
<article>
	<h2>{{ _('Add new / change existing news') }}</h2>
	{% if form.errors %}
		<div class="formerrors">
			<p>{{ _('Please correct errors in') }}
			{{ form.errors|join(", ") }}.</p>
		</div>
	{% endif %}
	
	{% if object %}
		<form action="{{ object.get_absolute_url() }}/edit" method="post">
	{% else %}
		<form action="/news/add" method="post">
	{% endif %}
		<fieldset>
            {{ m.form_row(form.headline) }}
            {% if not object %}
                {{ m.form_row(form.slug) }}
            {% endif %}
            {{ m.form_row(form.tags) }}
            {{ m.form_row(form.url) }}
			{% if object %}
                {{ m.form_row(form.date, disabled='disabled') }}
			{% endif %}
			<p class="buttons">
				<span class="required">{{ _('Required field') }}</span>
				<button type="submit">{{ _('done') }}</button>
			</p>
		</fieldset>
	</form>
</article>
{% endblock %}

{% block ga %}{% endblock %}
