{% extends "news/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}{{ super() }} - {{ _('Add new / change existing news') }}{% endblock %}

{% block contents %}
<aside>
    <nav class="submenu">
        <h2>
            {% if object %}
                {% if is_admin %}
                    <a class="confirm" href="{{ uri_for('delete', safe_key=object.key.urlsafe()) }}" title="{{ _('Delete') }}">{{ _('Delete') }}</a>
                    <a href="{{ uri_for('feed', slug=object.key.string_id()) }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
                {% endif %}
            {% else %}
                <a href="{{ uri_for('feed_all') }}" title="{{ _('Back') }}">{{ _('Back') }}</a>
            {% endif %}
        </h2>
    </nav>
    <p>{{ _('Slug uniquely represent record. It must start with letter and may contain only letters, numbers, underscores or hyphens. It is used for URL addresses.') }}</p>
	<p>{{ _('Tags determine record qualification to a group or a type of records. It is comma separated. Use english for wider understanding.') }}</p>
	{% if object %}
		<p><strong>{{ _('Date') }}</strong> {{ _('Last modified date') }}.</p>
	{% endif %}
</aside>
<article>
	<h2>{{ _('Add new / change existing news') }}</h2>
	{% if form.errors %}
		<div class="formerrors">
            <i class="icon-warning-sign icon-3x pull-left" style="color: orange"></i>
			<p>{{ _('Please correct errors in') }}
			{{ form.errors|join(", ") }}.</p>
		</div>
	{% endif %}
	
	{% if object %}
		<form action="{{ uri_for('feed_edit', slug=object.key.string_id()) }}" method="post">
	{% else %}
		<form action="{{ uri_for('feed_add') }}" method="post">
	{% endif %}
		<fieldset>
            <input name="token" type="hidden" value="{{ token }}"/>
            {{ m.form_row(form.headline) }}
            {% if not object %}
                {{ m.form_row(form.slug) }}
            {% endif %}
            {{ m.form_row(form.tags) }}
            {{ m.form_row(form.url) }}
			{% if object %}
                {{ m.form_row(form.date, disabled='disabled') }}
			{% endif %}
			<p class="buttons">
				<span class="required">{{ _('Required field') }}</span>
				<button type="submit">{{ _('done') }}</button>
			</p>
		</fieldset>
	</form>
</article>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        scripts.push('/static/scripts/news.form.min.js');
        deferred_load();
        update_cache();
    </script>
{% endblock %}
{% block ga %}{% endblock %}
