{% extends "news/base.html" %}

{% block title %}
	{{ super() }} - {{ _('News') }}
{% endblock %}

{% block subnav %}
    {% if is_admin %}
        <a href="{{ uri_for('feed_add') }}" title="{{ _('Add') }}">{{ _('Add') }}</a>
	{% else %}
		&nbsp;
    {% endif %}
{% endblock %}

{% block contents %}
	{% if objects %}
		<h2><a href="{{ uri_for('feeds') }}">{{ _('News') }}{% if page != 1 %} [{{ page }}]{% endif %}</a>
			{{ filter_title }}</h2>
	{% else %}
		<h2>{{ _('No news submitted') }}, {{ _('or filter has no results') }}.</h2>
	{% endif %}
	
	<div id="container">
		{% for object in objects %}
            {% if object %}
                <section class="third brick">
                    <time class="when" datetime='{{ object.date|format_datetime }}'>
                        <span class="day">{{ object.date|format_datetime("%d") }}</span>
                        <span class="time">{{ object.date|format_datetime("%H:%M") }}</span>
                        <span class="monthyear">{{ object.date|format_datetime("%m '%y") }}</span>
                    </time>
                    <a class="white{% if object.key.string_id()|incache %} old{% endif %}"
                        href="{{ uri_for('feed', slug=object.key.string_id()) }}" title="{{ object.headline }}">
                        <h3>{{ object.headline }}</h3>
                        <p class="posted">
                            {% if object.date %}{{ _('updated') }}:
                                {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                            {% endif %}
                        </p>
                    </a>
                </section>
            {% endif %}
		{% endfor %}
	</div>
{% endblock %}
