{% extends "news/base.html" %}
{% import "snippets/macros.html" as m %}

{% block title %}
	{{ super() }} - {{ _('News') }}
{% endblock %}

{% block subnav %}
    {% if is_admin %}
        <a href="{{ uri_for('feed_add') }}" title="{{ _('Add') }}">{{ _('Add') }}</a>
	{% else %}
		&nbsp;
    {% endif %}
{% endblock %}

{% block contents %}
    <h2>
        <a href="{{ uri_for('feeds') }}">{{ _('News') }}{% if page != 1 %} [{{ page }}]{% endif %}</a>
        {% if filter and filter.tags %}/ {{ filter.tags }}{% endif %}
        {% if page != 1 %} [{{ page }}]{% endif %}
    </h2>

	<div id="container">
		{% for object in objects %}
            {% if object %}
                <section class="third brick">
                    {{ m.time(object.date) }}
                    <a class="white{% if object.key.string_id()|incache %} old{% endif %}"
                        href="{{ uri_for('feed', slug=object.key.string_id()) }}" title="{{ object.headline }}">
                        <h3>{{ object.headline }}</h3>
                        <p class="posted">
                            {% if object.date %}{{ _('updated') }}:
                                {% trans since=object.date|timesince %}{{ since }} ago{% endtrans %}
                            {% endif %}
                        </p>
                    </a>
                </section>
            {% endif %}
        {% else %}
            <section class="third brick">
                <div class="white none">
                    <h3>{{ _('No news submitted') }}, {{ _('or filter has no results') }}.</h3>
                </div>
            </section>
		{% endfor %}
	</div>
{% endblock %}
