{% extends "base.html" %}
{% block title %}{{ super() }} - {{ _('Access denied') }} (403){% endblock %}

{% block subnav %}<a href="/">{{ _('Start ') }}</a>{% endblock %}

{% block contents %}
<article>
{#	{% popup forbidden %}#}
{#		<p><span class="error">FORBIDDEN</span>,#}
{#			<br/>{{ _('You don&apos;t have sufficient credentials') }}.</p>#}
{#	{% endpopup %}#}

    <h2>403 {{ error }}</h2>
{#	<p><span class="error">{{ message }}</span>,#}
{#		<br/>{{ _('You don&apos;t have sufficient credentials') }}.</p>#}
</article>
{% endblock %}

{% block ga %}{% endblock %}
