{% extends "base.html" %}
{% block title %}{{ super() }} - {{ _('Page not found') }} (404){% endblock %}

{% block nav %}
    <a href="/photos" title="{{ _('photo album') }}" class="Photo">{{ _('photo album') }}</a>
    <a href="/entries" title="{{ _('Blog') }}" class="Entry">{{ _('Blog') }}</a>
    <a href="/comments" title="{{ _('Comments') }}" class="Comment">{{ _('Comments') }}</a>
    <a href="/news" title="{{ _('News') }}" class="News">{{ _('News') }}</a>
{% endblock %}
{% block subnav %}<a href="/">{{ _('Start ') }}</a>{% endblock %}

{% block contents %}
<article>
{#	{% popup notfound %}#}
{#		<p>{% trans request_path=path %}Requested path<br/>{{ path }}<br/>could not be found{% endtrans %}.</p>#}
{#	{% endpopup %}#}
	
	<h2>404 {{ error }}</h2>
    <pre>{{ path }}</pre>
{#	<p>{% trans request_path=path %}Requested path<br/>{{ request_path }}<br/>could not be found{% endtrans %}.</p>#}
</article>
{% endblock %}

{% block ga %}{% endblock %}
