{% extends "base.html" %}
{% block title %}{{ super() }} - {{ _('Service unavailable') }} (503){% endblock %}

{% block nav %}
    <a href="/photos" title="{{ _('photo album') }}" class="Photo">{{ _('photo album') }}</a>
    <a href="/entries" title="{{ _('Blog') }}" class="Entry">{{ _('Blog') }}</a>
    <a href="/comments" title="{{ _('Comments') }}" class="Comment">{{ _('Comments') }}</a>
    <a href="/news" title="{{ _('News') }}" class="News">{{ _('News') }}</a>
{% endblock %}
{% block subnav %}<a href="/">{{ _('Start ') }}</a>{% endblock %}

{% block contents %}
<article>
	{% popup unavailable %}
		<p><span class="error">{{ message }}</span>
			<br/>{{ _('Thanks for your patience') }}.</p>
	{% endpopup %}
	
	<h2>{{ _('Service unavailable') }} (503)</h2>
	<p><span class="error">{{ message }}</span>
		<br/>{{ _('Thanks for your patience') }}.</p>
</article>
{% endblock %}

{% block ga %}{% endblock %}
