<!DOCTYPE html>
<html{{ {'lang': language(language_code)}|xmlattr }}>
{% import "snippets/macros.html" as m %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="verify-v1" content="500ha7MSGCMgwkQG3S+CaeF1KzDLZB3Q9Ly5o+R7g5w=">
	<meta name="keywords" content="gae, google appengine, google app engine, webapp2, jinja2, python, html5, andrejevic">
    <meta http-equiv="Content-Security-Policy" content="script-src https: 'self' 'unsafe-inline' 'unsafe-eval'">
	{% block meta %}<meta name="date" content="2008-03-01"/>{% endblock %}
	<title>{% block title %}ANDрејевићи{% endblock %}</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div id="header" class="header">
        <h1>
            <a href="{{ uri_for('start') }}">ANDрејевићи</a> |
            <a href="{{ uri_for('photo_all', page=1) }}">{{ _('Photos') }}</a> |
            <a href="{{ uri_for('entry_all', page=1) }}">{{ _('Blog') }}</a>
        </h1>
        <nav class="paginator">{% block paging %}{% endblock %}</nav>
    </div>
    <div id="footer" class="footer">
        <a href="{{ uri_for('admin_all') }}">{{ _('Administration') }}</a>
        {% if user %}{{ user.nickname() }}{% endif %}
        <form id="langs" class="right_ab" action="/setlang" method="post">
            {% for code, lang in all_languages %}
                <button{{ {'type': 'submit', 'name': 'language', 'value': code,
                    'class': 'current' if code == language_code else none,
                    'title': lang}|xmlattr }}>{{ language(code) }}</button>
            {% endfor %}
        </form>
        &nbsp;&nbsp;АNDS v.{{ version() }} 2008-{{ year() }}
    </div>
    <div id="main">
        {% block slideshow %}{% endblock %}
{#        {% block filters %}{% endblock %}#}
        {% block contents %}{% endblock %}
    </div>

    {% block scripts %}
        <script>token = '{{ token }}';</script>
        <script src="/static/scripts/jquery.grid-a-licious.min.js"></script>
        <script src="/static/scripts/jquery.infinitescroll.min.js"></script>
        <script src="/static/scripts/custom.min.js"></script>
    {% endblock %}

    {% block ga %}
        {% if not devel %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-8994922-1', 'ands.appspot.com');
                ga('send', 'pageview');
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>