<!DOCTYPE html>
<html{{ {'lang': language(language_code), 'manifest': '/cache.appcache' if caching else none}|xmlattr }}>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta name="verify-v1" content="500ha7MSGCMgwkQG3S+CaeF1KzDLZB3Q9Ly5o+R7g5w="/>
	<meta name="keywords" content="gae, google appengine, google app engine, webapp2, jinja2, python, html5, andrejevic"/>
    <meta http-equiv="Content-Security-Policy" content="script-src https: 'self' 'unsafe-inline' 'unsafe-eval'"/>
	{% block meta %}<meta name="date" content="2008-03-01"/>{% endblock %}
	<title>{% block title %}ANDрејевићи{% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="/static/css/base.css"/>
	<link type="application/rss+xml" rel="alternate" href="/rss/photo.xml" title="{{ _('photo rss') }}" />
	<link type="application/rss+xml" rel="alternate" href="/rss/entry.xml" title="{{ _('entry rss') }}" />
	<link type="image/x-icon" rel="shortcut icon" href="/static/images/favicon.ico"/>
</head>
{% import "snippets/macros.html" as m %}
<body>
	{% block modals %}
	<div id="overlay" class="hide"></div>
	<div id="confirm" class="modal"></div>
	<div id="spinner" class="modal">{{ m.spinner() }}</div>
	{% endblock %}
    <div id="progress"></div>

    <header id="header">
        <h1>
            <a href="{{ uri_for('start') }}" title="{{ _('Start') }}">ANDрејевићи</a>
            <span>online{% if user %} | {{ user.nickname() }}{% endif %}</span>
        </h1>
        <a class="icon-home icon-4x" href="{{ uri_for('start') }}" title="{{ _('Start') }}"></a>
        <label for="swipe" data-function='swipe' class="icon-reorder icon-4x" title="{{ _('Menu') }}"></label>
        <nav class="paginator">{% block paging %}{% include 'snippets/paginator.html' %}{% endblock %}</nav>
    </header>

    <div id="wrapper">
        <input type="checkbox" id="swipe" data-function="swipe"/>
        <nav class="menu">
            {% block forms %}
                <div id="forms">
                    <form id="langs" action="/setlang" method="post">
                        {% for code, lang in all_languages %}
                            <button{{ {'type': 'submit', 'name': 'language', 'value': code,
                                'class': 'current' if code == language_code else none,
                                'title': lang}|xmlattr }}>{{ language(code) }}</button>
                        {% endfor %}
                    </form>
                    <form id="searchForm" action="/search" method="get">
                        <button type="submit">{{ _('search') }}</button>
                        <input type="text" name="find"/>
                    </form>
                </div>
            {% endblock %}

            {% block nav %}{{ m.menu('') }}{% endblock %}
            {% if is_admin %}
                <a href="/admin/" title="{{ _('Administration') }}" class="Admin">{{ _('Administration') }}</a>
            {% endif %}
            <a href="/sign" class="Sign">{% if user %}{{ _('Logout') }}{% else %}{{ _('Sign in') }}{% endif %}</a>

            <p id="footer">© АNDS v.{{ version() }} 2008-{{ year() }}
                powered by <a href="http://code.google.com/appengine/">{{ gaesdk() }}</a>
            </p>
        </nav>
        <div id="main">{% block contents %}{% endblock %}</div>
    </div>

    <script src="/static/scripts/nbl.min.js"></script>
    {% block scripts %}
        <script>
            kind = '{{ kind }}';
            token = '{{ token }}';
            if (!navigator.onLine) document.querySelectorAll('#header span')[0].innerText = 'offline';
            window.applicationCache.addEventListener('progress', function(evt) {
                document.querySelector('#progress').style.width = (100 * evt.loaded / evt.total) + '%';
            }, false);
            window.applicationCache.addEventListener('updateready', function() {
                window.location.replace(window.location.href);
            }, false);
        </script>
    {% endblock %}

    {% block ga %}
        {% if not devel %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-8994922-1', 'ands.appspot.com');
                ga('send', 'pageview');
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>