<!DOCTYPE html>
<html{{ {'lang': language(language_code)}|xmlattr }}>
{% import "snippets/macros.html" as m %}
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta name="verify-v1" content="500ha7MSGCMgwkQG3S+CaeF1KzDLZB3Q9Ly5o+R7g5w="/>
	<meta name="keywords" content="gae, google appengine, google app engine, webapp2, jinja2, python, html5, andrejevic"/>
    <meta http-equiv="Content-Security-Policy" content="script-src https: 'self' 'unsafe-inline' 'unsafe-eval'"/>
	{% block meta %}<meta name="date" content="2008-03-01"/>{% endblock %}
	<title>{% block title %}ANDрејевићи{% endblock %}</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"/>
    <link rel="stylesheet" href="/static/scripts/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" href="/static/scripts/markitup/sets/buttons.css"/>
	<link rel="stylesheet" href="/static/css/base.css"/>
	<link type="application/rss+xml" rel="alternate" href="/rss/photo.xml" title="{{ _('photo rss') }}" />
	<link type="application/rss+xml" rel="alternate" href="/rss/entry.xml" title="{{ _('entry rss') }}" />
	<link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	{% block modals %}
	<div id="overlay" class="hide"></div>
	<div id="confirm" class="modal"></div>
	<div id="spinner" class="modal">{{ m.spinner() }}</div>
	{% endblock %}

    <header id="header">
        <h1>
            <a href="{{ uri_for('start') }}">ANDрејевићи</a>
            <span>{% if user %}{{ user.nickname() }}{% endif %}</span>
        </h1>
        <a class="fa fa-home fa-4x" href="{{ uri_for('start') }}" title="{{ _('Start') }}"></a>
        <label for="swipe" data-function='swipe' class="fa fa-bars fa-4x" title="{{ _('Menu') }}"></label>
        <nav class="paginator">{% block paging %}{% endblock %}</nav>
    </header>
    <div id="black"></div>

    <div id="wrapper">
        <input type="checkbox" id="swipe" data-function="swipe"/>
        <nav class="menu">
            {% block search %}
                <form id="searchForm" action="{{ uri_for('search', page=1) }}" method="get">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    <input type="text" name="find"/>
                </form>
            {% endblock %}
            {% block nav %}
                <ul class="fa-ul">
                    <li><a href="{{ uri_for('photo_all', page=1) }}" title="{{ _('Photos') }}"><i class="fa fa-camera"></i></a></li>
                    <li><a href="{{ uri_for('entry_all', page=1) }}" title="{{ _('Blog') }}"><i class="fa fa-file-text"></i></a></li>
                    {% if user %}
                        <li><a href="/admin/" title="{{ _('Administration') }}"><i class="fa fa-cog"></i></a></li>
                    {% else %}
                        <li><a href="/sign" title="{{ _('Log in') }}"><i class="fa fa-sign-in"></i></a></li>
                    {% endif %}
                </ul>
            {% endblock %}
            {% block footer %}
                <div id="footer">
                    <form id="langs" action="/setlang" method="post">
                        {% for code, lang in all_languages %}
                            <button{{ {'type': 'submit', 'name': 'language', 'value': code,
                                'class': 'current' if code == language_code else none,
                                'title': lang}|xmlattr }}>{{ language(code) }}</button>
                        {% endfor %}
                        <p>АNDS v.{{ version() }} 2008-{{ year() }}</p>
                    </form>
                </div>
            {% endblock %}
        </nav>
        <div id="main">{% block contents %}{% endblock %}</div>
    </div>
    {% block slideshow %}{% endblock %}

    {% block scripts %}
        <script>
            token = '{{ token }}';
        </script>
        <script src="/static/scripts/base.min.js"></script>
        <script src="/static/scripts/jquery.searchhighlight.min.js"></script>
    {% endblock %}

    {% block ga %}
        {% if not devel %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-8994922-1', 'ands.appspot.com');
                ga('send', 'pageview');
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>