{% extends "base.html" %}
{% block modals %}{% endblock %}

{% block contents %}{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        nbl.l([[
            'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js',
            '/static/scripts/common.min.js',
            '/static/scripts/base.min.js',
            'https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js',
                function() {done()}]]);
        function done() {
            $.getJSON('/latest', function(data) {
                $.backstretch(data, {fade: 1000, duration: 4000});
            });
        }
    </script>
{% endblock %}