<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% if title %}{{ title }}{% endif %}</title>
    <style type="text/css">{% include "css/main.css" %}</style>
    <style type="text/css">
      {% block css %}
        {% if css %}{{ css }}{% endif %}
      {% endblock%}
    </style>
    <script type="text/javascript">
      {% block javascript %}
        {% if javascript %}{{ javascript }}{% endif %}
      {% endblock%}
    </script>
    {% block head %}
      {% if head %} {{ head }} {% endif %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% if body %}{{ body }}{% endif %}
    {% endblock %}
  </body>
</html>
