{% extends "base.html" %}

{% block javascript %}
  ROOT_NAME = unescape('{{ root_name }}');
  REST_PATH = unescape('{{ rest_path }}');
{% endblock %}

{% block head %}
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  </script>
  <script type="text/javascript" src="{{ static_path }}index.js"></script>
  <script type="text/javascript">
    $(aeta.initialize);
  </script>
{% endblock %}

{% block body %}

<div id="left" class="larger-panel">
  <div id="index">
    <h1 id="index-title">Tests for {{ title }}</h1>
    <div id="checkboxes">
      <label>Show:</label>
      <input id="show-unstarted" type="checkbox" class="aet-show-box"
             checked="checked"/>
      <label for="show-unstarted">Not run</label>
      <input id="show-running" type="checkbox" class="aet-show-box"
             checked="checked"/>
      <label for="show-running">Running</label>
      <input id="show-error" type="checkbox" class="aet-show-box"
             checked="checked"/>
      <label for="show-error">Error</label>
      <input id="show-fail" type="checkbox" class="aet-show-box"
             checked="checked"/>
      <label for="show-fail">Failure</label>
      <input id="show-pass" type="checkbox" class="aet-show-box"
             checked="checked"/>
      <label for="show-pass">Passed</label>
    </div>
    <br/>
    <div id="root">
    </div>
    <p id="loading">Loading tests...</p>
  </div>
</div>

<div id="right" class="smaller-panel">
  <div id="details">
    <div id="details-header">
      <div id="displayed-test-name"></div>
      <button id="run-again" style="display: none;">Run again</button>
    </div>
    <pre id="output">No test selected.</pre>
  </div>
</div>


{% endblock %}
