.markItUp .h4 a { background-image: url(../skins/simple/images/h4.png); }
.markItUp .h5 a { background-image: url(../skins/simple/images/h5.png); }
.markItUp .h6 a { background-image: url(../skins/simple/images/h6.png); }
.markItUp .p a { background-image: url(../skins/simple/images/paragraph.png); }
.markItUp .b a { background-image: url(../skins/simple/images/bold.png); }
.markItUp .i a { background-image: url(../skins/simple/images/italic.png); }
.markItUp .s a { background-image: url(../skins/simple/images/stroke.png); }
.markItUp .ul a { background-image: url(../skins/simple/images/list-bullet.png); }
.markItUp .ol a { background-image: url(../skins/simple/images/list-numeric.png); }
.markItUp .li a { background-image: url(../skins/simple/images/list-item.png); }
.markItUp .quote a { background-image: url(../skins/simple/images/quote.png); }
.markItUp .images a { background-image: url(../skins/simple/images/pictures.png); }
.markItUp .imglink a { background-image: url(../skins/simple/images/picture_link.png); }
.markItUp .img a { background-image: url(../skins/simple/images/picture.png); }
.markItUp .a a { background-image: url(../skins/simple/images/link.png); }
.markItUp .clean a { background-image: url(../skins/simple/images/clean.png); }
.markItUp .preview a { background-image: url(../skins/simple/images/preview.png); }
.markItUp .table a { background-image: url(../skins/simple/images/table.png); }
.markItUp .tr a { background-image: url(../skins/simple/images/table_select_row.png); }
.markItUp .td a { background-image: url(../skins/simple/images/table_select_column.png); }
.markItUp .thead a { background-image: url(../skins/simple/images/table-thead.png); }
.markItUp .litlehelp a { background-image: url(../skins/simple/images/question_frame.png); }
